<template>
  <div class="main">

<div class="bot" >
  <Tabs value="1" @on-click="clickDetail">
    <TabPane label="故障记录" name="1"  >
      <div class="left" style="margin-bottom: 10px;">
        <Input v-model="query.deviceName" style="width: 160px;" placeholder="设备名称"/>
        <Input v-model="query.deviceRegistCode" style="width: 160px;" placeholder="设备注册代码"/>
        <Select style="width: 160px;" v-model="query.deviceType" >-->
          <Option v-for="list in sblxItem" :key="list.BIANMA" :value="list.BIANMA">{{list.NAME}}</Option>
        </Select>
        <Button type="primary" icon="ios-search" @click="getInfoMsg">查询</Button>
        <Button type="success" icon="ios-add" @click="showTitle(1)">新增</Button>
      </div>
      <Table  :loading="loading" border :columns="columns1" :data="data1" height="500"></Table>
      <Page  style="margin-top: 10px;text-align: center;" :total="query.total" @on-change="changePageNo" @on-page-size-change="changePageSize" :page-size="query.showCount"/>
    </TabPane>
    <TabPane label="维修记录" name="2" >
      <Button type="success" icon="ios-add" style="margin-bottom: 10px;" @click="show1 = true;title1 ='新增';form1={}">新增</Button>
      <Table  :loading="loading" border :columns="columns2" :data="data3"></Table>
    </TabPane>
  </Tabs>

</div>
<Modal :mask-closable='false'	
  v-model="show"
  :title="title"
  width="800"
>
  <Form :model="form" class="form" label-position="right" :label-width="120">
    <Row>
      <Col span="12">
      <FormItem label="设备注册代码：">
        <Input v-model="title == '详情'?form.deviceRegistCode:form.sbzcdm" :disabled="true" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="使用证编号：">
        <Input v-model="title == '详情'?form.certNum:form.syjbh" :disabled="true" />
      </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
      <FormItem label="设备名称：">
        <!--<Input v-model="form.deviceName" />-->
        <Select style="width: 126px;margin-right: 3%;" v-model="sbmc" @on-change="changeLb">
          <Option v-for="list in sblxItem" :key="list.BIANMA" :value="list.BIANMA">{{list.NAME}}</Option>
        </Select>
        <Select style="width: 126px;" v-model="sbmclx" @on-change="changeLbdetail">
          <Option v-for="list in sblxChildItem" :key="list.id" :value="list.id">{{list.SBMC}}</Option>
        </Select>
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="出厂编号：">
        <Input v-model="form.factoryCode" :disabled="true" />
      </FormItem>
      </Col>
    </Row> <Row>
      <Col span="12">
      <FormItem label="投用日期：">
        <Input v-model="form.usingTime" :disabled="true" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="安装地址：">
        <Input v-model="form.installAddr" :disabled="true" />
      </FormItem>
      </Col>
    </Row> <Row>
      <Col span="24">
      <FormItem label="使用状态：">
        <Input v-model="title == '详情'?form.isUsing:form.syztDetail" :disabled="true" />
      </FormItem>
      </Col>
    </Row>
    <!--<Table  :loading="loading" border :columns="columns3" :data="data3"></Table>-->
    <el-table v-if="title == '新增'" class="form" :data="data2" border >
      <el-table-column label="日期" align="center" >
        <template slot-scope="scope">
          <el-date-picker
            v-model="form.deviceRunFaultList[scope.$index].time"
            type="datetime"
            size="small"
            style="width: 100%;"
            value-format="yyyy-MM-dd HH:mm:ss"
            :disabled="disabled"
            placeholder="选择日期">
          </el-date-picker>
          <!--<Input v-model="form.time" :disabled="disabled" />-->
        </template>
      </el-table-column>
      <el-table-column label="故障/事故记录" align="center" >
        <template slot-scope="scope">
          <Input size="small" v-model="form.deviceRunFaultList[scope.$index].faultAccident" style="width: 100%;" :disabled="disabled" />

        </template>
      </el-table-column>
      <el-table-column label="记录人" align="center" >
        <template slot-scope="scope">
          <Input size="small" v-model="form.deviceRunFaultList[scope.$index].usernameRecord" style="width: 100%;" :disabled="disabled" />
        </template>
      </el-table-column>
      <el-table-column label="备注" align="center" >
        <template slot-scope="scope">
          <Input size="small" v-model="form.deviceRunFaultList[scope.$index].remark" style="width: 100%;" :disabled="disabled" />
        </template>
      </el-table-column>
      <el-table-column label="删除" align="center" >
        <template slot-scope="scope">
          <Button type="error" @click="deleteRow(scope.$index)">删除</Button>
        </template>
      </el-table-column>
    </el-table>
    <el-table v-else class="form" :data="data2" border >
      <el-table-column label="日期" align="center" >
        <template slot-scope="scope">
          <!--<Input v-model="form." :disabled="disabled" />-->
          <el-date-picker
            v-model="form.time"
            type="datetime"
            size="small"
            style="width: 100%;"
            value-format="yyyy-MM-dd HH:mm:ss"
            :disabled="disabled"
            placeholder="选择日期">
          </el-date-picker>
        </template>
      </el-table-column>
      <el-table-column label="故障/事故记录" align="center" >
        <template slot-scope="scope">
          <Input size="small" v-model="form.faultAccident" style="width: 100%;" :disabled="disabled" />

        </template>
      </el-table-column>
      <el-table-column label="记录人" align="center" >
        <template slot-scope="scope">
          <Input size="small" v-model="form.usernameRecord" style="width: 100%;" :disabled="disabled" />
        </template>
      </el-table-column>
      <el-table-column label="备注" align="center" >
        <template slot-scope="scope">
          <Input size="small" v-model="form.remark" style="width: 100%;" :disabled="disabled" />
        </template>
      </el-table-column>
      <!--<el-table-column v-if="!disabled" label="删除" align="center" >-->
        <!--<template slot-scope="scope">-->
          <!--<Button type="error" @click="deleteRow(scope.$index)">删除</Button>-->
        <!--</template>-->
      <!--</el-table-column>-->
    </el-table>
    <Button @click="addNew" v-if="title == '新增'" type="success" icon="ios-add" style="margin-top: 10px;">新增</Button>
  </Form>
  <div slot="footer">
    <Button  @click="show = false;">取消</Button>
    <Button type="primary" v-if="title == '新增'"  @click="addSave">保存</Button>
    <Button type="primary" v-else-if="title == '编辑'"  @click="editSave">保存</Button>
  </div>
</Modal>
    <Modal :mask-closable='false'	
      v-model="show1"
      :title="title1"
      width="800"
    >
      <Form :model="form1" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
          <FormItem label="保养日期：">
            <!--<Input v-model="form1.maintenanceDate" :disabled="disabled1" />-->
            <el-date-picker
              v-model="form1.maintenanceDate"
              type="datetime"
              size="small"
              value-format="yyyy-MM-dd HH:mm:ss"
              style="width: 100%;"
              :disabled="disabled"
              placeholder="选择日期">
            </el-date-picker>
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="保养维修内容：">
            <Input v-model="form1.repairContent" :disabled="disabled1" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="维修单位：">
            <Input v-model="form1.repairOrg" :disabled="disabled1" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="维修人员：">
            <Input v-model="form1.repairUser" :disabled="disabled1" />
          </FormItem>
          </Col>
        </Row> <Row>
        <Col span="24">
          <FormItem label="设备管理人员：">
          <Input v-model="form1.zzlxr" :disabled="disabled1" />
        </FormItem>
        </Col>

      </Row>
      </Form>
      <div slot="footer">
        <Button  @click="show = false;">取消</Button>
        <Button type="primary" v-if="title1 == '新增'"  @click="addSave1">保存</Button>
        <Button type="primary" v-else-if="title1 == '编辑'"  @click="editSave1">保存</Button>
      </div>
    </Modal>
<Modal :mask-closable='false'	
  v-model="wxshow"
  title="维修详情"
  width="800"
>
    <Table  :loading="loading" border :columns="columns4" :data="data4"></Table>
</Modal>
</div>
</template>

<script>
export default {
name: "gljg",
data(){
  return{
    form:{deviceRunFaultList:[{}]},
    sblxItem:[],
    sbmc:'',
    title:'',
    title1:'',
    sbmclx:'',
    disabled:false,
    disabled1:false,
    form1:{},
    show1:false,
    columns1: [
      {
        type: 'index',
        width: 80,
        align: 'center',
        title: '序号',
      },
      {
        title: '设备注册代码',
        key: 'deviceRegistCode',
        align: 'center',
      },
      {
        title: '使用证编号',
        key: 'certNum',
        align: 'center',
      },
      {
        title: '设备名称',
        key: 'deviceName',
        align: 'center',
      },{
        title: '出厂编号',
        key: 'factoryCode',
        align: 'center',
      },{
        title: '单位内部编号',
        key: 'c',
        align: 'center',
      },
      {
        title: '操作',
        key: 'cz',
        align: 'center',
        width: 200,
        render: (h, params) => {
          return h('div', [
            h('Button', {
              props: {
                type: 'primary',
                size: 'small'
              },
              style: {
                marginRight: '5px'
              },
              on: {
                click: () => {
                  this.showTitle(3,params.row.id);
                }
              }
            }, '查看'),
            h('Button', {
              props: {
                type: 'primary',
                size: 'small'
              },
              style: {
                marginRight: '5px'
              },
              on: {
                click: () => {
                  this.showTitle(2,params.row.id);
                }
              }
            }, '编辑'),
            h('Button', {
              props: {
                type: 'error',
                size: 'small'
              },
              style: {
                marginRight: '5px'
              },
              on: {
                click: () => {
                  this.$Modal.confirm({
                    title: '警告',
                    content: '是否确认删除？',
                    onOk: () => {
                      this.delete(params.row.id);
                    },
                  });
                }
              }
            }, '删除'),
          ]);
        }
      },
    ],
    columns2: [
      {
        type: 'index',
        width: 80,
        align: 'center',
        title: '序号',
      },
      {
        title: '保养日期',
        key: 'maintenanceDate',
        align: 'center',
        render: (h, params) => {
          return h('div', [
            h('span', {
              style: {
                display: 'inline-block',
                width: '100%',
                overflow: 'hidden',
                textOverflow: 'ellipsis',
                whiteSpace: 'nowrap'
              },
              domProps: {
                title: params.row.maintenanceDate
              }
            }, params.row.maintenanceDate)
          ]);
        }
      },
      {
        title: '保养维修内容',
        key: 'repairContent',
        align: 'center',
        render: (h, params) => {
          return h('div', [
            h('span', {
              style: {
                display: 'inline-block',
                width: '100%',
                overflow: 'hidden',
                textOverflow: 'ellipsis',
                whiteSpace: 'nowrap'
              },
              domProps: {
                title: params.row.repairContent
              }
            }, params.row.repairContent)
          ]);
        }
      },{
        title: '维修单位',
        key: 'repairOrg',
        align: 'center',
        render: (h, params) => {
          return h('div', [
            h('span', {
              style: {
                display: 'inline-block',
                width: '100%',
                overflow: 'hidden',
                textOverflow: 'ellipsis',
                whiteSpace: 'nowrap'
              },
              domProps: {
                title: params.row.repairOrg
              }
            }, params.row.repairOrg)
          ]);
        }
      },{
        title: '维修人员',
        key: 'repairUser',
        align: 'center',
      },{
        title: '设备管理人员',
        key: 'zzlxr',
        align: 'center',
      },
      {
        title: '操作',
        key: 'cz',
        align: 'center',
        width: 200,
        render: (h, params) => {
          return h('div', [
            h('Button', {
              props: {
                type: 'primary',
                size: 'small'
              },
              style: {
                marginRight: '5px'
              },
              on: {
                click: () => {
                  this.show1 = true;
                  this.form = {};
                  this.title = '编辑';
                  this.getDetail1(params.row.id)
                }
              }
            }, '编辑'),
            h('Button', {
              props: {
                type: 'error',
                size: 'small'
              },
              style: {
                marginRight: '5px'
              },
              on: {
                click: () => {
                  this.$Modal.confirm({
                    title: '警告',
                    content: '是否确认删除？',
                    onOk: () => {
                      this.delete1(params.row.id);
                    },
                  });
                }
              }
            }, '删除'),
          ]);
        }
      },
    ],
    columns3: [
      {
        title: '日期',
        key: 'time',
        align: 'center',
      },
      {
        title: '故障/事故记录',
        key: 'faultAccident',
        align: 'center',
      },
      {
        title: '记录人',
        key: 'usernameRecord',
        align: 'center',
      },{
        title: '备注',
        key: 'remark',
        align: 'center',
      },
    ],
    columns4: [
      {
        title: '保养日期',
        key: 'a',
        align: 'center',
      },
      {
        title: '保养维修内容',
        key: 'b',
        align: 'center',
      },
      {
        title: '维修单位',
        key: 'c',
        align: 'center',
      },{
        title: '维修人员',
        key: 'c',
        align: 'center',
      },{
        title: '设备管理人员',
        key: 'c',
        align: 'center',
      },
    ],
    data3:[],
    data1:[],
    data4:[],
    sblxChildItem:[],
    loading:false,
    loading1:false,
    data2: [{}],
    show:false,
    wxshow:false,
    query:{
      total:0,
      pageSize:10,
      pageNo:1,
      dType:0,
      compUsci:this.$store.state.user.compId
    },
    syztList:[],
    query1:{
      pageSize:10,
      pageNo:1,
      total:0,
      compUsci:this.$store.state.user.compId
    }
  }
},
created(){
  this.getSbLx();
  this.getInfoMsg();
  this.getSyzt();
  this.getWxMsg();
},
methods:{
  clickDetail(val){
    // this.query.pageSize = 10;
    // this.query.pageNo = 1;
    // if(val == 1){
    //   this.getInfoMsg();
    // }else{
    //
    // }
  },

  showTitle(num,id){
    if(num == 1){
      this.title = '新增'
      this.disabled = false;
      this.form = {deviceRunFaultList:[{}]};
    }else if (num == 2){
      this.disabled = false;
      this.title = '编辑'
      this.getDetail(id);
    }else{
      this.disabled = true;
      this.title = '详情'
      this.getDetail(id);
    }
    this.show = true;
  },
  addNew(){
    this.data2.push({});
    this.form.deviceRunFaultList.push({});
  },
  async changeLb(val){
    this.sbmclx = '';
    this.$set(this.form,'sbzcdm','');
    this.$set(this.form,'syjbh','');
    this.$set(this.form,'factoryCode','');
    this.$set(this.form,'usingTime','');
    this.$set(this.form,'installAddr','');
    this.$set(this.form,'syztDetail','');
    let res = await this.$fetch.get('glxx/listDeviceBySbType',{params:{sblb:val,usci:this.$store.state.user.compId}});
    this.sblxChildItem = res.data.result;
  },
  // 删除
  async delete(id){
    this.sbmclx = '';
    let res = await this.$fetch.delete('deviceRunFault/deleteDeviceRunFault',{params:{id :id}});
    this.getInfoMsg();
  },// 删除
  async delete1(id){
    this.sbmclx = '';
    let res = await this.$fetch.delete('deviceRepair/deleteDeviceRepair',{params:{id :id}});
    this.getWxMsg();
  },
  deleteRow(index){
    this.data2.splice(index,1);
    this.form.deviceRunFaultList.splice(index,1);
  },
  async changeLbdetail(){
    this.getDetailLx()
  },
  addWx(){
    this.show1 = true;
  },
  async addSave(){
    if(!this.sbmc && !this.sbmclx){
      this.$Message.error('请选择设备类型！');
      return false
    }
    let name = '';
    for(let f of this.sblxItem){
      if(f.BIANMA == this.sbmc){
        name = f.NAME
      }
    }
    for(let i of this.form.deviceRunFaultList){
      i.compId = this.$store.state.user.compId;
      i.deviceId = this.sbmclx;
      i.deviceType = this.sbmc;
      i.deviceName= name;
      i.deviceRegistCode = this.form.sbzcdm;
    }

    let res = await this.$fetch.post('deviceRunFault/addDeviceRunFault',this.form);
    if(res.data.success){
      this.$Message.success(res.data.message);
      this.show = false;
      this.getInfoMsg();
    }else{
      this.$Message.error(res.data.message);
    }
  }, async editSave(){
    if(!this.sbmc && !this.sbmclx){
      this.$Message.error('请选择设备类型！');
      return false
    }
    let name = '';
    for(let f of this.sblxItem){
      if(f.BIANMA == this.sbmc){
        name = f.NAME
      }
    }
    this.$set(this.form,'deviceName',name);
    this.$set(this.form,'deviceId',this.sbmclx);
    this.$set(this.form,'deviceType',this.sbmc);
    let res = await this.$fetch.post('deviceRunFault/updateDeviceRunFault',this.form);
    if(res.data.success){
      this.$Message.success(res.data.message);
      this.show = false;
      this.getInfoMsg();
    }else{
      this.$Message.error(res.data.message);
    }
  },
  async addSave1(){
    this.form1.compUsci = this.$store.state.user.compId;
    let res = await this.$fetch.post('deviceRepair/addDeviceRepair',this.form1);
    if(res.data.success){
      this.$Message.success(res.data.message);
      this.show1 = false;
      this.getWxMsg();
    }else{
      this.$Message.error(res.data.message);
    }
  }, async editSave1(){
    this.form1.compUsci = this.$store.state.user.compId;
    let res = await this.$fetch.post('deviceRepair/updateDeviceRepair',this.form1);
    if(res.data.success){
      this.$Message.success(res.data.message);
      this.show1 = false;
      this.getWxMsg();
    }else{
      this.$Message.error(res.data.message);
    }
  },
  async getDetail(id){
    this.data2 = [{}];
    let res = await this.$fetch.get('deviceRunFault/getDeviceRunFault',{params:{id:id}})
    this.form = Object.assign({deviceRunFaultList:[{}]},res.data.result);
    this.$set(this.form.deviceRunFaultList[0],'time',res.data.result.time);
    this.$set(this.form.deviceRunFaultList[0],'faultAccident',res.data.result.faultAccident);
    this.$set(this.form.deviceRunFaultList[0],'usernameRecord',res.data.result.usernameRecord);
    this.$set(this.form.deviceRunFaultList[0],'remark',res.data.result.remark);
    this.$set(this.form.deviceRunFaultList[0],'id',res.data.result.id);
    this.sbmc = res.data.result.deviceType;
    await this.changeLb(this.sbmc);
    this.sbmclx = res.data.result.deviceId;
    this.getDetailLx();

    // this.data2.push({usernameRecord:this.form.usernameRecord,faultAccident:this.form.faultAccident,remark:this.form.remark,time:this.form.time})

  },
  async getDetail1(id){
    this.data2 = [{}];
    let res = await this.$fetch.get('deviceRepair/getDeviceRepair\n',{params:{id:id}})
    this.form1 = Object.assign({},res.data.result);

    // this.data2.push({usernameRecord:this.form.usernameRecord,faultAccident:this.form.faultAccident,remark:this.form.remark,time:this.form.time})

  },
  // 使用状态字典
  async getSyzt(){
    let res = await this.$fetch.get('index/getIsUsingDict');
    this.syztList = res.data.result;
  },
  // 获取设备详情信息
  async getDetailLx(id,type){
    let res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:this.sbmclx,sbType:this.sbmc}})
    // this.$set(this.form,'sbmclxWz',res.data.result.sbmc);
    // this.$set(this.form,'sbxh',res.data.result.sbxh);
    // this.$set(this.form,'sbdm',res.data.result.sbdm);
    // this.$set(this.form,'sydwdz',res.data.result.sydwdz);
    if(!res.data.result){
      return
    }
    let syztDetail = '';
    for(let i of this.syztList){
      if(res.data.result.syzt == i.BIANMA){
        syztDetail = i.NAME
      }
    }
    this.$set(this.form,'syztDetail',syztDetail);
    this.$set(this.form,'sbzcdm',res.data.result.sbzcdm);
    this.$set(this.form,'syjbh',res.data.result.syjbh);
    this.$set(this.form,'syztDetail',res.data.result.sbzcdm);
    this.$set(this.form,'syzt',res.data.result.syzt);
    // this.form =Object.assign(this.form,{deviceRunFaultList:[{}],syztDetail:syztDetail},res.data.result)
  },
  async getSbLx(){
    let res = await this.$fetch.get('index/getDeviceDict');
    this.sblxItem = res.data.result;
  },
  // 分页
  changePageNo(val){
    this.query.pageNo = val;
    this.getInfoMsg();
  },
  changePageSize(val){
    this.query.pageSize = val;
    this.getInfoMsg();
  },
  // 故障记录
  async getInfoMsg(){
    this.loading = true;
    this.data1 = [];
    let res = await this.$fetch.get('deviceRunFault/pageDeviceRunFault',{params:this.query});
    this.data1 = res.data.result.records;
    this.query.total = res.data.result.total;
    this.loading = false;
  },
  // 维修记录
  async getWxMsg(){
    this.loading1 = true;
    this.data3 = [];
    let res = await this.$fetch.get('deviceRepair/pageDeviceRepair',{params:this.query1});
    this.data3 = res.data.result.records;
    this.query1.total = res.data.result.total;
    this.loading1 = false;
  },
  }
}
</script>

<style scoped lang="scss">
.main{
padding: 10px;
display: flex;
flex-direction: column;
height: 100%;

.bot{
  flex: 1;
}
}
</style>
