<template>
  <div class="main">
    <div class="left">
      <!--<Tree style="width: 200px;" :data="data2" :load-data="loadData" :render="renderContent" ></Tree>-->
      <Input v-model="query.dName" style="width: 200px;" placeholder="请输入文件名称" />
      <!--<Select  v-model="query.cUsic" placeholder="请输入企业名称" filterable style="width: 180px">-->
      <!--<Option v-for="list in companyList" :key="list.cid" :value="list.cusci">{{list.cname}}</Option>-->
      <!--</Select>-->
      <Button type="primary" icon="ios-search" @click="getSbList"></Button>
      <Button type="success" icon="ios-add" @click="showTitle(1)">新增</Button>
    </div>
    <div class="bot" style="margin-top: 10px;" ref="mid">
      <Table :height="winHeight" :loading="loading" border :columns="columns1" :data="data1"></Table>
    </div>
    <Page
      :total="query.total"
      @on-change="changePageNo"
      @on-page-size-change="changePageSize"
      :page-size="query.pageSize"
      style="text-align: center;"
    />
    <Modal :mask-closable="false" v-model="show" title="新增">
      <div>
        <div style="display: flex;align-items: center;">
          <!--<Select  v-model="form.cUsic" placeholder="请选择类型" filterable style="width: 180px;margin-bottom: 8px;margin-right: 10px;">-->
          <!--<Option :value="0">使用单位</Option>-->
          <!--<Option :value="1">生产单位</Option>-->
          <!--<Option :value="2">检验单位</Option>-->
          <!--<Option :value="3">经营单位</Option>-->
          <!--<Option :value="4">充装单位</Option>-->
          <!--</Select>-->
          <!--<Select  v-model="form.cUsic" placeholder="请输入企业名称" filterable style="width: 180px;margin-bottom: 8px;">-->
          <!--<Option v-for="list in companyList" :key="list.cid" :value="list.cusci">{{list.cname}}</Option>-->
          <!--</Select>-->
          <Upload action :before-upload="beforeUpload">
            <Button icon="ios-cloud-upload-outline">上传</Button>
          </Upload>
          <!--<Upload action="http://36.154.40.222:8085/jeecg-boot/doc/addDoc" >-->
          <!--<Button icon="ios-cloud-upload-outline">上传</Button>-->
          <!--</Upload>-->
        </div>
        <!--<div style="text-align: center;">-->
        <!--<img v-if="srcList" :src="srcList" style="width:500px;">-->
        <!--<Button @click="lookDetail">查看</Button>-->
        <!--</div>-->
        <Table style="margin-top: 4px;" height="400" border :columns="columns2" :data="data2"></Table>
      </div>
      <div slot="footer">
        <Button @click="add" :loading="sureLoading">确认</Button>
        <Button @click="show = false;">取消</Button>
      </div>
    </Modal>
    <Modal :mask-closable="false" v-model="show1" title="新增">
      <img style="width: 500px;" :src="src" />
      <div slot="footer">
        <Button @click="show2 = false;">取消</Button>
      </div>
    </Modal>
    <Modal :mask-closable="false" v-model="zyDetail" title="详情">
      <Form :model="formDet" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="文件名称：">
              <Input v-model="formDet.dname" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件大小：">
              <Input v-model="formDet.dsize" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件有效期：">
              <Input v-model="formDet.dvaliditydate" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件上传时间：">
              <Input v-model="formDet.duploadDate" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件类型：">
              <Input v-model="dtype" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件类型：" style="border-right: 1px solid #ddd;">
              <Button style="margin-left: 10px;" @click="look" size="small">查看</Button>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="zyDetail = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "gljg",
  data() {
    return {
      show: false,
      sureLoading: false,
      show1: false,
      zyDetail: false,
      srcList: "",
      form: {
        dType: 14,
        cUsic: ""
      },
      formDet: {},
      dtype: "",
      src: "",
      columns1: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "文件名称",
          key: "dname",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.dname
                  }
                },
                params.row.dname
              )
            ]);
          }
        },
        {
          title: "文件大小",
          key: "dsize",
          align: "center"
        },
        {
          title: "上传时间",
          key: "duploadDate",
          align: "center",
          render: (h, params) => {
            let date = new Date(params.row.duploadDate);
            let y = date.getFullYear();
            let M =
              date.getMonth() + 1 < 10
                ? "0" + (date.getMonth() + 1)
                : date.getMonth() + 1;
            let d = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return h("div", y + "-" + M + "-" + d);
          }
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showTitle(2, params, 1);
                      // window.open('http://36.154.40.222:8085/jeecg-boot/'+ params.row.durl,"_blank")
                      this.zyDetail = true;
                      this.getAqDetail(params.row.did);
                    }
                  }
                },
                "查看"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "success",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      // this.showTitle(2, params, 1);
                      this.downLoad(params.row.did);
                    }
                  }
                },
                "下载"
              )
            ]);
          }
        }
      ],
      columns2: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "文件名称",
          key: "a",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.a
                  }
                },
                params.row.a
              )
            ]);
          }
        },
        {
          title: "文件大小",
          key: "b",
          align: "center"
        },
        {
          title: "上传时间",
          key: "c",
          align: "center"
        }
      ],
      data1: [],
      winHeight: null,
      loading: false,
      data2: [],
      query: {
        total: 0,
        pageSize: 10,
        pageNo: 1,
        dType: 14,
        cUsic: this.$store.state.user.compId
      },
      companyList: [],
      file: "",
      wjList: []
    };
  },
  created() {
    // this.getInfoMsg();
    this.getSbList();
    this.getWjlxMsg();
  },
  mounted() {
    setTimeout(() => {
      this.winHeight = this.$refs.mid.offsetHeight;
    }, 200);
  },
  methods: {
    // 安全管理
    async getAqDetail(id) {
      this.formDet = {};
      let res = "";
      res = await this.$fetch.get("doc/getDoc", { params: { dId: id } });
      this.formDet = Object.assign({}, res.data.result);
      for (let i of this.wjList) {
        if (i.BIANMA == res.data.result.dtype) {
          this.dtype = i.NAME;
        }
      }
    },
    look() {
      window.open(
        "http://36.154.40.222:8085/jeecg-boot/" + this.formDet.durl,
        "_blank"
      );
    },
    // lookDetail(){
    //   window.open('http://36.154.40.222:8085/jeecg-boot/'+ this.formDet.durl,"_blank")
    // },
    async getWjlxMsg() {
      let res = await this.$fetch.get("index/getFileTypeDict");
      this.wjList = res.data.result;
    },
    showTitle() {
      this.show = true;
      this.data2 = [];
    },
    // 树结构 企业列表
    async getInfoMsg() {
      let res = await this.$fetch.get("company/listComapny", {
        params: this.query
      });
      this.companyList = res.data.result;
    },
    // 获取列表
    async getSbList() {
      this.loading = true;
      this.data1 = [];
      let res = await this.$fetch.get("doc/pageDoc", { params: this.query });
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    async downLoad(id) {
      // let res = await this.$fetch({
      //   url:'doc/downloadDoc',
      //
      // })
      // let blob = new Blob([res.data], {type: "application/force-download"});
      // let objectUrl = URL.createObjectURL(blob);
      window.open(
        "http://36.154.40.222:8085/jeecg-boot/doc/downloadDoc?dId=" + id,
        "_blank"
      );
    },
    // 新增
    async add() {
      if (!this.file) {
        this.$Message.error("请选择上传内容！");
        return;
      }
      this.sureLoading = true;
      let params = new FormData();
      params.append("cUsic", this.$store.state.user.compId);
      params.append("mf", this.file);
      params.append("dType ", 14);
      let res = await this.$fetch.post("doc/addDoc", params);
      this.show = false;
      this.sureLoading = false;
      this.$Message.success("上传成功");
      this.getSbList();
    },
    beforeUpload(file) {
      this.file = file;
      console.log(file);
      this.data2 = [{ a: file.name, b: file.size }];
      // let data = file.name.split('.')[1];
      // if(data!="bmp"&&data!="jpg"&&data!="jpeg"&&data!="png"&&data!="gif"){
      //
      // }else{
      //   const reader = new FileReader()
      //   reader.readAsDataURL(file)
      //   reader.onload = () => {
      //     const _base64 = reader.result
      //     this.srcList = _base64 //将_base64赋值给图片的src，实现图片预览
      //   }
      // }

      return false;
    },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getSbList();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    }
  }
};
</script>

<style scoped lang="scss">
.main {
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  .left {
  }
  .bot {
    flex: 1;
  }
}
</style>
<style lang="scss">
.ivu-upload-list {
  margin-bottom: 0px !important;
}
</style>
