<template>
  <div class="infor">
    <!--<div class="left">-->
    <!--<Tree :data="data2" :load-data="loadData" @on-select-change='select'></Tree>-->
    <!--</div>-->
    <div class="right" >
      <div class="top" v-show="!showList">
        <Input v-model="query.ownNumber" style="width: 200px;" placeholder="请输入自由编号" />
        <Select v-model="query.stationCode" v-if="!query.sblx" style="width:180px" >
          <!--<Option value="">全部</Option>-->
          <Option  v-for="list in listSteam" :value="list.stationCode" placeholder="请选择充装单位" :key="list.stationCode">{{list.stationName}}</Option>
        </Select><Select v-model="query.cylinderTypeCode" v-if="!query.sblx" style="width:180px;margin-left: 4px ;" placeholder="请选择气瓶类型">
        <!--<Option value="">全部</Option>-->
        <Option  v-for="list in zlList" :value="list.cylinderTypeCode" :key="list.cylinderTypeCode">{{list.cylinderTypeName}}</Option>
      </Select>
        <Select v-model="query.mediumCode" v-if="!query.sblx" style="width:180px" placeholder="请选择充装介质">
          <!--<Option value="">全部</Option>-->
          <Option  v-for="list in listJz" :value="list.mediumCode" :key="list.mediumCode">{{list.mediumName}}</Option>
        </Select>
        <Select v-model="query.factoryCode" v-if="!query.sblx" style="width:180px" placeholder="请选择制造单位">
          <!--<Option value="">全部</Option>-->
          <Option  v-for="list in listDw" :value="list.factoryCode" :key="list.factoryCode">{{list.factoryName}}</Option>

        </Select>
        <Select v-model="query.validNumber" v-if="!query.sblx" style="width:180px" placeholder="请选择">
          <!--<Option value="">全部</Option>-->
          <Option :value="0">逾期未检验瓶</Option>
          <Option :value="1">逾期未报废瓶</Option>
        </Select>
        <!--<DatePicker type="date" v-model="query.startDate" placeholder="请选择开始日期" style="width: 200px;margin-top: 10px;"></DatePicker>-->
        <!--<DatePicker type="date" v-model="query.endStart" placeholder="请选择结束日期" style="width: 200px;margin-top: 10px;"></DatePicker>-->
        <el-date-picker
          v-model="query.startDate"
          type="date"
          value-format="yyyy-MM-dd"
          style="width: 190px;margin-top: 10px;"
          placeholder="请选择开始日期">
        </el-date-picker>
        <el-date-picker
          v-model="query.endStart"
          type="date"
          value-format="yyyy-MM-dd"
          style="width: 190px;margin-top: 10px;"
          placeholder="请选择结束日期">
        </el-date-picker>
        <Button type="primary" icon="ios-search" @click="getSbList">查询</Button>
        <Button type="success" icon="md-add" @click.native='showTitle(1)'>新增</Button>
      </div>
      <div class="mid" v-show="!showList" ref="mid">
        <Table border style="width: 100%;" v-show="!showList" :loading="loading" :columns="columns1" :height="Height" :data="data1"></Table>
      </div>
      <div class="bot" v-show="!showList">
        <Page @on-change="changePageNo" @on-page-size-change="changePageSize" :page-size="query.pageSize" :total="query.total"  />
      </div>
    </div>
    <el-dialog
      :visible.sync="show"
      :title="title"
      width="70%"
    >
      <Form :model="form" class="form" label-position="right" :label-width="200">
        <Row>
          <Col span="12">
          <FormItem label="充装单位：">
            <!--<Input v-model="form.stationName" :disabled="disabled" />-->
            <Select v-model="form.stationcode" :disabled="disabled"  style="width:100%" placeholder="请选择充装单位">
              <Option  v-for="list in listSteam" :value="list.stationCode" :key="list.stationCode">{{list.stationName}}</Option>
            </Select>
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="制造单位：">
            <!--<Input v-model="form.factoryName" :disabled="disabled" />-->
            <Select  v-model="form.factorycode" :disabled="disabled"  style="width:100%" placeholder="请选择制造单位">
              <Option  v-for="list in listDw" :value="list.factoryCode" :key="list.factoryCode">{{list.factoryName}}</Option>
            </Select>
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="出厂编号：">
            <Input v-model="form.factorynumber" :disabled="disabled" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="制造年月：">
            <!--<Input v-model="form.factorydate" :disabled="disabled" />-->
            <el-date-picker
              v-model="form.factorydate"
              type="date"
              value-format="yyyy-MM-dd"
              :disabled="disabled"
              style="width: 100%;"
              placeholder="请选择日期">
            </el-date-picker>
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="气瓶种类：">
            <!--<Input v-model="form.cylinderTypeName" :disabled="disabled" />-->
            <Select v-model="form.cylindertypecode" :disabled="disabled"  style="width:100%"  placeholder="请选择气瓶类型">
              <Option  v-for="list in zlList" :value="list.cylinderTypeCode" :key="list.cylinderTypeCode">{{list.cylinderTypeName}}</Option>
            </Select>
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="充装介质：">
            <!--<Input v-model="form.mediumName" :disabled="disabled" />-->
            <Select v-model="form.mediumcode" :disabled="disabled"  style="width:100%" placeholder="请选择充装介质">
              <Option  v-for="list in listJz" :value="list.mediumCode" :key="list.mediumCode">{{list.mediumName}}</Option>
            </Select>
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="状态：">
            <Input v-model="form.status" :disabled="disabled" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="条形码：">
            <Input v-model="form.barcode" :disabled="disabled" />
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="联系方式：">
            <Input v-model="form.data07" :disabled="disabled" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="上报单位：">
            <Input v-model="form.stationName" :disabled="disabled" />
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="上报时间：">
            <!--<Input v-model="form.recordTime" :disabled="disabled" />-->
            <el-date-picker
              v-model="form.recordTime"
              type="date"
              value-format="yyyy-MM-dd"
              :disabled="disabled"
              style="width: 100%;"
              placeholder="请选择日期">
            </el-date-picker>
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="修改单位：">
            <Input v-model="form.stationName" :disabled="disabled" />
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="末次修改时间：">
            <!--<Input v-model="form.lastupdatetime" :disabled="disabled" />-->
            <el-date-picker
              v-model="form.lastupdatetime"
              type="date"
              value-format="yyyy-MM-dd"
              :disabled="disabled"
              style="width: 100%;"
              placeholder="请选择日期">
            </el-date-picker>
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="自有编号：">
            <Input v-model="form.ownnumber" :disabled="disabled" />
          </FormItem>
          </Col>
        </Row>
        <Row><Col span="12">
          <FormItem  label="设备地址：" prop="address">
            <Input  v-model="form.address" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem  style="border-right: 1px solid #ddd;" label="设备坐标：" prop="address">
            <Input style="width: 70%;" v-model="form.zb" />
            <Button v-if="title != '详情'" @click="init">查询</Button>
          </FormItem>
          </Col>
        </Row>
        <Row v-for="(list,index) in videoList" :key="index">
          <Col span="12">
          <FormItem label="视频IP  ：" style="border-bottom: 1px solid #ddd;">
            <Input v-model="videoList[index].vip" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="视频端口：" style="border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">
            <Input v-model="videoList[index].vport" style="width: 60%;" />
            <Button v-if="title != '详情'" @click="addNew" type="success" size="small" style="margin-right: 10px;">新增</Button>
            <Button @click="remove(index)" size="small" v-if="index != 0" type="error"  style="margin-right: 10px;">删除</Button>
            <Button v-if="title != '新增'" @click="addNew" type="success" size="small" style="margin-right: 10px;">视频</Button>
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="视频账号：" class="tbNone" style="border-bottom: 1px solid #ddd;">
            <Input v-model="videoList[index].vaccount" />
          </FormItem>
          </Col> <Col span="12" style="display: none">
          <FormItem label="视频账号：" class="tbNone">
            <Input v-model="videoList[index].vid" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="视频密码：" class="tbNone" style="border-bottom: 1px solid #ddd;">
            <Input v-model="videoList[index].vpassword" />
          </FormItem>
          </Col>
        </Row>
        <el-dialog
          :visible.sync="modal9"
          title="地图"
          append-to-body
          width="60%"
        >
          <div>坐标：<Input v-model="form.zb" style="width: 200px;margin-bottom: 10px;" /></div>
          <div id="map" style="height: 400px;width: 100%">

          </div>
          <div slot="footer" class="dialog-footer">
            <Button @click="modal9 = false;">取消</Button>
            <Button type="primary"  @click="modal9 = false;" v-if="title !='详情'">保存</Button>
          </div>
        </el-dialog>
      </Form>
      <div slot="footer" class="dialog-footer">
        <Button size="small" @click="show = false;">取消</Button>
        <Button type="primary" size="small" @click="saveGl" v-if="title !='详情'">保存</Button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        model1: '',
        modal9:false,
        videoList:[{}],
        show: false,
        disabled: false,
        Height:null,
        title: '',
        showList: false,
        dis: 0,
        numList: 0,
        form: {},
        edit: {},
        columns11: [
          {
            type: 'index',
            width: 70,
            align: 'center',
            title: '序号'
          },
          {
            title: '单位名称',
            key: 'a',
            align: 'center',
            width: 120,
          },
          {
            title: '详细地址',
            key: 'b',
            width: 260,
            align: 'center'
          },
          {
            title: '所在地区',
            key: 'c',
            align: 'center'
          },
          {
            title: '联系人',
            key: 'd',
            align: 'center'
          }, {
            title: '联系电话',
            key: 'd',
            align: 'center'
          },
          {
            title: '操作',
            key: 'cz',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.showTitle(2, params);
                    }
                  }
                }, '修改'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  on: {
                    click: () => {
                    }
                  }
                }, '删除')
              ]);
            }
          },
        ],
        data11: [
          {
            a: '王清',
            b: '320102197508042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy.jpg'
          },
          {
            a: '李伟',
            b: '320102199208042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy.jpg'
          },
          {
            a: '张峰',
            b: '320102198808042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy1.jpg'
          },
          {
            a: '王斌',
            b: '320102196508042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy1.jpg'
          },
          {
            a: '陈伟',
            b: '320102197508042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy1.jpg'
          },
        ],
        columns3: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
            fixed: 'left',
          },
          {
            title: '设备名称',
            key: 'a',
            align: 'center',
            width: 100,
            fixed: 'left',
          },
        ],
        columns5: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '文件名称',
            key: 'a',
            align: 'center',
          },
          {
            title: '文件大小',
            key: 'b',
            align: 'center',
          },
          {
            title: '上传时间',
            key: 'c',
            align: 'center',
          },
          {
            title: '操作',
            key: 'cz',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                }, '查看'),
                h('Button', {
                  props: {
                    type: 'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                }, '下载'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                }, '删除'),
              ]);
            }
          },
        ],
        columns4: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '姓名',
            key: 'a',
            align: 'center',
          },
          {
            title: '人员类型',
            key: 'e',
            align: 'center',
          },
          {
            title: '联系电话',
            key: 'b',
            align: 'center',
          },
          {
            title: '操作证类别',
            key: 'c',
            align: 'center',
          },
          {
            title: '操作证有效期',
            key: 'd',
            align: 'center',
          },
          {
            title: '操作证图片',
            key: 'f',
            fixed: 'right',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('img', {
                  style: {
                    width: '80px',
                    height: '61px',
                    cursor: 'pointer',
                  },
                  attrs: {
                    'src': '/static/234.png',
                    // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                  },
                  on: {
                    click: (e) => {
                      this.src = e.srcElement.currentSrc;
                      this.show2 = true;
                    }
                  }
                }),
              ])
            }
          },

        ],
        data3: [
          {
            a: '陈伟',
            b: '1385172312',
            c: '锅炉作业	',
            d: '2019-05-23',
            e: '安全管理员',
            f: '../../static/20190521223419.jpg',
          },
          {
            a: '张斌',
            b: '1385172312',
            c: '锅炉作业	',
            d: '2019-05-23',
            e: '作业人员',
          },
          {
            a: '王伟',
            b: '1385172312',
            c: '锅炉作业	',
            d: '2019-05-23',
            e: '水处理人员',
          },
        ],
        data4: [
          {
            a: '安装清洗资料',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '安全附件相关信息',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '化学清洗技术资料',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '锅炉设备出场资料',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
        ],
        data7: [
          {
            a: '定期检验报告(30)',
            b: '30K',
            c: '2019-05-19  11:22:00',
          },
          {
            a: '定期检验报告(19)',
            b: '30K',
            c: '2019-05-14  11:22:00',
          },
          {
            a: '定期检验报告(22)',
            b: '30K',
            c: '2019-04-22  11:22:00',
          },
          {
            a: '定期检验报告(26)',
            b: '30K',
            c: '2019-04-12  11:22:00',
          },
        ],
        data5: [
          {
            a: '安全附件校检记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '锅炉定期检验记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '巡回检查记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '日常维护保养记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '水处理记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '定期自行检查记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '应急救援演练记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '交接班记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
        ],
        columns1: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '充装单位',
            key: 'stationName',
            align: 'center',
            width:140,
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.stationName
                  }
                }, params.row.stationName)
              ]);
            }
          },
          {
            title: '制造单位',
            key: 'factoryName',
            align: 'center',
            width:140,
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.factoryName
                  }
                }, params.row.factoryName)
              ]);
            }
          },
          {
            title: '出厂编号',
            key: 'factoryNumber',
            align: 'center',
            width:140,
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.factoryNumber
                  }
                }, params.row.factoryNumber)
              ]);
            }
          },
          {
            title: '制造年月',
            width:140,
            key: 'lastUpdateTime',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.lastUpdateTime
                  }
                }, params.row.lastUpdateTime)
              ]);
            }
          },{
            title: '气瓶种类',
            width:140,
            key: 'cylinderTypeName',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.cylinderTypeName
                  }
                }, params.row.cylinderTypeName)
              ]);
            }
          },{
            title: '充装介质',
            width:140,
            key: 'mediumName',
            align: 'center',
          },{
            title: '状态',
            width:140,
            key: 'status',
            align: 'center',
          },{
            title: '条形码',
            key: 'barcode',
            width:140,
            align: 'center',
          },
          // {
          //   title: '车牌号码',
          //   width:140,
          //   key: 'data02',
          //   align: 'center',
          // },
          {
            title: '联系方式',
            width:140,
            key: 'yxrq',
            align: 'center',
          },{
            title: '上报单位',
            width:140,
            key: 'stationName',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.stationName
                  }
                }, params.row.stationName)
              ]);
            }
          },{
            title: '上报时间',
            key: 'recordTime',
            width:140,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.recordTime
                  }
                }, params.row.recordTime)
              ]);
            }
          },{
            title: '修改单位',
            key: 'stationName',
            width:140,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.stationName
                  }
                }, params.row.stationName)
              ]);
            }
          },{
            title: '末次修改时间',
            width:140,
            key: 'lastUpdateTime',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.lastUpdateTime
                  }
                }, params.row.lastUpdateTime)
              ]);
            }
          },{
            title: '自有编号',
            width:140,
            key: 'yxrq',
            align: 'center',

          },
          {
            title: '操作',
            key: 'cz',
            fixed: 'right',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                       this.getDetail(params.row.id )

                      this.title = '编辑'
                      this.show = true;
                      // this.form = Object.assign({},params.row);
                    }
                  }
                }, '编辑'),
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.getDetail(params.row.id )

                      this.title = '详情'
                      this.show = true;
                      // this.form = Object.assign({},params.row);
                    }
                  }
                }, '详情'),
              ]);
            }
          },
        ],
        data1: [],
        loading:false,
        add:{},
        data2: [{
          title: '全部',
          loading: false,
          number: 0,
          children: []
        }],
        query: {
          pageSize: 10,
          pageNum: 1,
          total:0,
          stationCode:'',
          compId:this.$store.state.user.compId
        },
        zlList:[],
        listSteam:[],
        listDw:[],
        listJz:[],
      }
    },
    mounted(){
      setTimeout(()=>{
        this.Height = this.$refs.mid.offsetHeight;
      },500);
    },
    created(){
      this.getSbList();
      this.getZl();
      this.getCom();
      this.getDw();
      this.getJz();
    },
    methods:{
      // 分页
      changePageNo(val){
        this.query.pageNum = val;
        this.getSbList();
      },
      changePageSize(val){
        this.query.pageSize = val;
        this.getSbList();
      },
      // 树结构 企业列表
      async getInfoMsg(){
        this.loading = true;
        let res = await this.$fetch.get('/yqapi/rest/workOrder/listWorkOrder',{params:this.query});
        this.data1 =  res.data.varList;
        this.query.total = res.data.page.totalResult;
        this.loading= false;
      },
      // 获取详情
      async getDetail(id){
        this.show = true;
        let res = await this.$fetch('ariBottleRecordData/getaribottlerecorddata',{params:{aribottlerecorddataId:id}})
        this.form = Object.assign({},res.data.result);
        // console.log(this.form);

        this.$set(this.form,'factorycode',res.data.result.factorycode.toString())
        this.$set(this.form,'cylindertypecode',res.data.result.cylindertypecode.toString())
        this.$set(this.form,'mediumcode',res.data.result.mediumcode.toString())
        this.getGps(id )
      },
      // 树结构 设备列表
      async getSbTreeList(id){
        let res = await this.$fetch.get('glxx/getCompanysDeviceInfo',{params:{usci:id}});
        return res.data.result;
      },
      async getZl(){
        let res = await this.$fetch.get('ariBottleRecordData/listAriBottleType');
        this.zlList = res.data;
      },
      async getCom(){
        let res = await this.$fetch.get('ariBottleRecordData/listSteamStation');
        this.listSteam = res.data;
      },async getDw(){
        let res = await this.$fetch.get('ariBottleRecordData/listManufacturer');
        this.listDw = res.data;
      },async getJz(){
        let res = await this.$fetch.get('ariBottleRecordData/listFillingMedium');
        this.listJz = res.data;
      },
      // 获取列表
      async getSbList(){
        this.loading = true;
        this.data1 = [];
        let res = await this.$fetch.get('ariBottleRecordData/listAriBottle',{params:this.query})
        this.data1 = res.data.list;
        this.query.total = res.data.totalPage;
        this.loading = false;
      },
      openFile(){
        document.getElementById("file").click();
      },
      showTitle(id){
        this.show = true;
        this.title = '新增';
        this.form ={};
      },
      addNew(){
        this.videoList.push({vid:this.videoList[0].vid,vdeviceId:this.videoList[0].vdeviceId});
      },
      remove(index){
        this.videoList.splice(index,1);
      },
      init(){
        this.modal9 = true;
        setTimeout(() =>{
          this.initMap();
        },200)
      },
      initMap(){
        let _this = this;

        var map = new BMap.Map("map");
        map.centerAndZoom("南京",12);
        //单击获取点击的经纬度
        map.addEventListener("click",function(e){
          _this.$set(_this.form,'zb',e.point.lng + "," + e.point.lat)
        });
        _this.opts = {
          width : 250,     // 信息窗口宽度
          height: 250,     // 信息窗口高度
          enableMessage:true//设置允许信息窗发送短息
        };
        if(!this.form.zb){
          return
        }else{
          this.form.latitude = this.form.zb.split(',')[1]
          this.form.longitude = this.form.zb.split(',')[0]
        }
        var maker2 = new BMap.Icon("../../static/green.jpg", new BMap.Size(30, 34));
        var marker = new BMap.Marker(new BMap.Point(_this.form.longitude,_this.form.latitude),{icon:maker2});  // 创建标注
        map.addOverlay(marker);               // 将标注添加到地图中

      },
      //设备类型字典
      async getGps(id){
        let res = await this.$fetch.get('mapInfo/listPositionVo',{params:{fid:id}});
        this.$set(this.form,'zb',res.data.list[0].longitude+','+res.data.list[0].latitude)
        this.$set(this.form,'fid',res.data.list[0].fid)
      },
      async saveGl(){
        let res = ''
        if(this.form.zb){
          this.form.latitude = this.form.zb.split(',')[1]
          this.form.longitude = this.form.zb.split(',')[0]
        }
        this.form.videoList = this.videoList;
        if(this.title == '新增'){
          res = await this.$fetch.post('ariBottleRecordData/addaribottlerecorddata?address='+this.form.address+'&latitude='+this.form.latitude+'&longitude='+this.form.longitude+'&type=SB7000',this.form);
        }else{
          res = await this.$fetch.put('ariBottleRecordData/updatearibottlerecorddata?address='+this.form.address+'&latitude='+this.form.latitude+'&longitude='+this.form.longitude+'&type=SB7000&id='+this.form.fid,this.form);
        }
        if(res.data.success){
          this.show = false;
          this.$Message.success('保存成功!');
          this.getSbList();
        }else{
          this.$Message.error(res.data.message);
        }
      },
    }
  }
</script>

<style lang="scss">


</style>
<style lang='scss' scoped>
  .left:hover{
    overflow-y: scroll;
    transition: all .5s;
  }
  .logo-title {
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin: 10px 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .editFlex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #87888b;
    &:first-child{
      margin-top: 20px;
    }
    label{
      flex: .3;
      text-align: justify;
      text-align-last:justify;
      &::after{
        display: flex;
        content: "";
        overflow: hidden;
        width: 100%;
        height: 0;
      }
    }
    .ivu-input-wrapper,.ivu-select,.ivu-date-picker,.ivu-upload{
      flex: 1;
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }

  .spe{
    background: #fff !important;
  }
  .logoImg{
    display: flex;
    align-items: center;
    img{
      cursor: pointer;
      max-width: 40px;
      margin-right: 10px;
      vertical-align: bottom;
    }
    &>div{
      flex: .5;
      display: flex;
      align-items: center;

    }
  }
  .publicItem{
    padding: 6px 0;
    display: flex;
    justify-content: center;
  }
  .publicItem:nth-child(even){
    background: #f1f3f8;

  }
  .ivu-tabs-content{
    height: 100%;
  }
  .wrappper-title {
    position: relative;
    background-color: #fff;
    // border-bottom:1px solid #e8edf7;
    font-size: 14px;
    .el-button--primary.is-plain {
      color: #409EFF;
      background: #ecf5ff;
      border-color: #b3d8ff;
    }
    .el-button {
      box-shadow: 0 3px 6px #d0d0d0;
      padding: 7px 15px;
      border-radius: 3px;
      transition: .1s;
      font-weight: 500;
      box-sizing: border-box;
      outline: 0;
      -webkit-appearance: none;
      text-align: center;
      border: 1px solid #dcdfe6;
      line-height: 1;
      white-space:nowrap;
      display: inline-block;
      cursor: pointer;
    }
    .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
      background: #409EFF;
      border-color: #409EFF;
      color: #fff;
    }
    i{
      color: #62a0de!important;
      background-color: #62a0de!important;
    }
    .circle+span{
      vertical-align: middle;
      color: #62a0de!important;
      cursor: pointer;
    }
  }
  .flex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #87888b;
    label{
      text-align: right;
      flex: .25;
      font-size: 14px;
      color: #87888b;
      margin-right: 10px;
    }

    span,img,.ivu-input-wrapper,.ivu-date-picker,.ivu-select{
      flex: .5;
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }
  .infor{
    display: flex;
    height: 100%;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    .left{
      border-right:1px solid #ccc;
      margin-right: 10px;
      height: 100%+1;
      flex: .16;
    }
    .right{
      display: flex;
      height: 100%;
      width: 100%;
      overflow: hidden;
      flex-direction: column;
      padding-left: 1px;
      .mid{
        margin-top: 10px;
        flex: 1;
      }
      .top{
        margin-bottom: 10px;
      }
      .bot{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
      }
    }

  }
  .ivu-upload{
    display: flex;
  }
</style>
