<template>
  <div class="main">
    <div class="left">
      <!--<Select style="width: 200px;" filterable>-->
      <!--<Option v-for="list in companyList" :key="list.cid" :value="list.cid ">{{list.cname}}</Option>-->
      <!--</Select>-->
      <Input v-model="query.username" placeholder="请输入使用人" style="width: 160px;" />
      <Button type="primary" icon="ios-search" @click="getSbList"></Button>
      <Button type="success" icon="ios-add" @click="add">新增</Button>
    </div>
    <div class="bot" ref="mid">
      <Table :loading="loading" :height="winHeight" border :columns="columns1" :data="data1"></Table>
    </div>
    <Page
      :total="query.total"
      @on-change="changePageNo"
      @on-page-size-change="changePageSize"
      :page-size="query.pageSize"
      style="margin: 10px 0;text-align: center;"
    />
    <Modal :mask-closable='false'	 v-model="show" :title="title" width="1000" @on-ok="addSave">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="使用地点：">
              <Input v-model="form.sydwdz" :disabled="true" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="设备名称：">
              <!--<Input v-model="form.sbmcWz" :disabled="disabled" style="width: 50%;"  />-->
              <!--<Input v-model="form.sbmclxWz" :disabled="disabled" style="width: 49%;" />-->
              <Select
                style="width: 48%;margin-right: 3%;"
                :disabled="disabled"
                v-model="sbmc"
                @on-change="changeLb"
              >
                <Option
                  v-for="list in sblxItem"
                  :key="list.BIANMA"
                  :value="list.BIANMA"
                >{{list.NAME}}</Option>
              </Select>
              <Select
                style="width: 48%;"
                v-model="sbmclx"
                :disabled="disabled"
                @on-change="changeLbdetail"
              >
                <Option v-for="list in sblxChildItem" :key="list.id" :value="list.id">{{list.SBMC}}</Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="规格型号：">
              <Input v-model="form.sbxh" :disabled="true" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="设备编号：">
              <Input v-model="form.sbdm" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <!--<Table  border :columns="columns2" :data="data2" ></Table>-->
        <el-table v-if="title != '新增'" class="form" :data="data2" border>
          <el-table-column label="日期" align="center">
            <template slot-scope="scope">
              <el-date-picker
                v-model="form.time"
                type="datetime"
                size="small"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%;"
                :disabled="disabled"
                placeholder="选择日期"
              ></el-date-picker>
              <!--<Input v-model="form.time" :disabled="disabled" />-->
            </template>
          </el-table-column>
          <el-table-column label="使用人" align="center">
            <template slot-scope="scope">
              <Input
                size="small"
                v-model="form.username"
                style="width: 100%;"
                :disabled="disabled"
              />
            </template>
          </el-table-column>
          <el-table-column label="运行状况" align="center">
            <el-table-column label="是否正常" align="center">
              <template slot-scope="scope">
                <el-select
                  size="small"
                  v-model="form.isNormal"
                  :disabled="disabled"
                  style="width: 100%;"
                >
                  <el-option :value="0" label="是"></el-option>
                  <el-option :value="1" label="否"></el-option>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column label="异常现象描述" align="center">
              <template slot-scope="scope">
                <Input
                  size="small"
                  v-model="form.exceptionDesc"
                  style="width: 100%;"
                  :disabled="disabled"
                />
              </template>
            </el-table-column>
            <el-table-column label="处理结果" align="center">
              <template slot-scope="scope">
                <Input
                  size="small"
                  v-model="form.result"
                  style="width: 100%;"
                  :disabled="disabled"
                />
              </template>
            </el-table-column>
            <el-table-column label="备注" align="center">
              <template slot-scope="scope">
                <Input
                  size="small"
                  v-model="form.remark"
                  style="width: 100%;"
                  :disabled="disabled"
                />
              </template>
            </el-table-column>
          </el-table-column>
        </el-table>
        <el-table v-else class="form" :data="data2" border>
          <el-table-column label="日期" align="center">
            <template slot-scope="scope">
              <el-date-picker
                v-model="form.deviceRunRecordList[scope.$index].time"
                type="datetime"
                size="small"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%;"
                class="selectTime"
                :disabled="disabled"
                placeholder="选择日期"
              ></el-date-picker>
              <!--<Input v-model="form.time" :disabled="disabled" />-->
            </template>
          </el-table-column>
          <!--<el-table-column label="时间" align="center" >-->
          <!--<template slot-scope="scope">-->
          <!--<el-date-picker-->
          <!--v-model="form.deviceRunRecordList[scope.$index].sbdm"-->
          <!--style="width: 100%;"-->
          <!--type="datetime"-->
          <!--size="small"-->
          <!--value-format="yyyy-MM-dd HH:mm:ss"-->
          <!--:disabled="disabled"-->
          <!--placeholder="选择日期" align="center" >-->
          <!--</el-date-picker>-->
          <!--&lt;!&ndash;<Input v-model="form.sbdm" :disabled="disabled" />&ndash;&gt;-->
          <!--</template>-->
          <!--</el-table-column>-->
          <el-table-column label="使用人" align="center">
            <template slot-scope="scope">
              <Input
                size="small"
                v-model="form.deviceRunRecordList[scope.$index].username"
                style="width: 100%;"
                :disabled="disabled"
              />
            </template>
          </el-table-column>
          <el-table-column label="运行状况" align="center">
            <el-table-column label="是否正常" align="center">
              <template slot-scope="scope">
                <el-select
                  size="small"
                  style="width: 100%;"
                  :disabled="disabled"
                  v-model="form.deviceRunRecordList[scope.$index].isNormal"
                >
                  <el-option :value="0" label="是"></el-option>
                  <el-option :value="1" label="否"></el-option>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column label="异常现象描述" align="center">
              <template slot-scope="scope">
                <Input
                  size="small"
                  v-model="form.deviceRunRecordList[scope.$index].exceptionDesc"
                  style="width: 100%;"
                  :disabled="disabled"
                />
              </template>
            </el-table-column>
            <el-table-column label="处理结果" align="center">
              <template slot-scope="scope">
                <Input
                  size="small"
                  v-model="form.deviceRunRecordList[scope.$index].result"
                  style="width: 100%;"
                  :disabled="disabled"
                />
              </template>
            </el-table-column>
            <el-table-column label="备注" align="center">
              <template slot-scope="scope">
                <Input
                  size="small"
                  v-model="form.deviceRunRecordList[scope.$index].remark"
                  style="width: 100%;"
                  :disabled="disabled"
                />
              </template>
            </el-table-column>
            <el-table-column label="删除" align="center">
              <template slot-scope="scope">
                <Button type="error" @click="deleteRow(scope.$index)">删除</Button>
              </template>
            </el-table-column>
          </el-table-column>
        </el-table>
        <Button
          @click="addNew"
          v-if="title =='新增'"
          type="success"
          icon="ios-add"
          style="margin-top: 10px;"
        >新增</Button>
      </Form>
      <div slot="footer">
        <Button @click="show = false;">取消</Button>
        <Button type="primary" v-if="title != '查看详情'" @click="addSave">保存</Button>
      </div>
    </Modal>
    <!--<Modal :mask-closable='false'	-->
    <!--v-model="show"-->
    <!--title="新增"-->
    <!--width="800"-->
    <!--&gt;-->
    <!--<Form :model="form" class="form" label-position="right" :label-width="120">-->
    <!--<Row>-->
    <!--<Col span="12">-->
    <!--<FormItem label="使用地点：">-->
    <!--<Input v-model="form.usingAddr" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--<Col span="12">-->
    <!--<FormItem label="设备名称：">-->
    <!--<Input v-model="form.deviceName" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--</Row>-->
    <!--<Row style="border-bottom: 1px solid #ddd;">-->
    <!--<Col span="12">-->
    <!--<FormItem label="规格型号：">-->
    <!--<Input v-model="form.deviceSpec" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--<Col span="12">-->
    <!--<FormItem label="设备编号：">-->
    <!--<Input v-model="form.input3" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--</Row>-->
    <!--<Row>-->
    <!--<Col class="publicItem" span="24">-->
    <!--<Col class="flex" span="6" style="text-align: center;">-->
    <!--<label style="flex: 1;">序号</label>-->
    <!--</Col><Col class="flex" span="6">-->
    <!--<label style="flex: 1;">设备注册代码</label>-->
    <!--</Col><Col class="flex" span="6" >-->
    <!--<label style="flex: 1;">设备名称</label>-->
    <!--</Col><Col class="flex" span="6" >-->
    <!--<label style="flex: 1;">设备编号</label>-->
    <!--</Col>-->
    <!--</Col>-->
    <!--<Col class="publicItem" span="24" v-for="(list,index) in item" :key="index">-->
    <!--<Col class="flex" span="6" style="text-align: center;">-->
    <!--{{index}}-->
    <!--</Col><Col class="flex" span="6" style="text-align: center;">-->
    <!--<Input style="flex:1" placeholder="请输入设备注册代码" />-->
    <!--</Col><Col class="flex" span="6" style="text-align: center;">-->
    <!--<Input style="flex:1" placeholder="请输入设备名称" />-->
    <!--</Col><Col class="flex" span="6" style="text-align: center;">-->
    <!--<Input style="flex:1" placeholder="请输入设备编号" />-->
    <!--</Col>-->
    <!--</Col>-->
    <!--<Col :span="24" style="text-align: center;">-->
    <!--<Button @click="addNew" type="success" icon="ios-add">新增</Button>-->
    <!--</Col>-->
    <!--</Row>-->
    <!--</Form>-->
    <!--</Modal>-->
  </div>
</template>

<script>
export default {
  name: "gljg",
  data() {
    return {
      form: { deviceRunRecordList: [{}] },
      item: [],
      winHeight: null,
      disabled: false,
      sbmc: "",
      sbmclx: "",
      title: "",

      columns1: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "使用人",
          key: "username",
          align: "center"
        },
        {
          title: "设备类型",
          key: "deviceType",
          align: "center"
        },
        {
          title: "组织机构代码",
          key: "compUsci",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.compUsci
                  }
                },
                params.row.compUsci
              )
            ]);
          }
        },
        {
          title: "记录添加时间",
          key: "addUserTime",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.addUserTime
                  }
                },
                params.row.addUserTime
              )
            ]);
          }
        },
        // {
        //
        //   title: '记录添加人',
        //   key: 'addUserName',
        //   align: 'center',
        // },
        {
          title: "异常现象描述",
          key: "exceptionDesc",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.exceptionDesc
                  }
                },
                params.row.exceptionDesc
              )
            ]);
          }
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(1, params.row.id);
                    }
                  }
                },
                "查看"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "success",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(2, params.row.id);
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "警告",
                        content: "是否确认删除？",
                        onOk: () => {
                          this.delete(params.row.id);
                        }
                      });
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      columns2: [
        {
          title: "日期",
          key: "name",
          align: "center",
          render: (h, params) => {
            return h("DatePicker ", {
              props: {
                clearable: false,
                placeholder: "请选择日期",
                value: params.row[params.column.key],
                type: "date",
                format: "yyyy-MM-dd",
                size: "small"
              },
              on: {
                "on-change": val => {
                  this.form[params.index][params.column.key] = val;
                }
              }
            });
          }
        },
        {
          title: "时间",
          key: "name",
          align: "center"
        },
        {
          title: "使用人",
          key: "name",
          align: "center"
        },
        {
          title: "运行状况",
          align: "center",
          children: [
            {
              title: "是否正常",
              key: "age",
              align: "center"
            },
            {
              title: "异常现象描述",
              align: "center"
            },
            {
              title: "处理结果",
              align: "center"
            },
            {
              title: "备注",
              align: "center"
            }
          ]
        }
      ],
      data1: [],
      loading: false,
      data2: [{}],
      show: false,
      query: {
        total: 0,
        pageSize: 10,
        pageNo: 1,
        compUsci: sessionStorage.getItem("compId")
      },
      companyList: [],
      sblxItem: [],
      sblxChildItem: []
    };
  },
  created() {
    this.getSbList();
    this.getSbLx();
  },
  mounted() {
    setTimeout(() => {
      this.winHeight = this.$refs.mid.offsetHeight;
    }, 500);
  },
  methods: {
    async changeLb(val) {
      this.sbmclx = "";
      this.$set(this.form, "sydwdz", "");
      this.$set(this.form, "sbxh", "");
      this.$set(this.form, "sbdm", "");
      let res = await this.$fetch.get("glxx/listDeviceBySbType", {
        params: { sblb: val, usci: this.$store.state.user.compId }
      });
      this.sblxChildItem = res.data.result;
    },
    async changeLbdetail() {
      this.getDetailLx();
    },
    async getSbLx() {
      let res = await this.$fetch.get("index/getDeviceDict");
      this.sblxItem = res.data.result;
    },
    showTitle(num, id) {
      this.form = {};
      if (num == 1) {
        this.title = "查询详情";
        this.disabled = true;
      } else {
        this.title = "编辑";
        this.disabled = false;
      }
      this.show = true;

      this.getDetail(id);
    },
    deleteRow(index) {
      this.data2.splice(index, 1);
      this.form.deviceRunRecordList.splice(index, 1);
    },
    // 获取列表
    async getSbList() {
      this.loading = true;
      this.data1 = [];
      let res = await this.$fetch.get("deviceRunRecord/pageDeviceRunRecord", {
        params: this.query
      });
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    async getDetail(id) {
      let res = await this.$fetch.get("deviceRunRecord/getDeviceRunRecord", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
      this.changeLb(res.data.result.deviceType);
      this.sbmc = res.data.result.deviceType;
      for (let i of this.sblxItem) {
        if (i.BIANMA == this.sbmc) {
          this.$set(this.form, "sbmcWz", i.NAME);
        }
      }
      this.sbmclx = res.data.result.deviceId;
      this.getDetailLx();
    },
    // 获取设备详情信息
    async getDetailLx(id, type) {
      let res = await this.$fetch.get("glxx/getGlxx", {
        params: { glxxId: this.sbmclx, sbType: this.sbmc }
      });
      if (!res.data.result) {
        return;
      }
      this.$set(this.form, "sbmclxWz", res.data.result.sbmc);
      this.$set(this.form, "sbxh", res.data.result.sbxh);
      this.$set(this.form, "sbdm", res.data.result.sbdm);
      this.$set(this.form, "sydwdz", res.data.result.sydwdz);
    },
    add() {
      this.form = { deviceRunRecordList: [{}] };
      this.sbmc = "";
      this.sbmclx = "";
      this.title = "新增";
      this.disabled = false;
      this.show = true;
    },
    addNew() {
      this.data2.push({});
      this.form.deviceRunRecordList.push({});
    },
    async addSave() {
      if (!this.sbmc && !this.sbmclx) {
        this.$Message.error("请选择设备类型！");
        return false;
      }

      if (this.title == "新增") {
        for (let i of this.form.deviceRunRecordList) {
          i.deviceType = this.sbmc;
          i.deviceId = this.sbmclx;
          i.compUsci = this.$store.state.user.compId;
        }
        this.saveSubmit();
      } else {
        this.editSubmit();
      }
    },
    async saveSubmit() {
      let res = await this.$fetch.post(
        "deviceRunRecord/addDeviceRunRecord",
        this.form
      );
      if (res.data.success) {
        this.show = false;
        this.$Message.success(res.data.message);
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    async editSubmit() {
      let res = await this.$fetch.post(
        "deviceRunRecord/addDeviceRunRecord",
        this.form
      );
      if (res.data.success) {
        this.$Message.success(res.data.message);
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    async delete(id) {
      let res = await this.$fetch.delete(
        "deviceRunRecord/deleteDeviceRunRecord",
        { params: { id: id } }
      );
      if (res.data.success) {
        this.$Message.success(res.data.message);
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getSbList();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    }
  }
};
</script>

<style scoped lang="scss">
.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .bot {
    flex: 1;
    margin-top: 10px;
  }
}
</style>
<style>
.selectTime {
  border: 1px solid #333 !important;
}
</style>
