<template>
  <div class="infor">
    <!--<div class="left">-->
    <!--<Tree :data="data2" :load-data="loadData" @on-select-change='select'></Tree>-->
    <!--</div>-->
    <div class="right">
      <div class="top" v-show="!showList">
        <Input suffix="ios-search" v-model="query.zsbh" placeholder="这里输入证书编号" style="width: 24%;" />
        <Input
          suffix="ios-search"
          v-model="query.xm"
          placeholder="这里输入姓名"
          style="width: 24%;margin-left:10px;"
        />
        <Input
          suffix="ios-search"
          v-model="query.dabh"
          placeholder="这里输入档案编号"
          style="width: 24%;margin-left:10px;"
        />
        <Input
          suffix="ios-search"
          v-model="query.LXDH"
          placeholder="这里输入联系电话"
          style="width: 24%;margin-left:10px;"
        />
        <br />
        <!-- <Select
          v-model="query.zyzl_id"
          v-if="!query.sblx"
          style="width: 24%;margin-left:10px;"
          placeholder="请选择作业种类"
        >
          <Option v-for="(list,index) in zlList" :value="list.zyzlId" :key="index">{{list.zyzl}}</Option>
        </Select>-->
        <Select v-model="query.zyxmDm" v-if="!query.sblx" style="width: 24%;" placeholder="请选择作业项目">
          <Option v-for="(det,index) in xmdmList" :value="det.zyxmDm" :key="index">{{det.zyxmDm}}</Option>
        </Select>
        <!--<Select v-model="query.ksjgDm" v-if="!query.sblx" style="width: 24%;margin-left:10px;" placeholder="请选择发证机构">-->
        <!--<Option  v-for="list in listFz" :value="list.fzjg">{{list.fzjg}}</Option>-->
        <!--</Select>-->
        <!-- <Select
          v-model="query.ksjgDm"
          v-if="!query.sblx"
          style="width: 24%;margin-left:10px;"
          placeholder="请选择考试机构"
        >
          <Option v-for="(list,index) in listFz" :value="list.ksjgDm" :key="index">{{list.ksjg}}</Option>
        </Select> -->
        <Input v-model="query.ksjgDm" style="width: 24%;margin-left:10px;" placeholder="请输入考试机构"  />
        <DatePicker
          type="date"
          v-model="query.ratifyStartDate"
          format="yyyy-MM-dd"
          placeholder="请选择批准开始日期"
          style="width: 24%;margin-top: 10px;margin-left:10px;"
        ></DatePicker>
        <DatePicker
          type="date"
          v-model="query.ratifyEndDate"
          format="yyyy-MM-dd"
          placeholder="请选择批准结束日期"
          style="width: 24%;margin-top: 10px;margin-left:10px;"
        ></DatePicker>
        <br />
        <DatePicker
          type="date"
          v-model="query.validStartDate"
          format="yyyy-MM-dd"
          placeholder="请选择有效开始日期"
          style="width: 24%;margin-top: 10px"
        ></DatePicker>
        <DatePicker
          type="date"
          v-model="query.validEndDate"
          format="yyyy-MM-dd"
          placeholder="请选择有效结束日期"
          style="width: 24%;margin-top: 10px;margin-left:10px;"
        ></DatePicker>
        <Button type="primary" style="margin-left:10px;" icon="ios-search" @click="getSbList">查询</Button>
        <Button type="success" icon="md-add" @click.native="showTitle(0,1)">新增</Button>
      </div>
      <div class="mid" v-show="!showList" ref="mid">
        <Table
          border
          v-show="!showList"
          :loading="loading"
          :columns="columns1"
          :height="Height"
          :data="data1"
        ></Table>
      </div>
      <div class="bot" v-show="!showList">
        <Page
          @on-change="changePageNo"
          @on-page-size-change="changePageSize"
          :page-size="query.pageSize"
          :total="query.total"
        />
      </div>
    </div>
    <Modal :mask-closable='false'	 v-model="show" :title="title" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="证书编号：">
              <Input v-model="form.zsbh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="姓名：">
              <Input v-model="form.xm" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="领证人：">
              <Input v-model="form.lzr" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="联系电话：">
              <Input v-model="form.lxdh" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="身份证号：">
              <Input v-model="form.sfzh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="作业项目：">
              <!--<Input v-model="form.zyxm" placeholder="" />-->
              <Select v-model="form.zyxm" placeholder style="width:100%;">
                <Option value>未选择</Option>
                <Option
                  v-for="(det,index) in xmdmList"
                  :value="det.zyxmDm"
                  :key="index"
                >{{det.zyxmDm}}</Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="档案编号：">
              <Input v-model="form.dabh" placeholder />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="作业种类：">
              <!--<Input v-model="form." placeholder="" />-->
              <Select v-model="form.zyzl" placeholder style="width:100%;">
                <Option value>未选择</Option>
                <Option
                  v-for="(list,index) in zlList"
                  :value="list.zyzlId"
                  :key="list.index"
                >{{list.zyzl}}</Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="用人单位：">
              <Input v-model="form.yrdw" placeholder />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="发证机构：">
              <!-- <Select v-model="form.fzjg" placeholder v-if="!query.sblx" style="width:100%;">
                <Option value>未选择</Option>
                <Option
                  v-for="(list,index) in listFzList"
                  :value="list.fzjg"
                  :key="index"
                >{{list.fzjg}}</Option>
              </Select> -->
              <Input v-model="form.fzjg" placeholder />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="考试机构：">
              <!-- <Select v-model="form.ksjg" placeholder style="width:100%;">
                <Option value>未选择</Option>
                <Option
                  v-for="(list,index) in listFz"
                  :value="list.ksjgDm"
                  :key="index"
                >{{list.ksjg}}</Option>
              </Select> -->
              <Input v-model="form.ksjg" placeholder />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="考试类别：">
              <Input v-model="form.kslb" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="有效日期：">
              <!--<Input v-model="form.yxrq" />-->
              <!--<DatePicker v-model="form.yxrq" type="date" placeholder="请选择有效日期" style="width: 100%;"></DatePicker>-->
              <el-date-picker
                v-model="form.yxrq"
                type="date"
                value-format="yyyy-MM-dd"
                style="width: 100%;"
              ></el-date-picker>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="批准日期：">
              <!--<Input v-model="form.pzrq" />-->
              <!--<DatePicker v-model="form.pzrq" type="date" placeholder="请选择批准日期" style="width:100%;"></DatePicker>-->
              <el-date-picker
                v-model="form.pzrq"
                type="date"
                value-format="yyyy-MM-dd"
                style="width: 100%;"
              ></el-date-picker>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button size="small" @click="show = false;">取消</Button>
        <Button type="primary" size="small" v-if="title !='详情'" @click="addSave">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      model1: "",
      show: false,
      Height: null,
      title: "",
      showList: false,
      dis: 0,
      numList: 0,
      form: {},
      edit: {},
      columns11: [
        {
          type: "index",
          width: 70,
          align: "center",
          title: "序号"
        },
        {
          title: "单位名称",
          key: "a",
          align: "center",
          width: 120
        },
        {
          title: "详细地址",
          key: "b",
          width: 260,
          align: "center"
        },
        {
          title: "所在地区",
          key: "c",
          align: "center"
        },
        {
          title: "联系人",
          key: "d",
          align: "center"
        },
        {
          title: "联系电话",
          key: "d",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(2, params);
                    }
                  }
                },
                "修改"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  on: {
                    click: () => {}
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data11: [
        {
          a: "王清",
          b: "320102197508042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy.jpg"
        },
        {
          a: "李伟",
          b: "320102199208042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy.jpg"
        },
        {
          a: "张峰",
          b: "320102198808042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy1.jpg"
        },
        {
          a: "王斌",
          b: "320102196508042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy1.jpg"
        },
        {
          a: "陈伟",
          b: "320102197508042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy1.jpg"
        }
      ],
      columns3: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号",
          fixed: "left"
        },
        {
          title: "设备名称",
          key: "a",
          align: "center",
          width: 100,
          fixed: "left"
        }
      ],
      columns5: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "文件名称",
          key: "a",
          align: "center"
        },
        {
          title: "文件大小",
          key: "b",
          align: "center"
        },
        {
          title: "上传时间",
          key: "c",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                },
                "查看"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "success",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                },
                "下载"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      columns4: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "姓名",
          key: "a",
          align: "center"
        },
        {
          title: "人员类型",
          key: "e",
          align: "center"
        },
        {
          title: "联系电话",
          key: "b",
          align: "center"
        },
        {
          title: "操作证类别",
          key: "c",
          align: "center"
        },
        {
          title: "操作证有效期",
          key: "d",
          align: "center"
        },
        {
          title: "操作证图片",
          key: "f",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h("img", {
                style: {
                  width: "80px",
                  height: "61px",
                  cursor: "pointer"
                },
                attrs: {
                  src: "/static/234.png"
                  // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                },
                on: {
                  click: e => {
                    this.src = e.srcElement.currentSrc;
                    this.show2 = true;
                  }
                }
              })
            ]);
          }
        }
      ],
      data3: [
        {
          a: "陈伟",
          b: "1385172312",
          c: "锅炉作业	",
          d: "2019-05-23",
          e: "安全管理员",
          f: "../../static/20190521223419.jpg"
        },
        {
          a: "张斌",
          b: "1385172312",
          c: "锅炉作业	",
          d: "2019-05-23",
          e: "作业人员"
        },
        {
          a: "王伟",
          b: "1385172312",
          c: "锅炉作业	",
          d: "2019-05-23",
          e: "水处理人员"
        }
      ],
      data4: [
        {
          a: "安装清洗资料",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "安全附件相关信息",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "化学清洗技术资料",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "锅炉设备出场资料",
          b: "30K",
          c: "2019-05-23  11:22:00"
        }
      ],
      data7: [
        {
          a: "定期检验报告(30)",
          b: "30K",
          c: "2019-05-19  11:22:00"
        },
        {
          a: "定期检验报告(19)",
          b: "30K",
          c: "2019-05-14  11:22:00"
        },
        {
          a: "定期检验报告(22)",
          b: "30K",
          c: "2019-04-22  11:22:00"
        },
        {
          a: "定期检验报告(26)",
          b: "30K",
          c: "2019-04-12  11:22:00"
        }
      ],
      data5: [
        {
          a: "安全附件校检记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "锅炉定期检验记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "巡回检查记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "日常维护保养记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "水处理记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "定期自行检查记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "应急救援演练记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "交接班记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        }
      ],
      columns1: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "证书编号",
          key: "dabh",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.zsbh
                  }
                },
                params.row.zsbh
              )
            ]);
          }
        },
        {
          title: "姓名",
          key: "xm",
          align: "center"
        },
        {
          title: "档案编号",
          key: "dabh",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.dabh
                  }
                },
                params.row.dabh
              )
            ]);
          }
        },
        {
          title: "作业种类",
          key: "zyzl",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.zyzl
                  }
                },
                params.row.zyzl
              )
            ]);
          }
        },
        {
          title: "作业项目",
          key: "zyxm",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.zyxm
                  }
                },
                params.row.zyxm
              )
            ]);
          }
        },
        {
          title: "发证机构",
          key: "fzjg",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.fzjg
                  }
                },
                params.row.fzjg
              )
            ]);
          }
        },
        {
          title: "考试机构",
          key: "ksjg",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.ksjg
                  }
                },
                params.row.ksjg
              )
            ]);
          }
        },
        {
          title: "批准日期",
          key: "pzrq",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.pzrq
                  }
                },
                params.row.pzrq
              )
            ]);
          }
        },
        {
          title: "有效日期",
          key: "yxrq",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.yxrq
                  }
                },
                params.row.yxrq
              )
            ]);
          }
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(params.row.id, 2);
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(params.row.id, 3);
                      // this.showTitle(2, params);
                    }
                  }
                },
                "详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "警告",
                        content: "是否确认删除？",
                        onOk: () => {
                          this.delete(params.row.id);
                        }
                      });
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data1: [],
      loading: false,
      add: {},
      data2: [
        {
          title: "全部",
          loading: false,
          number: 0,
          children: []
        }
      ],
      query: {
        pageSize: 10,
        pageNum: 1,
        total: 0,
        fzjg: ""
      },
      xmdmList: [],
      zlList: [],
      listFz: [],
      listFzList: []
    };
  },
  mounted() {
    setTimeout(() => {
      this.Height = this.$refs.mid.offsetHeight;
    }, 200);
  },
  async created() {
    // this.getInfoMsg();
    this.getZl();
    this.getXMDM();
    this.getlistFz();
    this.getlistFzjg();
    await this.getCom();
    this.query.compUsci = sessionStorage.getItem('compId');
    this.getSbList();
  },
  methods: {
    // 作业种类
    async getZl() {
      let res = await this.$fetch.get("workOrder/listWorkType");
      this.zlList = res.data;
    }, // 作业种类
    async getlistFz() {
      let res = await this.$fetch.get("workOrder/listTestOrg");
      this.listFz = res.data;
    }, // 作业种类
    async getlistFzjg() {
      let res = await this.$fetch.get("workOrder/listFzjg");
      // let data = res.data.result
      this.listFzList = res.data;
    },
    // 分页
    changePageNo(val) {
      this.query.pageNum = val;
      this.getSbList();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    },

    // 获取列表
    async getSbList() {
      this.loading = true;
      this.data1 = [];
      let res = await this.$fetch.get("workOrder/listWorkOrder", {
        params: this.query
      });
      this.data1 = res.data.list;
      this.query.total = res.data.totalPage;
      this.loading = false;
    },
    // 获取详情
    async getDetail(id) {
      let res = await this.$fetch.get("workOrder/getWorkPeople", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
      this.$set(this.form, "zyzl", Number(res.data.result.zyzl));
    }, // 获取详情
    async getCom(id) {
      let res = await this.$fetch.get("sydwjcxx/getSydwjcxxByUsci", {
        params: { usci: this.$store.state.user.compId }
      });
      this.$set(this.form, "compUsci", res.data.result.sydwid);
    }, // 获取详情
    async addSave(id) {
      // this.form.compUsci = this.$store.state.user.compId;
      let res = "";
      this.$set(this.form,'compUsci',sessionStorage.getItem('compId'))
      if (this.title == "新增") {
        res = await this.$fetch.post("workOrder/addWorkPeople", this.form);
      } else {
        res = await this.$fetch.put("workOrder/updatekPeople", this.form);
      }

      if (res.data.success) {
        this.$Message.success("新增成功!");
        this.show = false;
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    async getXMDM() {
      let res = await this.$fetch.get("workOrder/listJobProjectCode");
      this.xmdmList = res.data;
    },
    async delete(id) {
      let res = await this.$fetch.delete("workOrder/deleteWorkPeople", {
        params: { id: id }
      });
      if (res.data.success) {
        this.$Message.success("删除成功!");
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    select(value, item) {
      if (item.number == 1) {
        this.query.usci = item.ufci;
        this.query.sblx = "";
      } else if (item.number == 2) {
        this.query.usci = item.ucsi;
        this.query.sblx = item.id;
      }
      this.getSbList();
    },
    openFile() {
      document.getElementById("file").click();
    },
    showTitle(id, num) {
      //  this.numList = 1;
      if (num == 1) {
        this.title = "新增";
        this.form = Object.assign({}, { zyzl: 2 });
        this.getCom();
        this.show = true;
      } else if (num == 2) {
        this.title = "编辑";
        this.show = true;
        this.disabled = false;
        this.getDetail(id);
      } else {
        this.title = "详情";
        this.show = true;
        this.disabled = true;
        this.getDetail(id);
      }
      // if(y){
      //     this.numList = 0;
      // }
      // this.showList = true;
    }
  }
};
</script>

<style lang="scss">
</style>
<style lang='scss' scoped>
.left:hover {
  overflow-y: scroll;
  transition: all 0.5s;
}
.logo-title {
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 10px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editFlex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #87888b;
  &:first-child {
    margin-top: 20px;
  }
  label {
    flex: 0.3;
    text-align: justify;
    text-align-last: justify;
    &::after {
      display: flex;
      content: "";
      overflow: hidden;
      width: 100%;
      height: 0;
    }
  }
  .ivu-input-wrapper,
  .ivu-select,
  .ivu-date-picker,
  .ivu-upload {
    flex: 1;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.spe {
  background: #fff !important;
}
.logoImg {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
    max-width: 40px;
    margin-right: 10px;
    vertical-align: bottom;
  }
  & > div {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
}
.publicItem {
  padding: 6px 0;
  display: flex;
  justify-content: center;
}
.publicItem:nth-child(even) {
  background: #f1f3f8;
}
.ivu-tabs-content {
  height: 100%;
}
.wrappper-title {
  position: relative;
  background-color: #fff;
  // border-bottom:1px solid #e8edf7;
  font-size: 14px;
  .el-button--primary.is-plain {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
  }
  .el-button {
    box-shadow: 0 3px 6px #d0d0d0;
    padding: 7px 15px;
    border-radius: 3px;
    transition: 0.1s;
    font-weight: 500;
    box-sizing: border-box;
    outline: 0;
    -webkit-appearance: none;
    text-align: center;
    border: 1px solid #dcdfe6;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
  }
  .el-button--primary.is-plain:focus,
  .el-button--primary.is-plain:hover {
    background: #409eff;
    border-color: #409eff;
    color: #fff;
  }
  i {
    color: #62a0de !important;
    background-color: #62a0de !important;
  }
  .circle + span {
    vertical-align: middle;
    color: #62a0de !important;
    cursor: pointer;
  }
}
.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #87888b;
  label {
    text-align: right;
    flex: 0.25;
    font-size: 14px;
    color: #87888b;
    margin-right: 10px;
  }

  span,
  img,
  .ivu-input-wrapper,
  .ivu-date-picker,
  .ivu-select {
    flex: 0.5;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.infor {
  display: flex;
  height: 100%;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  .left {
    border-right: 1px solid #ccc;
    margin-right: 10px;
    height: 100%+1;
    flex: 0.16;
  }
  .right {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding-left: 1px;
    .mid {
      margin-top: 10px;
      flex: 1;
    }
    .top {
      margin-bottom: 10px;
    }
    .bot {
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }
}
.ivu-upload {
  display: flex;
}
</style>
