<template>
    <div class="list">
        <div class="top ">
            <div class="t-left">
                <img :src="icon">
                <span>
                    {{title}}
                </span>
            </div>
            <div class="t-right ">
                更多
                <i class="arrow-up"></i>
            </div>
        </div>
        <ul class="mid"  >
            <template v-for="(item,index) in data">
                <li :key="index">
                    <span>{{item.name}}</span>
                    <span>{{item.time}}</span>
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
export default {
    props:{
        data:Array,
        icon:String,
        title:String
    }
}
</script>

<style lang='scss' scoped>
    .arrow-up{
        display: inline-block;
        position: relative;
        width: 7px;
        height: 7px;
        border-top: 2px solid #515a6e;
        border-right: 2px solid #515a6e;
        transform: rotate(45deg);
    }
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #515a6e;
        background: #ebecf0;
        padding: 14px 20px;
        font-size: 16px;
        .t-left{
            flex: 1;
            img{
                margin-right: 10px;
                width:22px;
                height:20px;
            }
        }
        .t-right{
            // display: flex;
            // align-items: center;
            i{
                vertical-align: 3px;
            }
        }
    }
    .mid{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        background: #fff;
        color: #1B1B1B;
        padding: 0 14px;
        font-size: 14px;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 11px 0;
            & span:first-child{
                flex: 1;
                margin-left: 8px;
            }
            &:after{
                background: #ddd;
                height: 1px;
                width: 100%;
                position: absolute;
                bottom: 0;
                content: '';
                display: block;
            }
            &:last-child::after{
                display: none;
            }
        }
    }
</style>
