<template>
    <div class="publicList">
        {{title}}
    </div>
</template>

<script>
export default {
    props:{
        title:String
    }
}
</script>

<style lang='scss' scoped>
    .publicList{
        border-left: 3px solid #2d8cf0;
        font-size: 14px;
        font-weight: 700;
        padding-left: 8px;
        line-height: 1;
    }
</style>
