<template>
    <div>
        <table id="table" cellpadding="1" cellspacing="1" border="1">
            <tr style="background:rgb(248, 248, 249)">   
                <th >参数名</th>
                <th >平均值</th>
                <th  style="height: 40px;">最大值</th>
                <th  style="height: 40px;">最小值</th>
            </tr>
            <tr class="tr-content">
                <td style="text-align:center">{{name}}</td>
                <td style="text-align:center">{{avg}}</td>
                <td style="text-align:center">{{max}}</td>
                <td style="text-align:center">{{min}}</td>
            </tr>
            <transition name='fade'>
                <tr class="tr-content" v-if="name == 'A相电流' && show">
                    <td style="text-align:center">B相电流</td>
                    <td style="text-align:center">{{avgInfo.deviceLb}}</td>
                    <td style="text-align:center">{{maxInfo.deviceLb}}</td>
                    <td style="text-align:center">{{minInfo.deviceLb}}</td>
                </tr>
            </transition>
             <transition name='fade'>
                <tr class="tr-content" v-if="name == 'A相电流' && show">
                    <td style="text-align:center">C相电流</td>
                    <td style="text-align:center">{{avgInfo.deviceLc}}</td>
                    <td style="text-align:center">{{maxInfo.deviceLc}}</td>
                    <td style="text-align:center">{{minInfo.deviceLc}}</td>
                </tr>
             </transition>
              <transition name='fade'>
                <tr class="tr-content" v-if="name == 'A相电压' && show">
                    <td style="text-align:center">B相电压</td>
                    <td style="text-align:center">{{avgInfo.deviceUb}}</td>
                    <td style="text-align:center">{{maxInfo.deviceUb}}</td>
                    <td style="text-align:center">{{minInfo.deviceUb}}</td>
                </tr>
              </transition>
               <transition name='fade'>
                <tr class="tr-content" v-if="name == 'A相电压' && show">
                    <td style="text-align:center">C相电压</td>
                    <td style="text-align:center">{{avgInfo.deviceUc}}</td>
                    <td style="text-align:center">{{maxInfo.deviceUc}}</td>
                    <td style="text-align:center">{{minInfo.deviceUc}}</td>
                </tr>
               </transition>
               <transition name='fade'>
                <tr class="tr-content" v-if="name == 'AB线电压' && show">
                    <td style="text-align:center">BC线电压</td>
                    <td style="text-align:center">{{avgInfo.deviceUbc}}</td>
                    <td style="text-align:center">{{maxInfo.deviceUbc}}</td>
                    <td style="text-align:center">{{minInfo.deviceUbc}}</td>
                </tr>
               </transition>
               <transition name='fade'>
                <tr class="tr-content" v-if="name == 'AB线电压' && show">
                    <td style="text-align:center">CA线电压</td>
                    <td style="text-align:center">{{avgInfo.deviceUac}}</td>
                    <td style="text-align:center">{{maxInfo.deviceUac}}</td>
                    <td style="text-align:center">{{minInfo.deviceUac}}</td>
                </tr>
               </transition>
            
        </table>
        <div class="showCenter" v-show="showUp">
            <div class="arrUp" @click="show = !show">
                <div class="arrow-down" :class="show?'arrowUp':''" ></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            show:false,
            min:'',
            max:'',
            avg:'',
        }
    },
    props:{
        showUp:Boolean,
        name:String,
        avgInfo:Object ,
        maxInfo:Object ,
        minInfo:Object ,

    },
    created(){
        if(!this.avgInfo && !this.maxInfo && !this.minInfo){
            return;
        }
        switch(this.name){
            case '有功功率':
                this.avg = this.avgInfo.deviceP;
                this.max = this.maxInfo.deviceP;
                this.min = this.minInfo.deviceP;
                break
            case '无功功率':
                this.avg = this.avgInfo.deviceQ;
                this.max = this.maxInfo.deviceQ;
                this.min = this.minInfo.deviceQ;
                break
            case '功率因数':
                this.avg = this.avgInfo.deviceCos;
                this.max = this.maxInfo.deviceCos;
                this.min = this.minInfo.deviceCos;
                break
            case 'A相电流':
                this.avg = this.avgInfo.deviceLa;
                this.max = this.maxInfo.deviceLa;
                this.min = this.minInfo.deviceLa;
                break
            case 'A相电压':
                this.avg = this.avgInfo.deviceUa;
                this.max = this.maxInfo.deviceUa;
                this.min = this.minInfo.deviceUa;
                break
            case 'AB线电压':
                this.avg = this.avgInfo.deviceUab;
                this.max = this.maxInfo.deviceUbc;
                this.min = this.minInfo.deviceUac;
                break
        }
    },
    methods:{
        
    }
}
</script>

<style lang='css' scoped>
table{
    border: 0;
    border-collapse: collapse;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
    #table{
        width: 100%;
        font-size: 16px;
        color: rgb(31, 35, 43);
    }
    table,table tr th, table tr td { border:1px solid #e8eaec; }
    #table .tr-pub th{
        width: 17%;
        text-align: left;
        padding-left: 20px;
        height: 40px;
    } 
    .tr-content{
        background:#fff;height:40px;
    }
    #table  .tr-content td{

        padding-left: 20px;
    }

    .arrow-down{
        width: 10px;
        height: 10px;
        border:rgb(81, 90, 110) solid ;
        border-width: 1px 1px 0 0;
        transform: rotate(135deg);
        margin-bottom: 10px;
        transition: all .5s;
    }
    .arrowUp{
        margin-bottom: 0px;
        transform: rotate(-46deg);
        transition: all .5s;
    }
    .showCenter{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .arrUp{
        width: 60px;
        height: 16px;
        display: flex;
        align-items: center;
        background: #ebf7ff;
        justify-content: center;
        cursor: pointer;
    }
</style>
