<template>
  <div>
    <div @click="$router.push('/index')" class="img" :style="{'background-image':'url('+imgpath+')'}"></div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      imgpath: require("@/assets/404.jpg")
    };
  },
  mounted() {}
};
</script>

<style>
.img {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
</style>
