<template>
  <Form :model="form" class="form" label-position="right" :label-width="200">
    <Row>
      <Col span="12">
        <FormItem label="设备代码：">
          <Input v-model="form.sbdm" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="设备类别：">
          <Input v-model="form.sblb" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="设备名称：">
          <Input v-model="form.sbmc" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="设备型号：">
          <Input v-model="form.sbxh" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="注册登记机构代码：">
          <Input v-model="form.zcdjjqdm" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="注册登记机构名称：">
          <Input v-model="form.zcdjjqmc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="注册登记人员：">
          <Input v-model="form.zcdjry" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="注册登记日期：">
          <!--<Input v-model="form.zcdjrq" />-->
          <el-date-picker
            v-model="form.zcdjrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="注册更新日期：">
          <!--<Input v-model="form.zcgxrq" />-->
          <el-date-picker
            v-model="form.zcgxrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用证编号：">
          <Input v-model="form.syjbh" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="登记表编号：">
          <Input v-model="form.djbbh" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="设备注册代码：">
          <Input v-model="form.sbzcdm" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="注册状态：">
          <Input v-model="form.zczt" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="发证机构：">
          <Input v-model="form.fzjq" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="发证类型：">
          <Input v-model="form.fzlx" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="发证日期：">
          <!--<Input v-model="form.fzrq" />-->
          <el-date-picker
            v-model="form.fzrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="使用状态：">
          <Input v-model="form.syzt" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用状态变更日期：">
          <!--<Input v-model="form.syztbgrq" />-->
          <el-date-picker
            v-model="form.syztbgrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="是否重点监控：">
          <Input v-model="form.sfzdjk" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem style="border-right: 1px solid #ddd;" label="设备坐标：" prop="address">
          <Input style="width: 70%;" v-model="form.zb" />
          <Button v-if="title != '详情'" @click="initMap">查询</Button>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="最新监察业务状态：">
          <Input v-model="form.zxjqywzt" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用单位名称：">
          <Input v-model="form.sydwmc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="所在地区代码：">
          <Input v-model="form.dqdm" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="部门名称：">
          <Input v-model="form.bmmc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="部门所在地地址：">
          <Input v-model="form.bmdz" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="组织机构代码证：">
          <Input v-model="form.zzjgdmz" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="使用单位地址：">
          <Input v-model="form.sydwdz" @on-change="changeDz" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用单位邮政编码：">
          <Input v-model="form.sydwfdfr" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="使用单位法定代表人：">
          <Input v-model="form.a" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="邮箱：">
          <Input v-model="form.email" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="所属行业代码：">
          <Input v-model="form.sshydm" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用单位联系人：">
          <Input v-model="form.sydwxxr" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="使用单位联系电话：">
          <Input v-model="form.sydwlxdh" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="设备单位内部编号：">
          <Input v-model="form.sbdwnbh" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="设备单位内地点：">
          <Input v-model="form.sbdwndd" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安全管理部门：">
          <Input v-model="form.aqglbm" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="安全管理人员：">
          <Input v-model="form.aqgllxr" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安全管理人员联系电话：">
          <Input v-model="form.aqglxxdh" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="安全管理人员手机：">
          <Input v-model="form.agrsj" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="经办人：">
          <Input v-model="form.jbr" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="经办人电话：">
          <Input v-model="form.jbrdh" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="经办人手机：">
          <Input v-model="form.jbrsj" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="设备用途 ：">
          <Input v-model="form.sbyt" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="制造单位 ：">
          <Input v-model="form.zzdwmc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="组织机构代码证：">
          <Input v-model="form.zzdwjgdm" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="制造单位联系电话 ：">
          <Input v-model="form.zzdwxxdh" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="资格证书名称：">
          <Input v-model="form.zgzsmc" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="产品质量证明书编号：">
          <Input v-model="form.zzxkzh" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="产品监检证书编号 ：">
          <Input v-model="form.cpjyzsbh" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="是否进口 ：">
          <Input v-model="form.sfjk" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="制造国家：">
          <Input v-model="form.zzgj" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="制造日期 ：">
          <!--<Input v-model="form.zzrq" />-->
          <el-date-picker
            v-model="form.zzrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="24">
        <FormItem label="安装单位名称：">
          <Input v-model="form.azdwmc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="组织机构代码证：">
          <Input v-model="form.azdwdm" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安装许可证编号：">
          <Input v-model="form.azxkzh" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="告知受理编号：">
          <Input v-model="form.gzslbh" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安装项目负责人：">
          <Input v-model="form.zzlxr" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="安装项目负责人联系电话：">
          <Input v-model="form.zzlxdh" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="运行速度(m/s)：">
          <Input v-model="form.yxsd" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="额定载荷（kg）：">
          <Input v-model="form.edzzl" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="电梯站数 ：">
          <Input v-model="form.dizs" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="电梯层数 ：">
          <Input v-model="form.dics" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="电梯门数 ：">
          <Input v-model="form.dtcms" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="控制方式 ：">
          <Input v-model="form.kzfs" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="检验员：">
          <Input v-model="form.jyymc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="拖动方式 ：">
          <Input v-model="form.tdfs" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="电梯轿门数：">
          <Input v-model="form.dtjms" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="开门方式 DQKMFS：">
          <Input v-model="form.dqkmfs" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="检验性质 ：">
          <Input v-model="form.jyxz" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="检验责任主体机构名称：">
          <Input v-model="form.jyjgmc" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="检验部门  ：">
          <Input v-model="form.jybmmc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="内部（全面）检验日期：">
          <el-date-picker
            v-model="form.nbjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
          <!--<Input v-model="form.nbjyrq" />-->
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="内部（全面）下次检验日期  ：">
          <!--<Input v-model="form.nbxcjyrq" />-->
          <el-date-picker
            v-model="form.nbxcjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="内部（全面）报告书编号：">
          <Input v-model="form.nbbgsbh" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="最后修改时间：">
          <!--<Input v-model="form.lastdateprocedate" />-->
          <el-date-picker
            v-model="form.lastdateprocedate"
            type="datetime"
            value-format="yyyy-MM-dd HH:mm:ss"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="运行速度（m/s）：">
          <Input v-model="form.yxsd1" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="额定载荷（kg）：">
          <Input v-model="form.edzzl1" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="24">
        <FormItem label="电梯站数 ：">
          <Input v-model="form.dizs1" />
        </FormItem>
      </Col>
    </Row>
    <Row v-for="(list,index) in videoList" :key="index">
      <Col span="12">
        <FormItem label="视频IP  ：">
          <Input v-model="videoList[index].vip" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="视频端口：" style="border-right: 1px solid #ddd;">
          <Input v-model="videoList[index].vport" style="width: 60%;" />
          <Button
            v-if="title != '详情'"
            @click="addNew"
            type="success"
            size="small"
            style="margin-right: 10px;"
          >新增</Button>
          <Button
            @click="remove(index)"
            size="small"
            v-if="index != 0"
            type="error"
            style="margin-right: 10px;"
          >删除</Button>
          <Button
            v-if="title != '新增'"
            @click="addNew"
            type="success"
            size="small"
            style="margin-right: 10px;"
          >视频</Button>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="视频账号：" class="tbNone">
          <Input v-model="videoList[index].vaccount" />
        </FormItem>
      </Col>
      <Col span="12" style="display: none">
        <FormItem label="视频账号：" class="tbNone">
          <Input v-model="videoList[index].vid" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="视频密码：" class="tbNone">
          <Input v-model="videoList[index].vpassword" />
        </FormItem>
      </Col>
    </Row>
    <Modal :mask-closable='false'	 v-model="modal9" title="地图" width="1000">
      <div>
        坐标：
        <Input v-model="form.zb" style="width: 200px;margin-bottom: 10px;" />
      </div>
      <div id="map" style="height: 500px;"></div>
    </Modal>
  </Form>
</template>

<script>
export default {
  name: "guolu",
  props: {
    form: Object,
    type: String,
    title: String,
    addSure: Number
  },
  data() {
    return {
      modal9: false,
      edit: {},
      videoList: [{}],
      ruleValidate: {
        address: [
          {
            required: true,
            message: "The name cannot be empty",
            trigger: "blur"
          }
        ]
      },
      sblxItem: [],
      syztList: []
    };
  },
  watch: {
    addSure(val) {
      console.log(val);
      this.saveGl();
    },
    form(val) {
      if (val.videoList) {
        this.videoList = val.videoList;
      }
    }
  },
  created() {
    this.form.zzjgdmz = this.$store.state.user.compId;
    this.getSyzt();
    this.getSbLx();
  },
  methods: {
    addNew() {
      this.videoList.push({
        vid: this.videoList[0].vid,
        vdeviceId: this.videoList[0].vdeviceId
      });
    },
    remove(index) {
      this.videoList.splice(index, 1);
    },
    changeDz(val) {
      let _this = this;
      if (this.form.sydwdz) {
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint(
          _this.form.sydwdz,
          function(point) {
            if (point) {
              // map.centerAndZoom(point, 16);
              // map.addOverlay(new BMap.Marker(point));
              _this.form.zb = point.lng + "," + point.lat;
              _this.$set(_this.form, "longitude", point.lng);
              _this.$set(_this.form, "latitude", point.lat);
            } else {
              alert("您选择地址没有解析到结果!");
            }
          },
          "常州市"
        );
      }
    },
    initMap() {
      let _this = this;
      this.modal9 = true;
      var map = new BMap.Map("map");
      map.centerAndZoom("南京", 12);
      //单击获取点击的经纬度
      map.addEventListener("click", function(e) {
        _this.$set(_this.form, "zb", e.point.lng + "," + e.point.lat);
      });
      _this.opts = {
        width: 250, // 信息窗口宽度
        height: 250, // 信息窗口高度
        enableMessage: true //设置允许信息窗发送短息
      };
      if (!this.form.zb) {
        return;
      } else {
        this.form.latitude = this.form.zb.split(",")[1];
        this.form.longitude = this.form.zb.split(",")[0];
      }
      var maker2 = new BMap.Icon(
        "../../static/green.jpg",
        new BMap.Size(30, 34)
      );
      var marker = new BMap.Marker(
        new BMap.Point(_this.form.longitude, _this.form.latitude),
        { icon: maker2 }
      ); // 创建标注
      map.addOverlay(marker); // 将标注添加到地图中
      setTimeout(() => {
        if (this.form.zb) {
          let s = {
            lng: this.form.zb.split(",")[0],
            lat: this.form.zb.split(",")[1]
          };
          // map.centerAndZoom(new BMap.Point(s.lng, s.lat), 12);
          map.panTo(new BMap.Point(s.lng, s.lat));
        }
      }, 200);
    },
    async saveGl() {
      let res = "";
      if (this.form.zb) {
        this.form.latitude = this.form.zb.split(",")[1];
        this.form.longitude = this.form.zb.split(",")[0];
      }
      this.form.videoList = this.videoList;
      if (this.title == "新增") {
        res = await this.$fetch.post(
          "dtxx/addDtxx?address=" +
            this.form.sydwdz +
            "&latitude=" +
            this.form.latitude +
            "&longitude=" +
            this.form.longitude +
            "&type=" +
            this.type,
          this.form
        );
      } else {
        res = await this.$fetch.put(
          "dtxx/updateDtxx?address=" +
            this.form.sydwdz +
            "&latitude=" +
            this.form.latitude +
            "&longitude=" +
            this.form.longitude +
            "&type=" +
            this.type +
            "&id=" +
            this.form.dtxxId,
          this.form
        );
      }
      debugger;
      if (res.data.success) {
        this.$emit("success", true);
      } else {
        this.$emit("success", false);
      }
    },
    //设备类型字典
    async getSbLx() {
      let res = await this.$fetch.get("index/getDeviceDict");
      this.sblxItem = res.data.result;
    },
    // 使用状态字典
    async getSyzt() {
      let res = await this.$fetch.get("index/getIsUsingDict");
      this.syztList = res.data.result;
    }
  }
};
</script>

<style scoped>
</style>
