<template>
  <Form :model="form" class="form" label-position="right" :label-width="200">
    <Row>
      <Col span="12">
        <FormItem label="使用单位ID：">
          <Input v-model="form.gdgcid" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="汇总表编号：">
          <Input v-model="form.hzbbh" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="使用证编号：">
          <Input v-model="form.syzbh" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="工程装备名称：">
          <Input v-model="form.gczzmc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="设备类别 ：">
          <Input v-model="form.sblb" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用单位名称：">
          <Input v-model="form.sydwmc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="24">
        <FormItem style="border-right: 1px solid #ddd;" label="设备坐标：" prop="address">
          <Input style="width: 70%;" v-model="form.zb" />
          <Button v-if="title != '详情'" @click="initMap">查询</Button>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="使用单位地区代码 ：">
          <Input v-model="form.dqdm" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用单位地址：">
          <Input v-model="form.dwdz" @on-change="changeDz" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="组织机构代码：">
          <Input v-model="form.zzjgdm" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="管道单元数（条）：">
          <Input v-model="form.gddys" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="管道总长度（m）：">
          <Input v-model="form.gdzcs" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安全管理部门	：">
          <Input v-model="form.agbmmc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="部门负责人：">
          <Input v-model="form.mmfzr" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安全管理人员：">
          <Input v-model="form.agrymc" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="联系电话 ：">
          <Input v-model="form.aglxdh" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="注册登记机构：">
          <Input v-model="form.zcdjjg" />
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="注册登记人员：">
          <Input v-model="form.zcdjry" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="注册登记日期：">
          <!--<Input v-model="form.zcdjrq" />-->
          <el-date-picker
            v-model="form.zcdjrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="发证类型 ：">
          <Input v-model="form.fzlx" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="发证日期 ：">
          <!--<Input v-model="form.fzrq" />-->
          <el-date-picker
            v-model="form.fzrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="使用状态 ：">
          <Input v-model="form.syzt" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用状态变更日期 ：">
          <!--<Input v-model="form.bgrq" />-->
          <el-date-picker
            v-model="form.bgrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="注册状态 ：">
          <Input v-model="form.zczt" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="最后修改时间：">
          <!--<Input v-model="form.lastdateprocedate" />-->
          <el-date-picker
            v-model="form.lastdateprocedate"
            type="datetime"
            value-format="yyyy-MM-dd HH:mm:ss"
            style="width: 100%;"
            placeholder="选择日期"
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row v-for="(list,index) in videoList" :key="index">
      <Col span="12">
        <FormItem label="视频IP  ：">
          <Input v-model="videoList[index].vip" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="视频端口：" style="border-right: 1px solid #ddd;">
          <Input v-model="videoList[index].vport" style="width: 60%;" />
          <Button
            v-if="title != '详情'"
            @click="addNew"
            type="success"
            size="small"
            style="margin-right: 10px;"
          >新增</Button>
          <Button
            @click="remove(index)"
            size="small"
            v-if="index != 0"
            type="error"
            style="margin-right: 10px;"
          >删除</Button>
          <Button
            v-if="title != '新增'"
            @click="addNew"
            type="success"
            size="small"
            style="margin-right: 10px;"
          >视频</Button>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="视频账号：" class="tbNone">
          <Input v-model="videoList[index].vaccount" />
        </FormItem>
      </Col>
      <Col span="12" style="display: none">
        <FormItem label="视频账号：" class="tbNone">
          <Input v-model="videoList[index].vid" />
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="视频密码：" class="tbNone">
          <Input v-model="videoList[index].vpassword" />
        </FormItem>
      </Col>
    </Row>
    <Modal :mask-closable='false'	 v-model="modal9" title="地图" width="1000">
      <div>
        坐标：
        <Input v-model="form.zb" style="width: 200px;margin-bottom: 10px;" />
      </div>
      <div id="map" style="height: 500px;"></div>
    </Modal>
  </Form>
</template>

<script>
export default {
  name: "cncc",
  props: {
    form: Object,
    type: String,
    title: String,
    addSure: Number
  },
  data() {
    return {
      modal9: false,
      edit: {},
      videoList: [{}],
      ruleValidate: {
        address: [
          {
            required: true,
            message: "The name cannot be empty",
            trigger: "blur"
          }
        ]
      },
      sblxItem: [],
      syztList: []
    };
  },
  watch: {
    addSure(val) {
      console.log(val);
      this.saveGl();
    },
    form(val) {
      if (val.videoList) {
        this.videoList = val.videoList;
      }
    }
  },
  created() {
    this.form.zzjgdm = this.$store.state.user.compId;
    this.getSyzt();
    this.getSbLx();
  },
  methods: {
    addNew() {
      this.videoList.push({
        vid: this.videoList[0].vid,
        vdeviceId: this.videoList[0].vdeviceId
      });
    },
    remove(index) {
      this.videoList.splice(index, 1);
    },
    changeDz(val) {
      let _this = this;
      if (this.form.dwdz) {
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint(
          _this.form.dwdz,
          function(point) {
            if (point) {
              // map.centerAndZoom(point, 16);
              // map.addOverlay(new BMap.Marker(point));
              _this.form.zb = point.lng + "," + point.lat;
              _this.$set(_this.form, "longitude", point.lng);
              _this.$set(_this.form, "latitude", point.lat);
            } else {
              alert("您选择地址没有解析到结果!");
            }
          },
          "常州市"
        );
      }
    },
    initMap() {
      let _this = this;
      this.modal9 = true;
      var map = new BMap.Map("map");
      map.centerAndZoom("南京", 12);
      //单击获取点击的经纬度
      map.addEventListener("click", function(e) {
        _this.$set(_this.form, "zb", e.point.lng + "," + e.point.lat);
      });
      _this.opts = {
        width: 250, // 信息窗口宽度
        height: 250, // 信息窗口高度
        enableMessage: true //设置允许信息窗发送短息
      };
      if (!this.form.zb) {
        return;
      } else {
        this.form.latitude = this.form.zb.split(",")[1];
        this.form.longitude = this.form.zb.split(",")[0];
      }
      var maker2 = new BMap.Icon(
        "../../static/green.jpg",
        new BMap.Size(30, 34)
      );
      var marker = new BMap.Marker(
        new BMap.Point(_this.form.longitude, _this.form.latitude),
        { icon: maker2 }
      ); // 创建标注
      map.addOverlay(marker); // 将标注添加到地图中
      setTimeout(() => {
        if (this.form.zb) {
          let s = {
            lng: this.form.zb.split(",")[0],
            lat: this.form.zb.split(",")[1]
          };
          // map.centerAndZoom(new BMap.Point(s.lng, s.lat), 12);
          map.panTo(new BMap.Point(s.lng, s.lat));
        }
      }, 200);
    },
    async saveGl() {
      let res = "";
      if (this.form.zb) {
        this.form.latitude = this.form.zb.split(",")[1];
        this.form.longitude = this.form.zb.split(",")[0];
      }
      this.form.videoList = this.videoList;
      if (this.title == "新增") {
        res = await this.$fetch.post(
          "gdgcxx/addgdgcxx?address=" +
            this.form.dwdz +
            "&latitude=" +
            this.form.latitude +
            "&longitude=" +
            this.form.longitude +
            "&type=" +
            this.type,
          this.form
        );
      } else {
        res = await this.$fetch.put(
          "gdgcxx/updategdgcxx?address=" +
            this.form.dwdz +
            "&latitude=" +
            this.form.latitude +
            "&longitude=" +
            this.form.longitude +
            "&type=" +
            this.type +
            "&id=" +
            this.form.gdgcxxId,
          this.form
        );
      }
      if (res.data.success) {
        this.$emit("success", true);
      } else {
        this.$emit("success", false);
      }
    },
    //设备类型字典
    async getSbLx() {
      let res = await this.$fetch.get("index/getDeviceDict");
      this.sblxItem = res.data.result;
    },
    // 使用状态字典
    async getSyzt() {
      let res = await this.$fetch.get("index/getIsUsingDict");
      this.syztList = res.data.result;
    }
  }
};
</script>

<style scoped>
</style>
