<template>
  <div id="app">
    <Header></Header>
    <div style="height:calc(100vh -  70px);">
      <Row style="display:flex;height:calc(100vh -  70px);">
        <Col>
          <Left></Left>
        </Col>
        <Col style="width:100%;box-sizing:border-box;overflow-y:scroll;">
          <transition name="aaa">
            <router-view></router-view>
          </transition>
        </Col>
      </Row>
    </div>
  </div>
</template>

<script>
import { Header, Left } from "@/components";
export default {
  name: "app",
  data() {
    return {};
  },
  mounted() {},
  components: { Left, Header }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.ivu-table {
  font-size: 14px;
}
.el-table--border,
.el-table--group {
  border-bottom: 1px solid #333 !important;
}
.aaa-enter-active {
  transition: transform 0.2s;
}
.aaa-leave-active {
  display: none;
  transition: transform 0s;
}
.aaa-enter {
  transform: translateX(-2000px);
}
</style>
