<template>
    <div class="container">
      <div class="searchStyle">
        <el-date-picker
          v-model="value1"
          type="date"
          value-format="yyyy-MM-dd"
          placeholder="请选择打卡日期">
        </el-date-picker>
        <Button type="primary" icon="ios-search" @click="searchClockData" style="margin-left:10px;"></Button>
      </div>
      <div class="infor inforDetail">
          <!-- <el-table
              :data="data1"
              border
              style="width: 100%;margin-right: 10px;flex: 1;"  height="550">
              <el-table-column
                type="index"
                label="#"
                align="center"
                width="40"
              >
              </el-table-column>
              <el-table-column
                prop="punchPerson"
                label="员工姓名"
                align="center"
                show-overflow-tooltip
              >
              </el-table-column>
              <el-table-column
                prop="punchTime"
                label="打卡时间"
                align="center"
                show-overflow-tooltip
              >
              </el-table-column>
              <el-table-column
                prop="punchPic"
                label="员工照片"
                align="center"
                show-overflow-tooltip
              >
              <template slot-scope="scope">
                <img :src='scope.$index'>
              </template>
              </el-table-column>
            </el-table> -->
            <Table :loading="loading" border :height='600' :columns="columns1" :data="data1" style="width: 100%;margin-right: 10px;flex: 1;"></Table>
          <Page style="margin-top: 10px;text-align: center;" :total="query.total" @on-change="changePageNo" :page-size="query.pageSize"></Page>
        </div>
        <Modal v-model="show1" title="查看图片">
          <img style="width: 500px;height:500px;" :src="imgUrl" />
          <div slot="footer">
            <Button @click="show1 = false;">取消</Button>
          </div>
        </Modal>
      </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      isPlay:false,
      loading:false,
      show1:false,
      value1:'',
      data1:[],
      query: {
        pageSize: 10,
        pageNo: 1,
        total: 0
      },
      columns1: [
       {
          type:'index',
          align: "center",
          width:'60',
        },
        {
          title: "员工姓名",
          key: "name",
          align: "center",
          width:'160',
          render: (h, params) => {
            return h("img", {
              attrs: {
                src:
                  "http://36.154.40.222:8085/jeecg-boot/" + params.row.punchPic,
                style: "width: 36px;border-radius: 2px;cursor:pointer"
              },
              on: {
                click: () => {
                  this.show1 = true;
                  this.imgUrl =
                    "http://36.154.40.222:8085/jeecg-boot/" +
                    params.row.punchPic;
                }
              }
            });
          }
        },
        {
          title: "打卡时间",
          key: "adescribe",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.punchTime
                  }
                },
                params.row.punchTime
              )
            ]);
          }
        },
        {
          title: "员工照片",
          key: "adescribe",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "img",
                {
                  style: {
                    
                  },
                  attrs: {//设置属性
                    src: ''
                  }
                },
                params.row.punchTime
              )
            ]);
          }
        }
      ],
    };
  },
  mounted() {
    setTimeout(function() {
      $("embed").css({
        width: "100%"
      });
    }, 500);

  },
  created() {
    this.getClockData();
  },

  methods: {
    searchClockData(){
      this.query.punchTime = this.value1;
      this.getClockData();
    },
    async getClockData(){
      let compId = sessionStorage.getItem('compId') ? sessionStorage.getItem('compId') : '';
      this.query.cUsci = compId;
      let res = await this.$fetch.get('/RtmpVideo/listDevice', {
        params: this.query
      });
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
    },
    changePageNo(val){
      this.query.pageNo = val;
      this.getClockData();
    },
  }
};
</script>
<!--height: 100%+1;-->
<style lang="scss">
.sepl.el-table::before {
  display: none;
}
#videoId > div:first-child{
  width: 100% !important;
}
.el-table--enable-row-hover .el-table__body tr:hover {
  cursor: pointer;
}
</style>
<style lang='scss' scoped>
.container{
  display: flex;
  height: 100%;
  flex-direction: column;
}
.searchStyle{
  margin: 10px 10px 0px 10px;
}
.infor {
  display: flex;
  /*height: 100%;*/
  /*max-height: 100%;*/
  padding: 10px;
  min-height:600px;
  flex-direction: column;

}
</style>
