<template>
    <div class="infor">
      <div class="left">
        <Tree :data="data2"></Tree>
      </div>
      <div class="right">
                <div class="top">
                    <Input suffix="ios-search" placeholder="请输入姓名" style="width: 180px" />
                    <Input suffix="ios-search" placeholder="请输入联系电话" style="width: 180px" />
                    <Select style="width: 180px" placeholder="请选择人员类型">
                        <Option>安全管理员</Option>
                        <Option>水处理人员</Option>
                        <Option>作业人员</Option>
                    </Select>
                    <Button type="primary" icon="ios-search">查询</Button>
                    <Button type="success" icon="md-add" @click.native='show = true'>新增</Button>
                </div>
                <Table width="100%" border :columns="columns4" :data="data3"></Table>
        </div>
        <Modal :mask-closable='false'	
            v-model="show"
            :title="title"
            >
            <div>
            </div>
            <Row>
                <Col class="editFlex" span="24">
                    <label>人员类型</label>：
                    <Select v-model="edit.a" placeholder="请选择人员类型">
                    </Select>
                </Col>
                <Col class="editFlex" span="24">
                    <label>姓名</label>：
                    <Input v-model="edit.a" placeholder="请输入姓名"  />
                </Col>
                <Col class="editFlex" span="24">
                    <label>联系电话</label>：
                   <Input v-model="edit.b" placeholder="请输入联系电话"  />
                </Col>

                <Col class="editFlex" span="24">
                    <label>操作证类别</label>：
                   <Input v-model="edit.d" placeholder="请输入设备编号"  />
                </Col>
                <Col class="editFlex" span="24">
                    <label>操作证有效期</label>：
                    <DatePicker type="date" placeholder="请选择制造日期"></DatePicker>
                </Col>
                <Col class="editFlex" span="24">
                    <label>操作证图片</label>：
                    <Upload action="//jsonplaceholder.typicode.com/posts/">
                        <Button icon="ios-cloud-upload-outline">上传</Button>
                    </Upload>
                </Col>
            </Row>
        </Modal>
        <Modal :mask-closable='false'	
            v-model="show2"
            title="查看大图"
            >
            <img :src="src" style="width: 100%">
            <div slot="footer">
                <Button @click="show2 = false;">取消</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
export default {
    data () {
        return {
            model1:'',
            show:false,
            title:'',
            show2:false,
            src:'',
            showList:false,
            numList:0,
            edit:{

            },
            columns3:[
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                    fixed:'left',
                },
                {
                    title: '设备名称',
                    key: 'a',
                    align:'center',
                    width:100,
                    fixed:'left',
                },
            ],
            columns5:[
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                },
                {
                    title: '文件名称',
                    key: 'a',
                    align:'center',
                },
                {
                    title: '文件大小',
                    key: 'b',
                    align:'center',
                },
                {
                    title: '上传时间',
                    key: 'c',
                    align:'center',
                },
                {
                    title: '操作',
                    key: 'cz',
                    align:'center',
                    width:200,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        // this.showList = true;
                                        // this.numList = 0;
                                        this.showTitle(2,params,1);
                                    }
                                }
                            }, '查看'),
                            h('Button', {
                                props: {
                                    type: 'success',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        // this.showList = true;
                                        // this.numList = 0;
                                        this.showTitle(2,params,1);
                                    }
                                }
                            }, '下载'),
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        // this.showList = true;
                                        // this.numList = 0;
                                        this.showTitle(2,params,1);
                                    }
                                }
                            }, '删除'),
                        ]);
                    }
                },
            ],
            columns4:[
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                },
                {
                    title: '姓名',
                    key: 'a',
                    align:'center',
                },
                {
                    title: '人员类型',
                    key: 'e',
                    align:'center',
                },
                {
                    title: '联系电话',
                    key: 'b',
                    align:'center',
                },
                {
                    title: '设备类别',
                    key: 'g',
                    align:'center',
                },
                {
                    title: '操作证类别',
                    key: 'c',
                    align:'center',
                },
                {
                    title: '操作证有效期',
                    key: 'd',
                    align:'center',
                },
                 {
                    title: '操作证图片',
                    key: 'f',
                    fixed: 'right',
                    align:'center',
                    width:200,
                    render: (h, params) => {
                        return h('div', [
                            h('img', {
                                style: {
                                    width:'80px',
                                    height:'61px',
                                    cursor: 'pointer',
                                },
                                attrs:{
                                    'src':'/static/234.png',
                                    // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                                },
                                on: {
                                    click: (e) => {
                                        this.src = e.srcElement.currentSrc;
                                        this.show2 = true;
                                    }
                                }
                            }),
                        ])
                    }
                },

            ],
            data3:[
                {
                    a: '陈伟',
                    b: '1385172312',
                    c: '气瓶作业	',
                    d: '2019-05-23',
                    e:'安全管理员',
                    f:'../../static/20190521223419.jpg',
                    g:'气瓶',
                },
                {
                    a: '张斌',
                    b: '1385172312',
                    c: '气瓶作业	',
                    d: '2019-05-23',
                    e:'作业人员',
                    g:'电梯',
                },
                {
                    a: '王伟',
                    b: '1385172312',
                    c: '气瓶作业	',
                    d: '2019-05-23',
                    e:'水处理人员',
                    g:'锅炉',
                },
            ],
            data4:[
                {
                    a: '日常使用状况记录',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '日常维护保养记录',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '事故记录',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '自行检查记录',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                }
            ],
            data5:[
                {
                    a: '安全管理制度',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '安全技术培训',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '维护保养记录',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '日常安全检查',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '自行检查记录',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },{
                    a: '故障记录',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
            ],
            columns2: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                    fixed:'left',
                },
                {
                    title: '设备名称',
                    key: 'a',
                    align:'center',
                    width:100,
                    fixed:'left',
                },
                {
                    title: '使用单位名称',
                    key: 'b',
                    align:'center',
                    fixed:'left',
                    width:220,
                },
                {
                    title: '使用单位地址',
                    key: 'c',
                    align:'center',
                    width:200,
                },
                {
                    title: '设备类别',
                    key: 'd',
                    align:'center',
                    width:180,
                },
                {
                    title: '注册代码',
                    key: 'e',
                    align:'center',
                    width:300,
                },
                {
                    title: '使用证号',
                    key: 'f',
                    align:'center',
                    width:100,
                },
                {
                    title: '注册状态',
                    key: 'g',
                    align:'center',
                    width:100,
                },
                {
                    title: '使用状态',
                    key: 'h',
                    align:'center',
                    width:100,
                },
                {
                    title: '所在地区',
                    key: 'i',
                    align:'center',
                    width:140,
                },
                {
                    title: '检验日期',
                    key: 'j',
                    align:'center',
                    width:120,
                    fixed:'right'
                },
                {
                    title: '下次检验日期',
                    key: 'k',
                    align:'center',
                    fixed:'right',
                    width:120,
                },
            ],
            columns1: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                },
                {
                    title: '设备名称',
                    key: 'a',
                    align:'center',
                    width:160,
                },
                {
                    title: '使用单位名称',
                    key: 'b',
                    align:'center',
                    width:200,
                },
                {
                    title: '使用单位地址',
                    key: 'c',
                    align:'center',
                    width:240,
                },
                {
                    title: '设备类别',
                    key: 'd',
                    align:'center',
                    width:120,
                },
                {
                    title: '注册代码',
                    key: 'e',
                    align:'center',
                    width:300,
                },
                {
                    title: '使用证号',
                    key: 'f',
                    align:'center',
                    width:100,
                },
                {
                    title: '注册状态',
                    key: 'g',
                    align:'center',
                    width:100,
                },
                {
                    title: '使用状态',
                    key: 'h',
                    align:'center',
                    width:100,
                },
                {
                    title: '所在地区',
                    key: 'i',
                    align:'center',
                    width:100,
                },
                {
                    title: '检验日期',
                    key: 'j',
                    align:'center',
                    width:180
                },
                {
                    title: '下次检验日期',
                    key: 'k',
                    align:'center',
                    width:180
                },
                {
                    title: '操作',
                    key: 'cz',
                    fixed: 'right',
                    align:'center',
                    width:200,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        // this.showList = true;
                                        // this.numList = 0;
                                        this.showTitle(2,params,1);
                                    }
                                }
                            }, '详情'),
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.showTitle(2,params);
                                    }
                                }
                            }, '编辑'),
                            h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                        }
                                    }
                            }, '删除')
                        ]);
                    }
                },
            ],
            data1: [
                {
                    a: '解放半挂',
                    b: '江苏沙钢集团淮钢特钢有限公司',
                    c: '淮安市西安路188号		',
                    d: '场（厂）内机动车辆	',
                    e:'50503208002005031094	',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'清江浦区	',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '解放半挂',
                    b: '江苏沙钢集团淮钢特钢有限公司',
                    c: '淮安市西安路188号		',
                    d: '场（厂）内机动车辆	',
                    e:'50503208002005031094	',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'清江浦区	',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '解放半挂',
                    b: '江苏沙钢集团淮钢特钢有限公司',
                    c: '淮安市西安路188号		',
                    d: '场（厂）内机动车辆	',
                    e:'50503208002005031094	',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'清江浦区	',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '解放半挂',
                    b: '江苏沙钢集团淮钢特钢有限公司',
                    c: '淮安市西安路188号		',
                    d: '场（厂）内机动车辆	',
                    e:'50503208002005031094	',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'清江浦区	',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '解放半挂',
                    b: '江苏沙钢集团淮钢特钢有限公司',
                    c: '淮安市西安路188号		',
                    d: '场（厂）内机动车辆	',
                    e:'50503208002005031094	',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'清江浦区	',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '解放半挂',
                    b: '江苏沙钢集团淮钢特钢有限公司',
                    c: '淮安市西安路188号		',
                    d: '场（厂）内机动车辆	',
                    e:'50503208002005031094	',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'清江浦区	',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '解放半挂',
                    b: '江苏沙钢集团淮钢特钢有限公司',
                    c: '淮安市西安路188号		',
                    d: '场（厂）内机动车辆	',
                    e:'50503208002005031094	',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'清江浦区	',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
            ],
            data2: [
                    {
                        title: '全部人员',
                        expand: true,
                        children: [
                            {
                                title: '主要负责人',
                                expand: true,
                              children: [
                                {
                                  title: '王鹏',
                                  expand: true,
                                },
                              ]
                            },
                          {
                            title: '安全管理人员',
                            expand: true,
                            children: [
                              {
                                title: '安全管理负责人',
                                expand: true,
                                children:[{
                                  title:'罗强'
                                }]
                              },
                              {
                                title: '安全管理员',
                                expand: true,
                                children:[{
                                  title:'张军'
                                }]
                              },
                            ]
                          },{
                            title: '节能管理人员',
                            expand: true,
                            children:[{
                              title:'王伟'
                            }]
                          },{
                            title: '作业人员',
                            expand: true,
                            children:[{
                              title:'李伟'
                            }]
                          },{
                            title: '监察人员',
                            expand: true,
                            children:[{
                              title:'王鹏'
                            }]
                          },{
                            title: '检验人员',
                            expand: true,
                            children:[{
                              title:'李娜'
                            }]
                          },{
                            title: '无损检测人员',
                            expand: true,
                            children:[{
                              title:'王兵'
                            }]
                          },
                        ]
                    },

                ]
        }
    },
    methods:{
        showTitle(num,params,y){
            this.numList = 1;
           if(num == 1){
               this.title = '新增';
               this.edit = {};
           }else{
               this.title = '修改';
               Object.keys(params.row).forEach((key,index) => {
                   this.edit[key] = params.row[key]
               });
           }
           if(y){
               this.numList = 0;
           }
            this.showList = true;
        }
    }
}
</script>

<style lang='scss' scoped>
    .editFlex{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        color: #87888b;
        &:first-child{
            margin-top: 20px;
        }
        label{
            flex: .3;
            text-align: justify;
            text-align-last:justify;
            &::after{
                display: flex;
                content: "";
                overflow: hidden;
                width: 100%;
                height: 0;
            }
        }
        .ivu-input-wrapper,.ivu-select,.ivu-date-picker,.ivu-upload{
            flex: 1;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }

    .spe{
        background: #fff !important;
    }
    .logoImg{
        display: flex;
        align-items: center;
        img{
            cursor: pointer;
            max-width: 40px;
            margin-right: 10px;
            vertical-align: bottom;
        }
        &>div{
            flex: .5;
            display: flex;
            align-items: center;

        }
    }
    .publicItem{
        padding: 6px 0;
    }
    .publicItem:nth-child(even){
        background: #f1f3f8;

    }
.ivu-tabs-content{
    height: 100%;
}
.wrappper-title {
        width: 100%;
        height: 47px;
        line-height: 40px;
        position: relative;
        background-color: #fff;
        border-bottom:1px solid #e8edf7;
        font-size: 14px;
        .el-button--primary.is-plain {
            color: #409EFF;
            background: #ecf5ff;
            border-color: #b3d8ff;
        }
        .el-button {
            box-shadow: 0 3px 6px #d0d0d0;
            padding: 7px 15px;
            border-radius: 3px;
            transition: .1s;
            font-weight: 500;
            box-sizing: border-box;
            outline: 0;
            -webkit-appearance: none;
            text-align: center;
            border: 1px solid #dcdfe6;
            line-height: 1;
            white-space:nowrap;
            display: inline-block;
            cursor: pointer;
        }
        .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
            background: #409EFF;
            border-color: #409EFF;
            color: #fff;
        }
        i{
            color: #62a0de!important;
            background-color: #62a0de!important;
        }
        .circle+span{
            vertical-align: middle;
            color: #62a0de!important;
            cursor: pointer;
        }
    }
    .flex{
       display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 14px;
        color: #87888b;
        label{
            text-align: right;
            flex: .2;
            font-size: 14px;
            color: #87888b;
            margin-right: 30px;
        }

        span,img,.ivu-input-wrapper,.ivu-date-picker,.ivu-select{
            flex: .5;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .infor{
        display: flex;
        height: 100%;
        padding: 10px;
        .left{
            border-right:1px solid #ccc;
            margin-right: 10px;
            height: 100%+1;
            flex: .16;
        }
        .right{
            display: flex;
            height: 100%;
            flex: 1;
            overflow: hidden;
            flex-direction: column;
            padding-left: 1px;
            .mid{
                margin-top: 10px;
                flex: 1;
            }
            .top{
                margin-bottom: 10px;
            }
            .bot{
                display: flex;
                margin-top: 10px;
                flex-direction: column;
                align-items: center;
            }
        }

    }
    .ivu-upload{
        display: flex;
    }
</style>
