<template>
    <div class="infor">
        <!-- <div class="left">
            <Tree :data="data2"></Tree>
        </div> -->
        <div class="right">
            <div >
                <div class="top" style="display:flex;align-items:center;">
                    <Input suffix="ios-search" placeholder="请输入名称" style="width: 180px;margin-right:10px;" />
                    <Button type="primary" icon="ios-search">查询</Button>
                    <Upload style="margin-left:10px;" action="//jsonplaceholder.typicode.com/posts/">
                        <Button icon="ios-cloud-upload-outline">上传</Button>
                    </Upload>
                    <!-- <div data-v-2b91739e="" class="wrappper-title" style="float:left;"><button  @click="show = true" data-v-2b91739e="" type="button" class="el-button el-button--primary el-button--mini is-plain" style="float: left; margin: 2px 10px 0px 0px;"><span>上传</span></button></div> -->
                </div>
                <!-- <div data-v-2b91739e="" class="wrappper-title"><button  @click="show = true" data-v-2b91739e="" type="button" class="el-button el-button--primary el-button--mini is-plain" style="float: left; margin: 2px 10px 0px 0px;"><span>上传</span></button></div> -->
                <Table width="100%"  border :columns="columns5" :data="data5"></Table>
            </div>
        </div>
        <Modal :mask-closable='false'	
            v-model="show"
            :title="title"
            >
            <div>
            </div>
            <Row>
                <Col class="editFlex" span="24">
                    <label>人员类型</label>：
                    <Select v-model="edit.a" placeholder="请选择人员类型">
                    </Select>
                </Col>
                <Col class="editFlex" span="24">
                    <label>姓名</label>：
                    <Input v-model="edit.a" placeholder="请输入姓名"  />
                </Col>
                <Col class="editFlex" span="24">
                    <label>联系电话</label>：
                   <Input v-model="edit.b" placeholder="请输入联系电话"  />
                </Col>
                
                <Col class="editFlex" span="24">
                    <label>操作证类别</label>：
                   <Input v-model="edit.d" placeholder="请输入设备编号"  />
                </Col>
                <Col class="editFlex" span="24">
                    <label>操作证有效期</label>：
                    <DatePicker type="date" placeholder="请选择制造日期"></DatePicker>
                </Col>
                <Col class="editFlex" span="24">
                    <label>操作证图片</label>：
                    <Upload action="//jsonplaceholder.typicode.com/posts/">
                        <Button icon="ios-cloud-upload-outline">上传</Button>
                    </Upload>
                </Col>
            </Row>
        </Modal>
        <Modal :mask-closable='false'	
            v-model="show2"
            title="查看大图"
            >
            <img :src="src" style="width: 100%">
            <div slot="footer">
                <Button @click="show2 = false;">取消</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
export default {
    data () {
        return {
            model1:'',
            show:false,
            title:'',
            show2:false,
            src:'',
            showList:false,
            numList:0,
            edit:{

            },
            columns3:[
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                    fixed:'left',
                },
                {
                    title: '设备名称',
                    key: 'a',
                    align:'center',
                    width:100,
                    fixed:'left',
                },
            ],
            columns5:[
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                },
                {
                    title: '文件名称',
                    key: 'a',
                    align:'center',
                },
                {
                    title: '文件大小',
                    key: 'b',
                    align:'center',
                },
                {
                    title: '上传时间',
                    key: 'c',
                    align:'center',
                },
                {
                    title: '操作',
                    key: 'cz',
                    align:'center',
                    width:200,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        // this.showList = true;
                                        // this.numList = 0;
                                        this.showTitle(2,params,1);
                                    }
                                }
                            }, '查看'),
                            h('Button', {
                                props: {
                                    type: 'success',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        // this.showList = true;
                                        // this.numList = 0;
                                        this.showTitle(2,params,1);
                                    }
                                }
                            }, '下载'),
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        // this.showList = true;
                                        // this.numList = 0;
                                        this.showTitle(2,params,1);
                                    }
                                }
                            }, '删除'),
                        ]);
                    }
                },
            ],
            columns4:[
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                },
                {
                    title: '姓名',
                    key: 'a',
                    align:'center',
                },
                {
                    title: '人员类型',
                    key: 'e',
                    align:'center',
                },
                {
                    title: '联系电话',
                    key: 'b',
                    align:'center',
                },
                {
                    title: '操作证类别',
                    key: 'c',
                    align:'center',
                },
                {
                    title: '操作证有效期',
                    key: 'd',
                    align:'center',
                },
                 {
                    title: '操作证图片',
                    key: 'f',
                    fixed: 'right',
                    align:'center',
                    width:200,
                    render: (h, params) => {
                        return h('div', [
                            h('img', {
                                style: {    
                                    width:'80px',
                                    height:'61px',
                                    cursor: 'pointer',
                                },
                                attrs:{
                                    'src':'/static/234.png',
                                    // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                                },
                                on: {
                                    click: (e) => {
                                        this.src = e.srcElement.currentSrc;
                                        this.show2 = true;
                                    }
                                }
                            }),
                        ])
                    }
                },
                
            ],
            data3:[
                {
                    a: '陈伟',
                    b: '1385172312',
                    c: '锅炉作业	',
                    d: '2019-05-23',
                    e:'安全管理员',
                    f:'../../static/20190521223419.jpg',
                },
                {
                    a: '张斌',
                    b: '1385172312',
                    c: '锅炉作业	',
                    d: '2019-05-23',
                    e:'作业人员',
                },
                {
                    a: '王伟',
                    b: '1385172312',
                    c: '锅炉作业	',
                    d: '2019-05-23',
                    e:'水处理人员',
                },
            ],
            data4:[
                {
                    a: '安装清洗资料',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '安全附件相关信息',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '化学清洗技术资料',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '锅炉设备出场资料',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
            ],
            data5:[
               {
                    a: '锅炉定期检验',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '电梯定期检验',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '叉车定期检验',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '气瓶定期检验',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
                {
                    a: '起重机械定期检验',
                    b: '30K',
                    c: '2019-05-23  11:22:00',
                },
            ],
            columns2: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                    fixed:'left',
                },
                {
                    title: '设备名称',
                    key: 'a',
                    align:'center',
                    width:100,
                    fixed:'left',
                },
                {
                    title: '使用单位名称',
                    key: 'b',
                    align:'center',
                    fixed:'left',
                    width:200,
                },
                {
                    title: '使用单位地址',
                    key: 'c',
                    align:'center',
                    width:200,
                },
                {
                    title: '设备类别',
                    key: 'd',
                    align:'center',
                    width:180,
                },
                {
                    title: '注册代码',
                    key: 'e',
                    align:'center',
                    width:100,
                },
                {
                    title: '使用证号',
                    key: 'f',
                    align:'center',
                    width:100,
                },
                {
                    title: '注册状态',
                    key: 'g',
                    align:'center',
                    width:100,
                },
                {
                    title: '使用状态',
                    key: 'h',
                    align:'center',
                    width:100,
                },
                {
                    title: '所在地区',
                    key: 'i',
                    align:'center',
                    width:140,
                },
                {
                    title: '检验日期',
                    key: 'j',
                    align:'center',
                    width:120,
                    fixed:'right'
                },
                {
                    title: '下次检验日期',
                    key: 'k',
                    align:'center',
                    fixed:'right',
                    width:120,
                },
            ],
            columns1: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                },
                {
                    title: '设备名称',
                    key: 'a',
                    align:'center',
                    width:160,
                },
                {
                    title: '使用单位名称',
                    key: 'b',
                    align:'center',
                    width:200,
                },
                {
                    title: '使用单位地址',
                    key: 'c',
                    align:'center',
                    width:220,
                },
                {
                    title: '设备类别',
                    key: 'd',
                    align:'center',
                    width:120,
                },
                {
                    title: '注册代码',
                    key: 'e',
                    align:'center',
                    width:100,
                },
                {
                    title: '使用证号',
                    key: 'f',
                    align:'center',
                    width:100,
                },
                {
                    title: '注册状态',
                    key: 'g',
                    align:'center',
                    width:100,
                },
                {
                    title: '使用状态',
                    key: 'h',
                    align:'center',
                    width:100,
                },
                {
                    title: '所在地区',
                    key: 'i',
                    align:'center',
                    width:100,
                },
                {
                    title: '检验日期',
                    key: 'j',
                    align:'center',
                    width:180
                },
                {
                    title: '下次检验日期',
                    key: 'k',
                    align:'center',
                    width:180
                },
                {
                    title: '操作',
                    key: 'cz',
                    fixed: 'right',
                    align:'center',
                    width:200,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        // this.showList = true;
                                        // this.numList = 0;
                                        this.showTitle(2,params,1);
                                    }
                                }
                            }, '详情'),
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.showTitle(2,params);
                                    }
                                }
                            }, '编辑'),
                            h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                        }
                                    }
                            }, '删除')
                        ]);
                    }
                },
            ],
            data1: [
                {
                    a: '有机热载体锅炉',
                    b: '江苏翔发电源有限公司',
                    c: '盱眙县经济开发区工二路	',
                    d: '锅炉',
                    e:'-',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'盱眙县',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '有机热载体锅炉',
                    b: '江苏翔发电源有限公司',
                    c: '盱眙县经济开发区工二路	',
                    d: '锅炉',
                    e:'-',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'盱眙县',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '有机热载体锅炉',
                    b: '江苏翔发电源有限公司',
                    c: '盱眙县经济开发区工二路	',
                    d: '锅炉',
                    e:'-',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'盱眙县',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '有机热载体锅炉',
                    b: '江苏翔发电源有限公司',
                    c: '盱眙县经济开发区工二路	',
                    d: '锅炉',
                    e:'-',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'盱眙县',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '有机热载体锅炉',
                    b: '江苏翔发电源有限公司',
                    c: '盱眙县经济开发区工二路	',
                    d: '锅炉',
                    e:'-',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'盱眙县',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '有机热载体锅炉',
                    b: '江苏翔发电源有限公司',
                    c: '盱眙县经济开发区工二路	',
                    d: '锅炉',
                    e:'-',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'盱眙县',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
                {
                    a: '有机热载体锅炉',
                    b: '江苏翔发电源有限公司',
                    c: '盱眙县经济开发区工二路	',
                    d: '锅炉',
                    e:'-',
                    f:'-',
                    g:'已注册',
                    h:'停用	',
                    i:'盱眙县',
                    j:'2017-05-16',
                    k:'2017-05-20'
                },
            ],
            data2: [
                    {
                        title: '特种设备种类',
                        expand: true,
                        children: [
                            {
                                title: '承压类',
                                expand: true,
                                children: [
                                    {
                                        title: '锅炉（5）'
                                    },
                                    {
                                        title: '压力容器（2）'
                                    },
                                    {
                                        title: '压力管道（1）'
                                    },
                                    {
                                        title: '气瓶（0）'
                                    }
                                ]
                            },
                            {
                                title: '机电类',
                                expand: true,
                                children: [
                                    {
                                        title: '电梯（1）'
                                    },
                                    {
                                        title: '起重机械（2）'
                                    },
                                    {
                                        title: '场内机动车（3）'
                                    },
                                    {
                                        title: '大型游乐设施（1）'
                                    }
                                ]
                            }
                        ]
                    }
                ]
        }
    },
    methods:{
        showTitle(num,params,y){
            this.numList = 1;
           if(num == 1){
               this.title = '新增';
               this.edit = {};
           }else{
               this.title = '修改';
               Object.keys(params.row).forEach((key,index) => {
                   this.edit[key] = params.row[key]
               });
           }
           if(y){
               this.numList = 0;
           }
            this.showList = true;
        }
    }
}
</script>

<style lang='scss' scoped>
    .editFlex{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        color: #87888b;
        &:first-child{
            margin-top: 20px;
        }
        label{
            flex: .3;
            text-align: justify;
            text-align-last:justify;
            &::after{
                display: flex;
                content: "";
                overflow: hidden;
                width: 100%;
                height: 0;
            }
        }
        .ivu-input-wrapper,.ivu-select,.ivu-date-picker,.ivu-upload{
            flex: 1;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }

    .spe{
        background: #fff !important;
    }
    .logoImg{
        display: flex;
        align-items: center;
        img{
            cursor: pointer;
            max-width: 40px;
            margin-right: 10px;
            vertical-align: bottom;
        }
        &>div{
            flex: .5;
            display: flex;
            align-items: center;

        }
    }
    .publicItem{
        padding: 6px 0;
    }
    .publicItem:nth-child(even){
        background: #f1f3f8;
        
    }
.ivu-tabs-content{
    height: 100%;
}
.wrappper-title {
        width: 100%;
        height: 47px;
        line-height: 40px;
        position: relative;
        background-color: #fff;
        border-bottom:1px solid #e8edf7;
        font-size: 14px;
        .el-button--primary.is-plain {
            color: #409EFF;
            background: #ecf5ff;
            border-color: #b3d8ff;
        }
        .el-button {
            box-shadow: 0 3px 6px #d0d0d0;
            padding: 7px 15px;
            border-radius: 3px;
            transition: .1s;
            font-weight: 500;
            box-sizing: border-box;
            outline: 0;
            -webkit-appearance: none;
            text-align: center;
            border: 1px solid #dcdfe6;
            line-height: 1;
            white-space:nowrap;
            display: inline-block;
            cursor: pointer;
        }
        .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
            background: #409EFF;
            border-color: #409EFF;
            color: #fff;
        }
        i{
            color: #62a0de!important;
            background-color: #62a0de!important;
        }
        .circle+span{
            vertical-align: middle;
            color: #62a0de!important;
            cursor: pointer;
        }
    }
    .flex{
       display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 14px;
        color: #87888b;
        label{
            text-align: right;
            flex: .2;
            font-size: 14px;
            color: #87888b;
            margin-right: 30px;
        }
        
        span,img,.ivu-input-wrapper,.ivu-date-picker,.ivu-select{
            flex: .5;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .infor{
        display: flex;
        height: 100%;
        padding: 10px;
        .left{
            border-right:1px solid #ccc;
            margin-right: 10px;
            height: 100%+1;
            flex: .16;
        }
        .right{
            display: flex;
            height: 100%;
            flex: 1;
            overflow: hidden;
            flex-direction: column;
            padding-left: 1px;
            .mid{
                margin-top: 10px;
                flex: 1;
            }
            .top{
                margin-bottom: 10px;
            }
            .bot{
                display: flex;
                margin-top: 10px;
                flex-direction: column;
                align-items: center;
            }
        }
        
    }
    .ivu-upload{
        display: flex;
    }
</style>
