<template>
    <div style="height:100%">
        <div id="allmap"></div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            map:'',
            opts:{}
        }
    },
    mounted(){
        this.initMap();  
    },
    methods:{
        addClickHandler(content,marker){
            let _this = this;
            marker.addEventListener("click",function(e){
                _this.openInfo(content,e)}
            );
        },
        openInfo(content,e){
            var p = e.target;
            let _this = this;
            var point = new BMap.Point(p.getPosition().lng - 0.0009, p.getPosition().lat + 0.0005);
            var infoWindow = new BMap.InfoWindow(content,_this.opts);  // 创建信息窗口对象
            _this.map.openInfoWindow(infoWindow,point); //开启信息窗口
        },
        initMap(){
            let _this = this;
            _this.map = new BMap.Map("allmap");
            _this.map.centerAndZoom(new BMap.Point(119.027001,33.03168), 11);
            var data_info = [[119.300988,33.079899,"地址：北京市东城区王府井大街88号乐天银泰百货八层"],
                [118.991659,33.007891,"地址：北京市东城区东华门大街"],
                [118.971604,33.023393,"地址：北京市东城区正义路甲5号"]
            ];
            _this.opts = {
                width : 250,     // 信息窗口宽度
                height: 250,     // 信息窗口高度
                enableMessage:true//设置允许信息窗发送短息
            };
            var maker2 = new BMap.Icon("../../static/green.jpg", new BMap.Size(30, 34));
            console.log(maker2);
            for(var i=0;i<data_info.length;i++){
                var marker = new BMap.Marker(new BMap.Point(data_info[i][0],data_info[i][1]),{icon:maker2});  // 创建标注
                var content  = '';
                content += '<div style="color:#fff;">'
                        +'<div style="width: 100%;border-bottom: 1px solid #fff;padding-bottom:10px;height: 100%;background: #70a2f2">淮安-金湖区-锅炉</div>'
                        +'<div style="width: 100%;height: 100%;border-bottom: 1px solid #fff;padding-bottom:10px;margin-top:4px;background: #70a2f2">地址：淮安-金湖区</div>'
                        +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">设备类别：锅炉</div>'
                        +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">检查类别：例行检查</div>'
                        +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">发证日期：2018.06.11</div>'
                        +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">有效期至：2020.06.14</div>'
                        +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">'
                            +'<a>详情</a>'
                            +'<img>'
                        +'</div>'
                    +'</div>'
                _this.map.addOverlay(marker);               // 将标注添加到地图中
                _this.addClickHandler(content,marker);
            }
            _this.map.enableScrollWheelZoom(true);
        }
    }
}
</script>
<style>
        .layui-fluid,html,body{
            height: 100%;
        }
        #allmap{
            width: 100%;
            height: 100%;
        }
        /*地图标题*/
        .anchorBL{
            display:none;
        }
        .BMap_bubble_title{
            color:black;
            font-size:13px;
            font-weight: bold;
            text-align:left;
            background: #70a2f2 !important;
        }
        .BMap_pop div:nth-child(1){
            border-radius:7px 0 0 0;
            background: #70a2f2 !important;
        }
        .BMap_pop div:nth-child(3){
            border-radius:0 7px 0 0;
            background:#70a2f2;
            width:23px;
            height:0px;
        }
        .BMap_pop div:nth-child(3) div{
            border-radius:7px;
            background: #70a2f2 !important;
        }
        .BMap_pop div:nth-child(5){
            border-radius:0 0 0 7px;
            background: #70a2f2 !important;
        }
        .BMap_pop div:nth-child(9),.BMap_center{
            background: #70a2f2 !important;
        }
        .BMap_pop div:nth-child(8) img{
            display: none;
        }
        .BMap_pop div:nth-child(8){
            width: 0 !important;
            height: 0 !important;
            border-width: 12px;
            border-style: solid;
            border-color: #70a2f2 transparent transparent transparent;
            top: 280px !important;
        }

        .BMap_pop div:nth-child(5) div{
            border-radius:7px;
            background: #70a2f2 !important;
        }
        .BMap_pop div:nth-child(7){
            border-radius:0 0 7px 0 ;
            background: #70a2f2 !important;
        }
        .anchorBL{
            display:none;
        }
        .BMap_pop div:nth-child(7) div{
            border-radius:7px ;
            background: #70a2f2 !important;
        }
        .BMap_top,.BMap_bottom{
            background: #70a2f2 !important;
        }
        #deptForm{
            display: flex;
            padding: 0px;
        }
    </style>
    