<template>

</template>

<script>
    export default {
        name: "g-i-s-dialog",
        methods:{
          initMap(){
            let _this = this;
            this.modal9 = true;
            var map = new BMap.Map("map");
            map.centerAndZoom("南京",12);
            //单击获取点击的经纬度
            map.addEventListener("click",function(e){
              _this.$set(_this.edit,'zb',e.point.lng + "," + e.point.lat)
            });
            _this.opts = {
              width : 250,     // 信息窗口宽度
              height: 250,     // 信息窗口高度
              enableMessage:true//设置允许信息窗发送短息
            };
            var maker2 = new BMap.Icon("../../static/green.jpg", new BMap.Size(30, 34));
            var marker = new BMap.Marker(new BMap.Point(_this.edit.longitude,_this.edit.latitude),{icon:maker2});  // 创建标注
            map.addOverlay(marker);               // 将标注添加到地图中

          },
        }
    }
</script>

<style scoped>

</style>
