<template>
  <div class="main">
    <div class="left">
      <h5>{{userName?userName:'企业简介'}}</h5>
      <div
        class="left-t"
        :style="{background:'url(http://36.154.40.222:8085/jeecg-boot'+companyList.picUrl+') no-repeat'}"
      ></div>
      <div class="left-b">
        <Input v-if="!show" type="textarea" v-model="companyList.content" :rows="4" />
        <!--淮安市金湖县在用特种设备总数<Input :disabled='true' class="inputTitle" />台，其中锅炉<Input :disabled='true' class="inputTitle" />台、压力容器<Input :disabled='true' class="inputTitle" />台，电梯<Input :disabled='true' class="inputTitle" />台、起重机械<Input :disabled='true' class="inputTitle" />台、场（厂）内机动车辆<Input :disabled='true' class="inputTitle" />台，今年以来，培训特种设备操作人员<Input :disabled='true' class="inputTitle" />人次。-->
        <!--<div>-->
        <!--淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数-->
        <!--</div>-->
        <div v-else>{{companyList.content}}</div>
        <div style="position: absolute;right: 10px;bottom: 20px;">
          <Button v-if="!show" size="small" type="error" @click="save">保存</Button>
          <Button v-else size="small" type="primary" @click="show = false;">编辑</Button>
        </div>
        <div class="waikuang"></div>
        <!-- <div class="left-k"></div> -->
        <!-- <div class="right-k"></div> -->
        <h5 style="position: absolute;top: -1%;left: 10%;font-size: 18px;">企业简介</h5>
      </div>
    </div>
    <div class="right">
      <div class="r-t">
        <div>预警</div>
      </div>
      <div class="r-b">
        <ul class="item">
          <li class="itemList" @click="clickItem(list)" v-for="list in dataList">
            <Tooltip
              placement="left"
              max-width="200px"
              :content="list.compName+'设备检验已经超期'"
              style="display: flex;"
            >
              <div class="i-left" :key="list.id">
                <img
                  :src="list.warningType.substr(list.warningType.length-2,list.warningType.length) == '到期'?'../../static/错误.png':'../../static/警告.png'"
                />
              </div>
              <div class="i-mid">
                <h5>{{list.warningType}}</h5>
                <div
                  class="text"
                >{{list.compName}}已经{{list.warningType.substr(list.warningType.length-2,list.warningType.length)}}</div>
                <div class="close">{{list.warningTime.substr(0,10)}}</div>
              </div>
            </Tooltip>
          </li>
        </ul>
        <Page
          style="margin-top: 10px;"
          class="homeSpe"
          :page-size="query.pageSize"
          :current="1"
          @on-change="changeList"
          size="small"
          :total="total"
        />
      </div>
    </div>
    <Modal :mask-closable="false" v-model="showDetail" title="详情" width="1000" class="homeDetail">
      <gl v-if="show1" :form="form"></gl>
      <dt-name v-else-if="show3" :form="form"></dt-name>
      <ylrq v-else-if="show2" :form="form"></ylrq>
      <qzjx v-else-if="show4" :form="form"></qzjx>
      <cncc v-else-if="show5" :form="form"></cncc>
      <ylss v-else-if="show6" :form="form"></ylss>
      <ylgd v-else-if="show8" :form="form"></ylgd>
      <div slot="footer">
        <Button @click="showDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal :mask-closable="false" v-model="aqDetail" title="详情">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="文件名称：">
              <Input :disabled="true" v-model="form.dname" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件大小：">
              <Input :disabled="true" v-model="form.dsize" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件有效期：">
              <Input :disabled="true" v-model="form.dvaliditydate" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件上传时间：">
              <Input :disabled="true" v-model="form.duploadDate" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件类型：">
              <Input :disabled="true" v-model="dtype" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件类型：" style="border-right: 1px solid #ddd;">
              <Button style="margin-left: 10px;" @click="look" size="small">查看</Button>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="aqDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal :mask-closable="false" v-model="zyDetail" title="详情">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="文件名称：">
              <Input :disabled="true" v-model="form.dname" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件大小：">
              <Input :disabled="true" v-model="form.dsize" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件有效期：">
              <Input :disabled="true" v-model="form.dvaliditydate" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件上传时间：">
              <Input :disabled="true" v-model="form.duploadDate" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件类型：">
              <Input :disabled="true" v-model="dtype" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件类型：" style="border-right: 1px solid #ddd;">
              <Button style="margin-left: 10px;" @click="look" size="small">查看</Button>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="zyDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal :mask-closable="false" v-model="zyzDetail" title="详情" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="证书编号：">
              <Input :disabled="true" v-model="form.zsbh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="姓名：">
              <Input :disabled="true" v-model="form.xm" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="领证人：">
              <Input :disabled="true" v-model="form.lzr" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="联系电话：">
              <Input :disabled="true" v-model="form.lxdh" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="身份证号：">
              <Input :disabled="true" v-model="form.sfzh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="作业项目：">
              <Input :disabled="true" v-model="form.zyxm" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="档案编号：">
              <Input :disabled="true" v-model="form.dabh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="作业种类：">
              <Input :disabled="true" v-model="form.zyzl" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="用人单位：">
              <Input :disabled="true" v-model="form.yrdw" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="发证机构：">
              <Input :disabled="true" v-model="form.fzjg" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="考试机构：">
              <Input :disabled="true" v-model="form.ksjg" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="考试类别：">
              <Input :disabled="true" v-model="form.kslb" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="有效日期：">
              <Input :disabled="true" v-model="form.yxrq" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="批准日期：">
              <Input :disabled="true" v-model="form.pzrq" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="zyzDetail = false">取消</Button>
      </div>
    </Modal>
    <Modal :mask-closable="false" v-model="show2222" title="安全附件" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="出厂编号：">
              <Input :disabled="true" v-model="form.factoryCode" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="器具名称：">
              <Input :disabled="true" v-model="form.appName" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="规格型号：">
              <Input :disabled="true" v-model="form.spec" />
            </FormItem>
          </Col>
          <!--<Col span="12">-->
          <!--<FormItem label="企业组织机构代码：">-->
          <!--<Input :disabled='true' v-model="form.compUsci" :disabled="true" />-->
          <!--</FormItem>-->
          <!--</Col>-->
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="检定日期：">
              <el-date-picker
                v-model="form.checkDate"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%;"
                placeholder="选择日期"
                :disabled="true"
              ></el-date-picker>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="有效日期：">
              <el-date-picker
                v-model="form.validityDate"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%;"
                placeholder="选择日期"
                :disabled="true"
              ></el-date-picker>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="show2222 = false;">取消</Button>
        <!--<Button @click="add" type="primary">保存</Button>-->
      </div>
    </Modal>
  </div>
</template>

<script>
import gl from "./addModel/guolu";
import dtName from "./addModel/dt";
import ylrq from "./addModel/ylrq";
import qzjx from "./addModel/qzjx";
import cncc from "./addModel/cncc";
import ylss from "./addModel/ylss";
import ylgd from "./addModel/ylgd";
export default {
  name: "home-list",

  data() {
    return {
      show: false,
      show2222: false,
      userName: sessionStorage.getItem("userName"),
      showDetail: false,
      zyzDetail: false,
      aqDetail: false,
      zyDetail: false,
      form: {},
      content: "",
      query: {
        pageSize: 6,
        pageNo: 1,
        compId: sessionStorage.getItem("compId")
      },
      total: 0,
      item: [{}, {}, {}, {}, {}, {}],
      dataList: [],
      show1: false,
      show2: false,
      show3: false,
      show4: false,
      show5: false,
      show6: false,
      show7: false,
      show8: false,
      wjList: [],
      dtype: "",
      num: 1,
      companyList: {}
    };
  },
  created() {
    this.getInfoMsg();
    this.getDetail();
    this.getWjlx();
  },
  methods: {
    changeList(index) {
      this.query.pageNo = index;
      this.getInfoMsg();
    },
    async getWjlx() {
      let res = await this.$fetch.get("index/getFileTypeDict");
      this.wjList = res.data.result;
    },
    async getInfoMsg() {
      let res = await this.$fetch.get("index/getJgMaturityEarlyWarningList", {
        params: this.query
      });
      this.dataList = res.data.list;
      this.total = res.data.total;

      if (this.$store.state.user.numBer == 0) {
        for (let i in this.dataList) {
          let div = document.createElement("div");
          let div1 = document.createElement("div");
          div.style.zIndex = 1001 + i;
          div1.style.zIndex = 1000 + i;
          div.className = "dialogDiy dialogDiy" + i + "";
          div1.className = "dialogBg dialogBg" + i + "";
          document.body.appendChild(div);
          document.body.appendChild(div1);

          let title = document.createElement("div");
          title.textContent = this.dataList[i].warningType;
          title.className = "dialogTitle";
          div.appendChild(title);

          let content = document.createElement("div");
          content.textContent =
            this.dataList[i].compName + this.dataList[i].warningType;
          content.className = "dialogCon";

          let fot = document.createElement("div");
          let butLeft = document.createElement("div");
          let butRight = document.createElement("div");
          butLeft.textContent = "稍后查看";
          butRight.textContent = "确认";
          butRight.id = i;
          butLeft.className = "dialogSure";
          butRight.className = "dialogNext";

          fot.className = "fotter";
          fot.appendChild(butLeft);
          fot.appendChild(butRight);

          // let str = '';
          // str += '<div class="dialogTitle">{{this.dataList[i].warningType}}</div>'
          // str += '<div class="dialogCon">{{this.dataList[i].compName+this.dataList[i].warningType}}</div>'
          div.appendChild(content);
          div.appendChild(fot);
          // butRight.onclick = this.oneClose(i);
        }
        $(".dialogNext").on("click", function(e) {
          $(".dialogDiy:eq(" + $(e.target).attr("id") + ")").remove();
          $(".dialogBg" + $(e.target).attr("id") + "").remove();
        });
        $(".dialogSure").on("click", function(e) {
          $(".dialogDiy").remove();
          $(".dialogBg").remove();
        });
      }
      this.$store.state.user.numBer++;
      // this.dataList  = this.item.slice(0,7);
      // this.$Modal.confirm({
      //   title:this.dataList[0].warningType,
      //   content:this.dataList[0].compName+this.dataList[0].warningType,
      //   cancelText:'稍后查看',
      //   maskClosable:false,
      //   value:true,
      //   onCancel: () => {
      //     this.$Modal.remove();
      //   }
      // });
      // for(let i of this.dataList){
      //   setTimeout(()=>{
      //     // debugger;
      //     // let str = '';
      //     // str +='<div>'+i.warningType+'</div>'
      //     // str +='<div>'+i.compName+i.warningType+'</div>'
      //     // this.$confirm(str)
      //     //   .then(_ => {
      //     //   })
      //     //   .catch(_ => {});
      //     this.$Modal.confirm({
      //       title:i.warningType,
      //       content:i.compName+i  .warningType,
      //       cancelText:'稍后查看',
      //       maskClosable:false,
      //       onCancel: () => {
      //         this.$Modal.remove();
      //       }
      //     });
      //   },1500);
      //
      // }
    },
    aotu(data) {
      this.num++;
      if (!this.dataList[this.num]) {
        this.$Modal.remove();
        return;
      }
      this.$Modal.confirm({
        title: this.dataList[this.num].warningType,
        content:
          this.dataList[this.num].compName +
          this.dataList[this.num].warningType,
        cancelText: "稍后查看",
        maskClosable: false,
        render: () => {}
        // onOk: () => {
        // },
        // onCancel: () => {
        //   this.$Modal.remove();
        // }
      });
    },
    async getDetail() {
      let res = await this.$fetch.get("compIndexContent/getCompContent", {
        params: { usci: sessionStorage.getItem("compId") }
      });
      if (res.data.result) {
        this.show = true;
        // this.content = res.data.result.content;
        this.companyList = Object.assign({}, res.data.result);
      } else {
        this.show = false;
      }
    },
    oneClose(index) {
      $("dialogDiy" + index + "").remove();
      $("dialogBg" + index + "").remove();
    },
    // 设备详情
    async getDetailMsg(type, id) {
      let res = "";
      res = await this.$fetch.get("glxx/getGlxx", {
        params: { glxxId: id, sbType: type }
      });
      return res.data.result;
    }, // 设作业人
    async getZyMsg(id) {
      let res = "";
      res = await this.$fetch.get("workOrder/getWorkPeople", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
    }, // 安全管理
    async getAqDetail(id) {
      this.form = {};
      let res = "";
      res = await this.$fetch.get("doc/getDoc", { params: { dId: id } });
      this.form = Object.assign({}, res.data.result);
      for (let i of this.wjList) {
        if (i.BIANMA == res.data.result.dtype) {
          this.dtype = i.NAME;
        }
      }
    },
    // 获取详情
    async getAQFJDetail(id) {
      this.jysblb = [];
      let res = await this.$fetch.get("safetyFileTest/getSafetyFileTest", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
    },
    clickItem(list) {
      console.log(list);
      if (list.type == "doc") {
        this.aqDetail = true;
        this.getAqDetail(list.id);
      } else if (list.type == "personal") {
        this.zyzDetail = true;
        this.getZyMsg(list.id);
      } else if (list.type == "safetyFile") {
        this.show2222 = true;
        this.getAQFJDetail(list.id);
      } else {
        this.show1 = false;
        this.show2 = false;
        this.show3 = false;
        this.show4 = false;
        this.show5 = false;
        this.show6 = false;
        this.show7 = false;
        this.show8 = false;
        switch (list.type) {
          // 锅炉
          case "SB1000":
            this.show1 = true;
            break;
          //压力容器
          case "SB2000":
            // res = await this.$fetch.get('ylrqxx/getYlrqxx',{params:{YlrqxxId:id}})
            this.show2 = true;
            break;
          case "SB3000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show3 = true;
            break;
          case "SB4000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show4 = true;
            break;
          case "SB5000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show5 = true;
            break;
          case "SB6000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show6 = true;
            break;
          //压力管道
          case "SB8000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show8 = true;
            break;
        }
        this.showDetail = true;
        $(".homeDetail .ivu-modal-body").scrollTop = 0;
        this.getDetailMsg(list.type, list.id).then(res => {
          this.form = res;
        });
      }
    },
    look() {
      window.open(
        "http://36.154.40.222:8085/jeecg-boot/" + this.form.durl,
        "_blank"
      );
    },
    async save() {
      let res = await this.$fetch.put(
        "compIndexContent/updateCompIndexContent",
        this.companyList
      );
      if (res.data.success) {
        this.$Message.success(res.data.message);
        this.getDetail();
      } else {
        this.$Message.error(res.data.message);
      }
    }
  }
};
</script>

<style scoped lang="scss">
.inputTitle {
  width: 30px;
  border: none;
  outline: none;
  line-height: 0;
  border-bottom: 1px solid #999;
}
.waikuang {
  background: url("../../static/金湖特种设备详情.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.main {
  height: 100%;
  display: flex;

  .left {
    & > h5 {
      padding-top: 2%;
      font-size: 32px;
      color: #ffb033;
      font-weight: 400;
      text-align: center;
    }
    flex: 0.7;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .left-t {
      /*flex: 1;*/
      margin-top: 4%;
      background: url("../../static/照片.png") no-repeat 100% top;
      // background-position-y: -110px;
      background-position-x: 50% !important;
      background-position-y: 50% !important;
      /*background-size:cover;*/
      -webkit-background-size: 100% 100%;
      background-size: 89% 100% !important;
      width: 95%;
      height: 52%;
      align-self: flex-end;
    }
    .left-b {
      position: absolute;
      color: #333333;
      font-size: 16px;
      line-height: 1.5;
      width: 80%;
      bottom: 6%;
      height: 180px;
      overflow: hidden;
      left: 12%;
      padding: 30px;
      // background: url("../../static/金湖特种设备详情..png") no-repeat;
      // background-size: 100% 100%;
    }
  }
  .right {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px 20px;
    .r-t {
      border-bottom: 1px solid #448eb9;
      div {
        color: #fff;
        background: #448eb9;
        width: 70px;
        height: 36px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .r-b {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      /*padding: 16px;*/
      padding: 16px 16px 0 16px;
      &:after {
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .item {
        flex: 1;
        width: 100%;
        overflow: hidden;
		overflow-y: scroll;
        .itemList {
          display: flex;
          background: #fff;
          cursor: pointer;
          border-radius: 8px;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0px;
          }
          padding: 16px 10px 10px 10px;
          .i-left {
            flex: 0.1;
          }
          .i-mid {
            flex: 0.8;
            margin-left: 14px;
            width: 0px;

            h5 {
              color: #333333;
              font-weight: bold;
              font-size: 16px;
            }
            .text {
              color: #333333;
              font-size: 14px;
              margin-top: 4px;
              overflow: hidden; //隐藏
              white-space: nowrap; //不换行
              text-overflow: ellipsis; //超出部分省略号
            }
          }
          .close {
            flex: 0.6;
            color: #96999e;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
</style>
<style lang="scss">
.dialogDiy {
  width: 400px;
  height: 200px;
  background: #fff;
  position: fixed;

  top: 34%;
  left: 40%;
  z-index: 1001;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;

  .dialogTitle {
    color: #333;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .dialogCon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  .fotter {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    & div {
      cursor: pointer;
      padding: 6px 10px;
      margin-right: 10px;
      border-radius: 4px;
    }
    & div:first-child {
      color: #fff;
      background: red;
    }
    & div:last-child {
      color: #fff;
      background: #57a3f3;
    }
  }
}

.dialogBg {
  position: fixed;
  left: 0;
  bottom: 0;
  content: "";
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(55, 55, 55, 0.6);
}
.homeDetail {
  .ivu-modal-body {
    height: 500px;
    overflow-y: scroll;
  }
}
.homeSpe {
  .ivu-page-next,
  .ivu-page-prev {
    background: none;
  }
  .ivu-page-item {
    color: #333333;
    border-radius: 50%;
    background: none;
  }
  .ivu-page-item:hover,
  .ivu-page-item-active {
    background: #448eb9;
    a {
      color: #fff;
    }
    border-color: transparent;
  }
  .ivu-page-next a,
  .ivu-page-prev a {
    color: #333 !important;
  }
}
.itemList {
  .ivu-tooltip {
    width: 100%;
    .ivu-tooltip-rel {
      display: flex;
    }
  }
}
</style>
