<template>
  <div class="infor">
    <Tabs type="card" style="height: 100%;">
      <TabPane label="基础信息">
        <div style="display: flex;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
          <div
            data-v-2b91739e
            v-if="$route.query.id == 1"
            class="wrappper-title"
            style="width: inherit;margin-left: 10px;font-size: 16px;cursor: pointer;    margin-right: 10px;"
            @click="detail"
          ><返回</div>
          <div data-v-2b91739e class="wrappper-title" style="width: inherit;">
            <button
              @click="show = true;srcList = ''"
              data-v-2b91739e
              type="button"
              class="el-button el-button--primary el-button--mini is-plain"
              style=" display: block;font-size:14px;"
            >
              <!---->
              <!---->
              <span>编辑</span>
            </button>
          </div>
          <!--<div data-v-2b91739e="" class="wrappper-title"style="width: inherit;margin-left: 10px;"><button  @click="clickDetail" data-v-2b91739e="" type="button" class="el-button el-button&#45;&#45;primary el-button&#45;&#45;mini is-plain" style=" display: block;">&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;<span>历史修改</span></button></div>-->
        </div>
        <div style="display: flex;">
          <!--<div>-->
          <!--<div>-->
          <!--<Input style="width: 70%;" />-->
          <!--<Button>查询</Button>-->
          <!--</div>-->
          <!--<Tree :data="data3" style="flex: .15;"></Tree>-->
          <!--</div>-->

          <Row style="width: 100%;">
            <Col class="publicItem" span="24" style="display: flex;">
              <Col class="flex" span="12">
                <label>企业名称：</label>
                <span>{{form.sydwmc}}</span>
              </Col>
              <Col class="flex" span="12">
                <label>企业地址：</label>
                <span>{{form.xxdz}}</span>
              </Col>
            </Col>
              <Col class="publicItem" span="24" style="display: flex;">
                <Col class="flex" span="12">
                  <label>负责人姓名：</label>
                  <span>{{form.lxr}}</span>
                </Col>
                <Col class="flex" span="12" style="align-items: center;margin-top: 5px;">
                  <label>联系电话：</label>
                  {{form.lxdh}}
                </Col>
              </Col>
            <Col class="publicItem" span="24" style="display: flex;">
              <Col class="flex" span="12">
                <label>安全管理员姓名：</label>
                <span>{{form.agry}}</span>
              </Col>
              <Col class="flex" span="12">
                <label>安全管理员电话：</label>
                <span>{{form.agrydh}}</span>
              </Col>
            </Col>
            <Col class="publicItem" span="24">
              <Col class="flex logoImg" span="12">
                <label>企业主页：</label>
                <div>
                  <img
                    :src="'http://36.154.40.222:8085/jeecg-boot'+form.picUrl"
                    @click="show2 = true;src = 'http://36.154.40.222:8085/jeecg-boot'+form.picUrl"
                  />
                  <Upload action="/" :before-upload="beforeUpload">
                    <Button icon="ios-cloud-upload-outline">上传</Button>
                  </Upload>
                </div>
              </Col>
            </Col>
            <Modal :mask-closable='false'	 v-model="modal8" title="历史记录" width="1000">
              <Table border :columns="columnsData" :data="dataItem"></Table>
            </Modal>
            <Modal :mask-closable='false'	 v-model="modal9" title="地图" width="1000">
              <div>
                <Input v-model="edit.dettt" placeholder='请输入地址' style="width: 200px;margin-bottom: 10px;"  @on-change="changeDz" />
                <Input :disabled='true' v-model="edit.zb" style="width: 200px;margin-bottom: 10px;" />
              </div>
              <div id="map" style="height: 500px;"></div>
            </Modal>
          </Row>
        </div>
      </TabPane>
      <!--<TabPane label="主要负责人">-->
      <!--<div data-v-2b91739e="" class="wrappper-title"><button  @click="showTitle(1)" data-v-2b91739e="" type="button" class="el-button el-button&#45;&#45;primary el-button&#45;&#45;mini is-plain" style="float: left; margin: 2px 10px 0px 0px;">&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;<span>新增</span></button></div>-->
      <!--<Row>-->
      <!--<Col class="publicItem" span="24">-->
      <!--<Table border :data='data1' :columns="columns1"></Table>-->
      <!--</Col>-->
      <!--</Row>-->
      <!--</TabPane>-->
    </Tabs>
    <Modal :mask-closable='false'	 v-model="show" title="编辑" @on-ok="editSave">
      <Row>
        <Col class="editFlex" span="24">
          <label>企业名称</label>：
          <Input v-model="edit.sydwmc" placeholder="" />
        </Col>
        <Col class="editFlex" span="24">
          <span style="color:red;margin-left:-5px;">*</span>
          <label>企业地址</label>：
          <Input v-model="edit.xxdz" placeholder="" />
        </Col>
        <Col class="editFlex" span="24">
        <span style="color:red;margin-left:-5px;">*</span>
          <label>企业坐标</label>：
          <div style="flex:1">
            <Input v-model="edit.zb" style="width: 82%;" placeholder="" />
            <Button @click="initMap">查询</Button>
          </div>
        </Col>
        <Col class="editFlex" span="24">
          <label>负责人姓名</label>：
          <Input v-model="edit.lxr" placeholder="" />
        </Col>
        <!-- <Col class="editFlex" span="24">
          <label><span style="color:red">*</span>是否有特种设备</label>：
          <Select v-model="edit.starStatus">
            <Option value="1">是</Option>
            <Option value="0">否</Option>
          </Select>
        </Col> -->
        <Col class="editFlex" span="24">
          <label>负责人联系电话</label>：
          <Input v-model="edit.lxdh" placeholder="" />
        </Col>
        <Col class="editFlex" span="24">
          <label>安全管理员姓名</label>：
          <Input v-model="edit.agry" placeholder="" />
        </Col>
        <Col class="editFlex" span="24">
          <label>安全管理员电话</label>：
          <Input v-model="edit.agrydh" placeholder="" />
        </Col>
        <!--<Col class="editFlex"  span="24">-->
        <!--<label>企业图片</label>：-->
        <!--<div style="flex:1;">-->
        <!--<Upload style="display: flex;align-items: center;" action="" :before-upload="beforeUpload">-->
        <!--<Button icon="ios-cloud-upload-outline">上传</Button>-->
        <!--</Upload>-->
        <!--</div>-->
        <!--</Col>-->
        <Col span="24">
          <img
            :src="srcList"
            @click="show2 = true;src = srcList"
            style="width: 100px;cursor: pointer;"
          />
        </Col>
      </Row>
      <div slot="footer">
        <Button type="error" @click="show = false;">取消</Button>
        <Button type="primary" @click="editSave">保存</Button>
      </div>
    </Modal>
    <Modal :mask-closable='false'	 v-model="show1" :title="title" width="600" @on-ok="ok">
      <Row id="export_content">
        <Col class="editFlex" span="11">
          <label>姓名</label>：
          <Input v-model="edit.a" placeholder="请输入姓名" />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>性别</label>：
          <!--<Input v-model="edit.b"  placeholder="请输入负责人身份证号"  />-->
          <Select>
            <Option>男</Option>
            <Option>女</Option>
          </Select>
        </Col>
        <Col class="editFlex" span="11">
          <label>身份证</label>：
          <Input v-model="edit.c" placeholder="请输入身份证" />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>出生年月</label>：
          <Input v-model="edit.c" placeholder="请输入出生年月" />
        </Col>
        <Col class="editFlex" span="11">
          <label>档案编号</label>：
          <Input v-model="edit.c" placeholder="请输入档案编号" />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>地区代码</label>：
          <Select v-model="edit.ab" style="width: 100px;">
            <Option>江苏省</Option>
          </Select>
          <!--<Select v-model="edit.ab" style="width: 50px;">-->
          <!--<Option>淮安市</Option>-->
          <!--</Select><Select v-model="edit.ab" style="width: 50px;">-->
          <!--<Option>223300</Option>-->
          <!--</Select>-->
        </Col>
        <Col class="editFlex" span="11">
          <label>单位名称</label>：
          <Input v-model="edit.c" placeholder="请输入单位名称" />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>单位地址</label>：
          <Input v-model="edit.c" placeholder="请输入单位地址 " />
        </Col>
        <Col class="editFlex" span="11">
          <label>邮政编码(单位)</label>：
          <Input v-model="edit.c" placeholder="请输入邮政编码(单位)" />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>单位联系电话</label>：
          <Input v-model="edit.c" placeholder="请输入单位联系电话 " />
        </Col>
        <Col class="editFlex" span="11">
          <label>职务</label>：
          <Input v-model="edit.c" placeholder="请输入职务" />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>职称</label>：
          <Select v-model="edit.ab">
            <Option>会计员</Option>
          </Select>
        </Col>
        <Col class="editFlex" span="11">
          <label>学历</label>：
          <Select v-model="edit.ab">
            <Option>小学</Option>
            <Option>本科</Option>
            <Option>高中</Option>
          </Select>
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>毕业院校</label>：
          <Input v-model="edit.c" placeholder="请输入毕业院校 " />
        </Col>
        <Col class="editFlex" span="11">
          <label>所学专业</label>：
          <Input v-model="edit.c" placeholder="请输入所学专业" />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>联系地址</label>：
          <Input v-model="edit.c" placeholder="请输入联系地址" />
        </Col>
        <Col class="editFlex" span="11">
          <label>邮政编码(住址)</label>：
          <Input v-model="edit.c" placeholder="请输入邮政编码(住址) " />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>个人电话</label>：
          <Input v-model="edit.c" placeholder="请输入个人电话 " />
        </Col>
        <Col class="editFlex" span="11"></Col>
        <Col class="editFlex" span="11">
          <label>传真</label>：
          <Input v-model="edit.c" placeholder="请输入传真 " />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>手机号码</label>：
          <Input v-model="edit.c" placeholder="请输入手机号码  " />
        </Col>
        <Col class="editFlex" span="11">
          <label>电子信箱</label>：
          <Input v-model="edit.c" placeholder="请输入电子信箱" />
        </Col>
        <Col class="editFlex" span="11" style="margin-left: 10px">
          <label>备注</label>：
          <Input v-model="edit.c" placeholder="请输入备注" />
        </Col>
        <Col class="editFlex" span="11">
          <label>照片</label>：
          <Upload style="display: flex;align-items: center;" action :before-upload="beforeUpload">
            <Button icon="ios-cloud-upload-outline">上传</Button>
          </Upload>
        </Col>
      </Row>
    </Modal>

    <Modal :mask-closable='false'	 v-model="show2" title="查看大图">
      <img :src="src" style="width: 100%" />
      <div slot="footer">
        <Button @click="show2 = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import expandRow from "./table-expand.vue";
import { mapState } from "vuex";
export default {
  components: { expandRow },
  data() {
    return {
      model1: "",
      modal8: false,
      map:'',
      show2222: false,
      modal9: false,
      show: false,
      show1: false,
      show2: false,
      src: "",
      srcList: "",
      marker: "",
      title: "",
      tableData: [],
      dialogVisible: false,
      form: {},
      edit: {},
      columnsData: [
        {
          type: "expand",
          label: "详情",
          width: 50,
          render: (h, params) => {
            return h(
              expandRow,
              {
                props: {
                  row: params.row
                }
              },
              "详情"
            );
          }
        },
        {
          key: "e",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          key: "a",
          align: "center",
          title: "修改人姓名"
        },
        {
          key: "b",
          align: "center",
          title: "所在部门"
        },
        {
          key: "c",
          align: "center",
          title: "修改日期"
        },
        {
          key: "d",
          align: "center",
          title: "帐号"
        }
      ],
      dataItem: [
        {
          e: 1,
          a: "科员",
          b: "223300市监局",
          c: "2015-10-22 15:50:29",
          d: "ha_hy_jcky"
        },
        {
          e: 2,
          a: "科员",
          b: "223300市监局",
          c: "2015-10-22 15:50:29",
          d: "ha_hy_jcky"
        },
        {
          e: 3,
          a: "科员",
          b: "223300市监局",
          c: "2015-10-22 15:50:29",
          d: "ha_hy_jcky"
        },
        {
          e: 4,
          a: "科员",
          b: "223300市监局",
          c: "2015-10-22 15:50:29",
          d: "ha_hy_jcky"
        },
        {
          e: 5,
          a: "科员",
          b: "223300市监局",
          c: "2015-10-22 15:50:29",
          d: "ha_hy_jcky"
        }
      ],
      columns1: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },

        {
          title: "姓名",
          key: "a",
          align: "center"
        },
        {
          title: "身份证号",
          key: "b",
          align: "center"
        },
        {
          title: "部门",
          key: "c",
          align: "center"
        },
        {
          title: "地区代码",
          key: "d",
          align: "center"
        },
        {
          title: "单位联系电话",
          key: "ef",
          align: "center"
        },
        {
          title: "手机",
          key: "de",
          align: "center"
        },
        {
          title: "照片",
          key: "e",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h("img", {
                style: {
                  width: "61px",
                  height: "61px",
                  cursor: "pointer"
                },
                attrs: {
                  src: params.row.e,
                  onerror:
                    'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                },
                on: {
                  click: e => {
                    this.src = e.srcElement.currentSrc;
                    this.show2 = true;
                  }
                }
              })
            ]);
          }
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(2, params);
                    }
                  }
                },
                "修改"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  on: {
                    click: () => {}
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data3: [
        {
          title: "淮安蓝星塑料器械开发有限公司",
          expand: true
        },
        {
          title: "淮安蓝星塑料器械开发有限公司1",
          expand: true
        }
      ],
      data1: [
        {
          a: "王清",
          b: "320102197508042912",
          c: "生产部",
          d: "223300",
          de: "1385123213",
          ef: "0517-88888888",
          ff: "320831",
          e: "../../static/boy.jpg"
        },
        {
          a: "李伟",
          de: "1385123213",
          ef: "0517-88888888",
          b: "320102199208042912",
          c: "生产部",
          d: "223300",
          ff: "320831",
          e: "../../static/boy.jpg"
        },
        {
          a: "张峰",
          de: "1385123213",
          ef: "0517-88888888",
          b: "320102198808042912",
          c: "生产部",
          d: "223300",
          ff: "320831",
          e: "../../static/boy1.jpg"
        },
        {
          a: "王斌",
          de: "1385123213",
          ef: "0517-88888888",
          b: "320102196508042912",
          c: "生产部",
          d: "223300",
          ff: "320831",
          e: "../../static/boy1.jpg"
        },
        {
          a: "陈伟",
          de: "1385123213",
          ef: "0517-88888888",
          b: "320102197508042912",
          c: "生产部",
          d: "223300",
          ff: "320831",
          e: "../../static/boy1.jpg"
        }
      ]
    };
  },
  command: {
    ...mapState(["depart"])
  },
  created() {
    this.getInfoMsg();
  },
  methods: {
    changeDz(val) {
      let _this = this;
      if (this.edit.dettt) {
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint(
          _this.edit.dettt,
          function(point) {
            if (point) {
              // map.centerAndZoom(point, 16);
              // map.addOverlay(new BMap.Marker(point));
              // _this.edit.zb = point.lng + "," + point.lat;
              _this.$set(_this.edit, "zb", point.lng + "," + point.lat);
              _this.$set(_this.edit, "longitude", point.lng);
              _this.$set(_this.edit, "latitude", point.lat);
              _this.map.removeOverlay(_this.marker);
              var maker2 = new BMap.Icon(
                "../../static/green.jpg",
                new BMap.Size(30, 34)
              );
              _this.marker = new BMap.Marker(
                new BMap.Point(point.lng, point.lat),
                { icon: maker2 }
              );
              _this.map.addOverlay(_this.marker);
              _this.map.panTo(new BMap.Point(point.lng, point.lat));
            } else {
              alert("您选择地址没有解析到结果!");
            }
          },
          "常州市"
        );
      }
    },
    //提前选择文件;
    beforeUpload(file) {
      this.file = file;
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => {
        const _base64 = reader.result;
        this.srcList = _base64; //将_base64赋值给图片的src，实现图片预览
      };
      this.uploadFile();
      return false;
    },
    async getInfoMsg() {
      let res = await this.$fetch.get("sydwjcxx/getSydwjcxxByUsci", {
        params: { usci: this.$store.state.user.compId }
      });
      this.form = Object.assign({}, res.data.result);
      this.edit = Object.assign({}, res.data.result);
      // this.edit.zb =
      if (this.edit.longitude && this.edit.latitude) {
        this.$set(
          this.edit,
          "zb",
          this.edit.longitude + "," + this.edit.latitude
        );
      }
    },
    async editSave() {
      let data = [];
      if (!this.edit.xxdz || !this.edit.sydwmc || !this.edit.zb ) {
        this.$Message.error("请输入完整信息！");
        return;
      }
      if (this.edit.zb) {
        this.edit.latitude = this.edit.zb.split(",")[1];
        this.edit.longitude = this.edit.zb.split(",")[0];
      }
      this.edit.type = "sydw";
      let res = await this.$fetch.put(
        "sydwjcxx/updateSydwjcxx?longitude=" +
          this.edit.longitude +
          "&latitude=" +
          this.edit.latitude +
          "&id=" +
          this.$store.state.user.compId +
          "&address=" +
          this.edit.xxdz +
          "&type=sydw",
        this.edit
      );
      if (res.data.success) {
        this.show = false;
        this.$Message.success(res.data.message);
        this.getInfoMsg();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    async uploadFile() {
      if (!this.file) {
        return;
      }
      let params = new FormData();
      params.append("cId", this.$store.state.user.compId);
      params.append("usci", this.$store.state.user.compId);
      params.append("mf", this.file);
      let res = await this.$fetch.put("compIndexContent/addCompanyPic", params);
      this.getInfoMsg();
    },
    clickDetail() {
      this.modal8 = true;
      $(".ivu-table-cell-expand").html("");
      $(".ivu-table-cell-expand").html("详情");
      $(".ivu-table-cell-expand").click(function() {
        $(".ivu-table-cell-expand-expanded").css({
          transform: "rotate(0deg)"
        });
      });

      $(".ivu-table-cell-expand").css({
        color: "#409EFF"
      });
    },
    showTitle(num, params) {
      if (num == 1) {
        this.title = "新增";
        this.edit = {};
      } else {
        this.title = "修改";
        Object.keys(params.row).forEach((key, index) => {
          this.edit[key] = params.row[key];
        });
      }
      this.show1 = true;
    },
    initMap() {
      let _this = this;
      this.modal9 = true;
      _this.map = new BMap.Map("map");
      _this.map.centerAndZoom("南京", 12);

      //单击获取点击的经纬度
      _this.map.addEventListener("click", function(e) {
        _this.$set(_this.edit, "zb", e.point.lng + "," + e.point.lat);
        console.log(_this.marker);
        // _this.marker.(e.point.lng + "," + e.point.lat)
        // _this.marker.point.lng = e.point.lng
        // _this.marker.point.lat = e.point.lat
        // _this.$set(_this.marker.point,'lng',e.point.lng )
        // _this.$set(_this.marker.point,'lat',e.point.lat )
        _this.map.removeOverlay(_this.marker);
        var maker2 = new BMap.Icon(
          "../../static/green.jpg",
          new BMap.Size(30, 34)
        );
        _this.marker = new BMap.Marker(
          new BMap.Point(e.point.lng, e.point.lat),
          { icon: maker2 }
        );
        _this.map.addOverlay(_this.marker);
      });
      var data_info = [
        [
          119.300988,
          33.079899,
          "地址：北京市东城区王府井大街88号乐天银泰百货八层"
        ],
        [118.991659, 33.007891, "地址：北京市东城区东华门大街"],
        [118.971604, 33.023393, "地址：北京市东城区正义路甲5号"]
      ];
      _this.opts = {
        width: 250, // 信息窗口宽度
        height: 250, // 信息窗口高度
        enableMessage: true //设置允许信息窗发送短息
      };
      var maker2 = new BMap.Icon(
        "../../static/green.jpg",
        new BMap.Size(30, 34)
      );
      // for(var i=0;i<data_info.length;i++){
      _this.marker = new BMap.Marker(
        new BMap.Point(_this.edit.longitude, _this.edit.latitude),
        { icon: maker2 }
      ); // 创建标注
      // var content  = '';
      // content += '<div style="color:#fff;">'
      //   +'<div style="width: 100%;border-bottom: 1px solid #fff;padding-bottom:10px;height: 100%;background: #70a2f2">淮安-金湖区-锅炉</div>'
      //   +'<div style="width: 100%;height: 100%;border-bottom: 1px solid #fff;padding-bottom:10px;margin-top:4px;background: #70a2f2">地址：淮安-金湖区</div>'
      //   +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">设备类别：锅炉</div>'
      //   +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">检查类别：例行检查</div>'
      //   +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">发证日期：2018.06.11</div>'
      //   +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">有效期至：2020.06.14</div>'
      //   +'<div style="width: 100%;height: 100%;padding-bottom:10px;margin-top:4px;background: #70a2f2">'
      //   +'<a>详情</a>'
      //   +'<img>'
      //   +'</div>'
      //   +'</div>'
      _this.map.addOverlay(_this.marker); // 将标注添加到地图中
      setTimeout(() => {
        if (_this.edit.zb) {
          let s = {
            lng: _this.edit.zb.split(",")[0],
            lat: _this.edit.zb.split(",")[1]
          };
          // map.centerAndZoom(new BMap.Point(s.lng, s.lat), 12);
          _this.map.panTo(new BMap.Point(s.lng, s.lat));
        } else {
          _this.map.centerAndZoom("南京", 12);
        }
      }, 1000);

      // _this.addClickHandler(content,marker);
      // }
    },
    ok() {
      html2canvas(document.getElementById("export_content"), {
        dpi: 172, //导出pdf清晰度
        onrendered: function(canvas) {
          var contentWidth = canvas.width;
          var contentHeight = canvas.height;

          //一页pdf显示html页面生成的canvas高度;
          var pageHeight = (contentWidth / 592.28) * 841.89;
          //未生成pdf的html页面高度
          var leftHeight = contentHeight;
          //pdf页面偏移
          var position = 0;
          //html页面生成的canvas在pdf中图片的宽高（a4纸的尺寸[595.28,841.89]）
          var imgWidth = 595.28;
          var imgHeight = (592.28 / contentWidth) * contentHeight;

          var pageData = canvas.toDataURL("image/jpeg", 1.0);
          var pdf = new jsPDF("", "pt", "a4");

          //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
          //当内容未超过pdf一页显示的范围，无需分页
          if (leftHeight < pageHeight) {
            pdf.addImage(pageData, "JPEG", 0, 0, imgWidth, imgHeight);
          } else {
            while (leftHeight > 0) {
              pdf.addImage(pageData, "JPEG", 0, position, imgWidth, imgHeight);
              leftHeight -= pageHeight;
              position -= 841.89;
              //避免添加空白页
              if (leftHeight > 0) {
                pdf.addPage();
              }
            }
          }
          pdf.save("content.pdf");
        },
        //背景设为白色（默认为黑色）
        background: "#fff"
      });
    },
    detail() {
      history.go(-1);
    }
  }
};
</script>

<style lang='scss' scoped>
.publicItem {
  padding: 6px 0;
}
.logoImg {
  img {
    cursor: pointer;
    max-width: 160px;
    margin-right: 10px;
  }
  div {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
}
.publicItem:nth-child(even) {
  background: #f1f3f8;
}
.wrappper-title {
  width: 100%;
  height: 30px;
  line-height: 40px;
  position: relative;
  background-color: #fff;
  font-size: 14px;
  .el-button--primary.is-plain {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
  }
  .el-button {
    box-shadow: 0 3px 6px #d0d0d0;
    padding: 7px 15px;
    border-radius: 3px;
    transition: 0.1s;
    font-weight: 500;
    box-sizing: border-box;
    outline: 0;
    -webkit-appearance: none;
    text-align: center;
    border: 1px solid #dcdfe6;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
  }
  .el-button--primary.is-plain:focus,
  .el-button--primary.is-plain:hover {
    background: #409eff;
    border-color: #409eff;
    color: #fff;
  }
  i {
    color: #62a0de !important;
    background-color: #62a0de !important;
  }
  .circle {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0 15px;
  }
  .circle + span {
    vertical-align: middle;
    color: #62a0de !important;
  }
}
.editFlex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #87888b;
  &:first-child {
    /*margin-top: 20px;*/
  }
  label {
    flex: 0.3;
    text-align: justify;
    text-align-last: justify;
    &::after {
      display: flex;
      content: "";
      overflow: hidden;
      width: 100%;
      height: 0;
    }
  }
  .ivu-input-wrapper,
  .ivu-select {
    flex: 1;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.flex {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #000;
  &:nth-of-type(odd) {
    label {
      text-align: right;
      flex: 0.5;
      font-size: 14px;
      color: #000;
      margin-right: 30px;
    }
    span,
    img {
      flex: 0.5;
    }
  }
  &:nth-of-type(even) {
    padding-left: 10%;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}
.infor {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  .mid {
    margin-top: 10px;
    flex: 1;
  }
  .bot {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
}
</style>
<style lang="scss">
.infor {
  .ivu-tabs-content {
    height: 100%;
    & .ivu-tabs-tabpane:nth-child(1) {
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 20px;
    }
  }
}
</style>
