<template>
  <div style="padding:10px;">
    <!--<div class="top"  style="margin-bottom:10px;">-->
    <!--<Input v-model="query.orgName" placeholder="这里输入被检查单位名称" style="width: 160px" />-->
    <!--<Select v-model="query.isRelease"  style="width:160px" placeholder="是否发布">-->
    <!--<Option value="0">未发布</Option>-->
    <!--<Option value="1">已发布</Option>-->
    <!--</Select>-->
    <!--<DatePicker type="date" placeholder="请选择到期时间" style="width: 160px"></DatePicker>-->
    <!--<Button type="primary" icon="ios-search">查询</Button>-->
    <!--&lt;!&ndash;<Button type="error" icon="ios-edit" @click="add">批量发布</Button>&ndash;&gt;-->
    <!--</div>-->
    <Table
      ref="table"
      @on-row-click="clickRow"
      :loading="loading"
      :columns="columns1"
      border
      class="home-bot"
      :data="data1"
      height="550"
    ></Table>
    <Page
      style="margin-top: 10px;text-align: center;"
      :total="query.total"
      @on-change="changePageNo"
      :page-size="query.pageSize"
    ></Page>
    <Modal :mask-closable="false" v-model="show" title="查看任务详情">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="检查名称：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="截止时间：">
              <DatePicker type="date" placeholder="选择截止日期" style="width: 100%;"></DatePicker>
            </FormItem>
          </Col>
        </Row>
      </Form>
    </Modal>
    <Modal :mask-closable="false" v-model="rwDetail" :title="title1" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="被检查单位：">
              <Input v-model="form.orgName" :disabled="disabled" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="法定代表人：">
              <Input v-model="form.legalName" :disabled="disabled" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="地址：">
              <Input v-model="form.address" :disabled="disabled" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="联系人：">
              <Input v-model="form.contacts" :disabled="disabled" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="职务：">
              <Input v-model="form.duty" :disabled="disabled" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="电话号码：">
              <Input v-model="form.telphone" :disabled="disabled" />
            </FormItem>
          </Col>
        </Row>
        <Row v-if="title1 == '新增'">
          <Col span="24">
            <FormItem label="执行人员：">
              <Select>
                <Option></Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="任务描述：" class="textareaList">
              <Input v-model="form.taskDesc" :disabled="disabled" type="textarea" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button type="success" v-if="title1 == '新增'">保存</Button>
        <Button type="error" @click="rwDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal :mask-closable="false" v-model="jcDetail" title="查看" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="检查日期：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="hengList" label="被检查单位信息"></FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="labelNoList" label>asdasd</FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="检查设备类别" class="hengList"></FormItem>
          </Col>
        </Row>
        <Table :columns="columns3" border class="home-bot" :data="data3"></Table>
        <Row>
          <Col span="24">
            <FormItem label="主要问题：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="处理措施：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="备注：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button type="error" @click="jcDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal :mask-closable="false" v-model="detailAdd" :title="title" width="734" height="800">
      <div id="zhongxin">
        <div align="center">
          <h1>特种设备安全监察指令书</h1>
        </div>
        <div align="center">
          <h4>({{form.abbreviation}})质监特令 [{{form.year}}] 第 {{form.numbers}} 号</h4>
        </div>
        <div align="left" style="font-size: 22px;">{{form.unit}}:</div>
        <div>
          <p>
            经检查,你单位在特种设备安全方面存在下列问题：
            <u>{{form.deviceProblem}}</u>
          </p>
        </div>
        <br />
        <div>
          <p>
            上述问题违反了
            <u>{{form.breakLawName}}{{form.breakLawContent}}</u>的规定，根据
            <u>
              {{form.dealLawName}}
              {{form.dealLawContent}}
            </u> 的规定，责令你单位（个人）于
            <u>{{form.dealDate}}</u> 前采取以下措施予以改正或者消除事故隐患：
            <u>{{form.dealContent}}</u>
          </p>
        </div>
        <div>
          <p>
            如对本指令书不服，可在接到指令书之日起60日之内向
            <u>{{form.applyOrg}}</u> 申请行政复议，或者于6个月内向
            <u>{{form.applyCourt}}</u> 人民法院提起行政诉讼。复议和起诉期间，不得停止消除事故隐患。
          </p>
        </div>
        <br />
        <div>
          <p>检查人员签名：</p>
        </div>
        <br />
        <div>
          <p>被检查单位（负责人）签名:</p>
        </div>
        <br />
        <br />
        <br />

        <div align="right">
          <p>(特种设备安全监管部门公章或者安全监察专用章)</p>
        </div>
        <div align="right">
          <p>{{form.date}}</p>
        </div>
        <div align="left">
          <hr />
        </div>
        <div align="left">
          <p>备注：本指令书一式两份，发出部门，被检查单位各一份。</p>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      detailAdd: false,
      rwDetail: false,
      jcDetail: false,
      disabled: true,
      title1: "",
      form: {},
      company: {},
      winHeight: null,
      query: {
        pageSize: 10,
        pageNo: 1,
        zzjgdm: sessionStorage.getItem("compId")
      },
      loading: false,
      show: false,
      title: "",
      columns1: [
        // {
        //   type: 'selection',
        //   width: 60,
        //   align: 'center'
        // },
        {
          title: "发布日期",
          key: "date",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.date
                  }
                },
                params.row.date
              )
            ]);
          }
        },
        {
          title: "编号",
          key: "number",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.number
                  }
                },
                params.row.number
              )
            ]);
          }
        },
        {
          title: "号文",
          key: "numbers",
          align: "center"
        },
        {
          title: "单位",
          key: "unit",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.unit
                  }
                },
                params.row.unit
              )
            ]);
          }
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.detailAdd = true;
                      this.getDetail(params.row.instructionId);
                    }
                  }
                },
                "指令书"
              )
            ]);
          }
        }
      ],
      data1: [],
      columns2: [
        {
          title: "被检查单位名称",
          key: "e",
          align: "center"
        },
        {
          title: "电话号码",
          key: "e",
          align: "center"
        },
        {
          title: "执行人员",
          key: "e",
          align: "center"
        },
        {
          title: "状态",
          key: "e",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.title1 = "查看";
                      this.rwDetail = true;
                    }
                  }
                },
                "任务详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.jcDetail = true;
                    }
                  }
                },
                "检查详情"
              )
            ]);
          }
        }
      ],
      columns3: [
        {
          title: "序号",
          key: "index",
          width: 80,
          align: "center"
        },
        {
          title: "抽查设备名称",
          key: "e",
          align: "center"
        },
        {
          title: "使用登记代码",
          key: "e",
          align: "center"
        },
        {
          title: "图片",
          key: "e",
          align: "center",
          render: (h, params) => {
            return h("img", {
              attrs: {
                src: "/static/错误.png"
              },
              style: {
                width: "40px",
                height: "40px"
              }
            });
          }
        }
      ],
      data2: [
        {
          a: "2019年使用单位日常监督检查",
          b: "1385172312",
          c: "2019-05-23",
          d: "部分已上报	",
          e: "江苏淮州温氏畜牧有限公司",
          f: "../../static/20190521223419.jpg",
          g: "锅炉"
        }
      ],
      data3: [
        {
          a: "2019年使用单位日常监督检查",
          b: "1385172312",
          c: "2019-05-23",
          d: "部分已上报	",
          e: "江苏淮州温氏畜牧有限公司",
          f: "../../static/20190521223419.jpg",
          g: "锅炉"
        }
      ]
    };
  },
  async created() {
    await this.getInfoMsgDetail();
    this.getInfoMsg();
  },
  methods: {
    clickRow(data, index) {
      this.$refs.table.toggleSelect(index);
    },

    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getInfoMsg();
    },
    async getInfoMsgDetail() {
      let res = await this.$fetch.get("sydwjcxx/getSydwjcxxByUsci", {
        params: { usci: this.$store.state.user.compId }
      });
      this.company = Object.assign({}, res.data.result);
      this.query.orgId = this.company.sydwjcxxId;
    },
    async getInfoMsg() {
      this.loading = true;
      // let res = await this.$fetch.get('instruction/listInstructionEntity',{params:this.query});
      let res = await this.$fetch.post(
        "instruction/listInstructionEntity2?pageSize=" +
          this.query.pageSize +
          "&pageNo=" +
          this.query.pageNo,
		  this.query
      );
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    async getDetail(id) {
      let res = await this.$fetch.get("instruction/getInstructionEntity", {
        params: { instructionId: id }
      });
      this.form = Object.assign({}, res.data.result);
      this.$set(this.form, "orgId", this.company.sydwjcxxId);
    },
    async fb(form) {
      form.isRelease = 1;
      let res = await this.$fetch.put("rcjdjcjhxf/updateRcjdjcjhxf", form);
      if (res.data.success) {
        this.$Message.success("发布成功");
        this.getInfoMsg();
      }
    },
    add() {
      this.title = "新增";
      this.show = true;
    },
    addTwo() {
      this.title1 = "新增";
      this.rwDetail = true;
    }
  }
};
</script>

<style lang="scss">
.jctzDetail {
  .ivu-modal-body {
    height: 700px;
  }
}
.hengList {
  .ivu-form-item-label {
    width: 100% !important;
    text-align: center;
    border-right: 1px solid #ddd;
  }
}
.labelNoList {
  .ivu-form-item-content {
    margin-left: 0px !important;
    border-right: 1px solid #ddd;
    padding-left: 20px;
  }
}
</style>
<style lang="scss" scoped>
.detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  .mid {
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
</style>
