<template>
  <div style="padding:10px;">
    <!-- <Input v-model="query.toComName" placeholder="执行人员" style="width: 200px" /> -->
    <!-- <Input v-model="query.toComName" placeholder="被检查单位名称" style="width: 200px" />
    <Button type="primary" icon="ios-search" @click="getInfoMsg">查询</Button>
    <Button type="success" icon="ios-add" @click="add">新增</Button>-->
    <Table
      ref="table"
      @on-row-click="clickRow"
      :loading="loading"
      :columns="columns1"
      style="margin-top:10px;"
      border
      class="home-bot"
      :data="data1"
      height="550"
    ></Table>
    <Page
      style="margin-top: 10px;text-align: center;"
      :total="query.total"
      @on-change="changePageNo"
      :page-size="query.pageSize"
    ></Page>
    <Modal v-model="jcDetail" :title="title" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="检查日期：">
              <!--<Input v-model="form.recordDate" />-->
              <el-date-picker
                v-model="form.recordDate"
                type="date"
                value-format="yyyy-MM-dd"
                :disabled="disabled"
                style="width: 100%;"
                placeholder="选择日期"
              ></el-date-picker>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="hengList" label="被检查单位信息"></FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="labelNoList" label>
              <!--{{form.toComName}}-->
              <Input :disabled="disabled" v-model="form.toComName" placeholder="请输入被检查单位名称" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="labelNoList" label>
              <!--{{form.address}}-->
              <Input :disabled="disabled" v-model="form.address" placeholder="请输入地址" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="labelNoList" label>
              <!--{{form.legalName}}-->
              <Input :disabled="disabled" v-model="form.legalName" placeholder="请输入法定代表人" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="labelNoList" label>
              <!--{{form.contacts}}-->
              <Input :disabled="disabled" v-model="form.contacts" placeholder="请输入联系人" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="labelNoList" label>
              <!--{{form.telphone}}-->
              <Input :disabled="disabled" v-model="form.telphone" placeholder="请输入联系电话" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="labelNoList" label>
              <!--{{form.duty}}-->
              <Input :disabled="disabled" v-model="form.duty" placeholder="请输入职务" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="检查设备类别" class="hengList"></FormItem>
          </Col>
        </Row>
        <!--<Table  :columns="columns3" border class="home-bot" :data="data3"></Table>-->
        <el-table class="form" :data="data2" border>
          <el-table-column label="序号" align="center">
            <template slot-scope="scope">{{scope.$index+1}}</template>
          </el-table-column>
          <el-table-column label="抽查设备名称" align="center">
            <template slot-scope="scope">
              <Input
                size="small"
                :disabled="disabled"
                v-model="form.checkRecordDevices[scope.$index].deviceName"
                style="width: 100%;"
              />
            </template>
          </el-table-column>
          <el-table-column label="使用登记代码" align="center">
            <template slot-scope="scope">
              <Input
                size="small"
                :disabled="disabled"
                v-model="form.checkRecordDevices[scope.$index].registerCode"
                style="width: 100%;"
              />
            </template>
          </el-table-column>
          <el-table-column label="图片" align="center">
            <template slot-scope="scope">
              <!--<Input size="small" v-model="form.checkRecordDevices[scope.$index].remark" style="width: 100%;" />-->
              <img
                style="width: 50px;height:30px;cursor: pointer;margin-right: 6px;margin-bottom: 10px;"
                @click="showImg = true;src = list"
                v-for="(list,index) in srcList[scope.$index]"
                :key="index"
                :src="list"
              />
              <!--<img v-else style="width: 50px;height:30px;cursor: pointer;margin-right: 6px;margin-bottom: 10px;" @click="showImg = true;src = list" v-for="(list,index) in srcList" :key="index" :src="list">-->
              <Upload v-if="title == '编辑'" action="/" :before-upload="beforeUpload">
                <Button icon="ios-cloud-upload-outline" @click="TrueNumber(scope.$index)">上传图片</Button>
              </Upload>
            </template>
          </el-table-column>
          <el-table-column label="删除" align="center" v-if="title !='详情'">
            <template slot-scope="scope">
              <Button type="error" @click="deleteRow(scope.$index)">删除</Button>
            </template>
          </el-table-column>
        </el-table>
        <Button
          @click="addNew"
          v-if="title =='新增'"
          type="success"
          icon="ios-add"
          style="margin-top: 10px;"
        >新增</Button>
        <Row>
          <Col span="24">
            <FormItem label="主要问题：">
              <Input v-model="form.mainProblem" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="处理措施：">
              <Input v-model="form.dealMeasure" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="备注：">
              <Input v-model="form.remark" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button type="error" @click="jcDetail = false;">取消</Button>
        <Button type="primary" v-if="title != '详情'" @click="addSubmit">保存</Button>
      </div>
    </Modal>
    <Modal v-model="show222" title="选择企业" width="600" @on-ok="selectSb">
      <div style="text-align:center;">
        <Select
          class="selectDDDD"
          filterable
          v-model="form.checkTaskId"
          style="width:180px"
          placeholder="请选择企业"
        >
          <Option v-for="(list,index) in sblxItem" :key="index" :value="list.zzjgdm">{{list.sydwmc}}</Option>
        </Select>
      </div>
    </Modal>
    <Modal v-model="showImg" title="查看大图">
      <img :src="src" style="width: 100%" />
      <div slot="footer">
        <Button @click="showImg = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      detailAdd: false,
      rwDetail: false,
      show222: false,
      showImg: false,
      jcDetail: false,
      disabled: true,
      title1: "",
      form: { checkRecordDevices: [{}] },
      jcList: [],
      sblxItem: [],
      srcList: [],
      fileList: [],
      winHeight: null,
      query: {
        pageSize: 10,
        pageNo: 1,
        zzjgdm: sessionStorage.getItem("compId")
      },
      loading: false,
      numFile: 0,
      show: false,
      title: "",
      columns1: [
        {
          type: "index",
          label: "序号",
          width: 60,
          align: "center"
        },

        {
          title: "被检查单位名称",
          key: "toComName",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.toComName
                  }
                },
                params.row.toComName
              )
            ]);
          }
        },
        {
          title: "电话号码",
          key: "telphone",
          align: "center"
        },
        {
          title: "执行人员",
          key: "ecuName",
          align: "center"
        },
        {
          title: "法人代表",
          key: "legalName",
          align: "center"
        },
        {
          title: "是否合格",
          key: "isStandard",
          align: "center",
          render: (h, params) => {
            return params.row.isStandard == 0 ? "合格" : "未合格";
          }
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.jcDetail = true;
                      this.title = "详情";
                      this.disabled = true;
                      this.getDetail(params.row.checkrecordId);
                    }
                  }
                },
                "查看"
              )
              // h(
              //   "Button",
              //   {
              //     props: {
              //       type: "error",
              //       size: "small"
              //     },
              //     style: {
              //       marginRight: "5px"
              //     },
              //     on: {
              //       click: () => {
              //         this.$Modal.confirm({
              //           title: "警告",
              //           content: "是否确认删除？",
              //           onOk: () => {
              //             this.delete(params.row.checkrecordId);
              //           }
              //         });
              //       }
              //     }
              //   },
              //   "删除"
              // )
            ]);
          }
        }
      ],
      data1: [],
      columns2: [
        {
          title: "被检查单位名称",
          key: "e",
          align: "center"
        },
        {
          title: "电话号码",
          key: "e",
          align: "center"
        },
        {
          title: "执行人员",
          key: "e",
          align: "center"
        },
        {
          title: "状态",
          key: "e",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.title1 = "查看";
                      this.rwDetail = true;
                    }
                  }
                },
                "任务详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.jcDetail = true;
                    }
                  }
                },
                "检查详情"
              )
            ]);
          }
        }
      ],
      columns3: [
        {
          title: "序号",
          key: "index",
          width: 80,
          align: "center"
        },
        {
          title: "抽查设备名称",
          key: "deviceName",
          align: "center"
        },
        {
          title: "使用登记代码",
          key: "registerCode",
          align: "center"
        },
        {
          title: "图片",
          key: "e",
          align: "center",
          render: (h, params) => {
            let data = params.row.image.split(",");
            let arr = [];
            if (data.length > 1) {
              for (let i in data) {
                arr.push(
                  h("img", {
                    attrs: {
                      src: data[i]
                    },
                    style: {
                      width: "40px",
                      height: "40px"
                    }
                  })
                );
                return h("div", arr);
              }
            } else {
              return h("img", {
                attrs: {
                  src: params.row.image
                },
                style: {
                  width: "40px",
                  height: "40px"
                }
              });
            }
            // return h('img', {
            //   attrs:{
            //     src:'/static/错误.png'
            //   },
            //   style:{
            //     width:'40px',
            //     height:'40px'
            //   }
            // });
          }
        }
      ],
      data2: [{}],
      src: "",
      fileNumber: [],
      data3: [
        {
          a: "2019年使用单位日常监督检查",
          b: "1385172312",
          c: "2019-05-23",
          d: "部分已上报	",
          e: "江苏淮州温氏畜牧有限公司",
          f: "../../static/20190521223419.jpg",
          g: "锅炉"
        }
      ]
    };
  },
  created() {
    this.getInfoMsg();
    this.getAllList();
  },
  methods: {
    clickRow(data, index) {
      this.$refs.table.toggleSelect(index);
    },
    selectSb(data, index) {
      this.title = "新增";
      this.jcDetail = true;
      this.disabled = false;
      this.form = {
        checkTaskId: this.form.checkTaskId,
        checkRecordDevices: [{ checkRecordId: this.form.checkTaskId }],
        checkRecordId: this.form.checkTaskId
      };
      console.log(this.form.checkTaskId);
      this.srcList.push([]);
      this.fileList.push([]);
      let item = this.sblxItem.filter(
        item => item.zzjgdm == this.form.checkTaskId
      );
      this.$set(this.form, "toComName", item[0].sydwmc);
      this.$set(this.form, "address", item[0].xxdz);
      this.$set(this.form, "legalName", "");
      this.$set(this.form, "contacts", item[0].lxr);
      this.$set(this.form, "telphone", item[0].lxdh);
      this.$set(this.form, "duty", "");
    },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getInfoMsg();
    },
    async getInfoMsg() {
      this.loading = true;
      // let res = await this.$fetch.get("checkrecord/listCheckrecord", {
      //   params: this.query
      // });
      let res = await this.$fetch.post(
        "checkrecord/listCheckrecord2?pageSize=" +
          this.query.pageSize +
          "&pageNo=" +
          this.query.pageNo,
        this.query
      );
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    async getDetail(id) {
      let res = await this.$fetch.get("checkrecord/getCheckrecord", {
        params: { checkrecordId: id }
      });
      this.form = Object.assign({ checkRecordDevices: [{}] }, res.data.result);
      // this.$set(this.form,'checkRecordDevices',[{}]);

      this.getJcLb(id);
    },
    async getJcLb(id) {
      let res = await this.$fetch.get("checkrecorddevice/getCheckrecord", {
        params: { checkrecordId: id }
      });
      // this.jcList = res.data.result;
      this.data2 = res.data.result;
      this.srcList = [];
      this.fileList = [];
      this.$set(this.form, "checkRecordDevices", res.data.result);
      for (let i in this.form.checkRecordDevices) {
        this.fileNumber.push(
          this.form.checkRecordDevices[i].checkrecorddeviceId
        );
        this.srcList.push([]);
        this.fileList.push([]);
        if (this.form.checkRecordDevices[i].image) {
          let data = this.form.checkRecordDevices[i].image.split(",");
          console.log(data);
          for (let f in data) {
            console.log(data[f]);

            this.srcList[i].push(
              "http://36.154.40.222:8085/jeecg-boot/" + data[f]
            );
          }
        }
      }
      // console.log(this.srcList);
    },
    async fb(form) {
      form.isRelease = 1;
      let res = await this.$fetch.put("rcjdjcjhxf/updateRcjdjcjhxf", form);
      if (res.data.success) {
        this.$Message.success("发布成功");
        this.getInfoMsg();
      }
    },
    async delete(id) {
      let res = await this.$fetch.delete("checkrecord/deleteCheckrecord", {
        params: { checkrecordId: id }
      });
      if (res.data.success) {
        this.$Message.success("操作成功！");
        this.getInfoMsg();
      } else {
        this.$Message.error("操作失败！");
      }
    },
    add() {
      this.show222 = true;
      this.data2 = [];
      this.data2.push({});
      // this.$set(this.form, "checkRecordDevices", [{}]);
    },
    async addSubmit() {
      this.buttonShow = true;
      let res = "";
      if (this.title == "新增") {
        this.$set(this.form, "zzjgdm", this.form.checkTaskId);
        res = await this.$fetch.post("checkrecord/saveCheckrecord", this.form);
      } else {
        res = await this.$fetch.put("checkrecord/updateCheckrecord", this.form);
      }
      if (res.data.success) {
        if (this.fileList.length > 0) {
          for (let i in this.fileList) {
            for (let f in this.fileList[i]) {
              await this.addImg(0, i, f);
            }
          }
        }
        this.jcDetail = false;
        this.$Message.success("保存成功！");
        this.getInfoMsg();
      } else {
        this.$Message.error(res.data.message);
      }
      this.buttonShow = false;
    },
    async addImg(id, index, item) {
      let params = new FormData();
      params.append("checkrecorddeviceId", this.fileNumber[index]);
      params.append("mf", this.fileList[index][item]);
      let res = await this.$fetch.put(
        "checkrecorddevice/saveCheckRecordDevicePImage",
        params
      );
    },
    async getAllList() {
      // let res = await this.$fetch.get(
      //   "rcjdjcjhxf/listAllRcjdjcjhxf",
      //   this.form
      // );
      // this.sblxItem = res.data.result;
      let res = await this.$fetch.get("sydwjcxx/listSydwjcxx3", this.form);
      this.sblxItem = res.data.result;
    },
    addNew() {
      this.data2.push({});
      this.form.checkRecordDevices.push({
        checkRecordId: this.form.checkRecordId
      });
    },
    TrueNumber(num) {
      this.numFile = num;
    },
    deleteRow(index) {
      this.data2.splice(index, 1);
      this.form.checkRecordDevices.splice(index, 1);
      this.fileNumber.splice(index, 1);
    },
    beforeUpload(file) {
      this.fileList[this.numFile].push(file);
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => {
        const _base64 = reader.result;
        this.srcList[this.numFile].push(_base64); //将_base64赋值给图片的src，实现图片预览
      };
      return false;
      // this.fileList = []
    },
    addTwo() {
      this.title1 = "新增";
      this.rwDetail = true;
    }
  }
};
</script>

<style lang="scss">
.jctzDetail {
  .ivu-modal-body {
    height: 700px;
  }
}
.hengList {
  .ivu-form-item-label {
    width: 100% !important;
    text-align: center;
    border-right: 1px solid #ddd;
  }
}
.labelNoList {
  .ivu-form-item-content {
    margin-left: 0px !important;
    border-right: 1px solid #ddd;
    padding-left: 20px;
  }
}
.selectDDDD {
  .ivu-select-dropdown {
    min-width: 300px;
  }
}
</style>
<style lang="scss" scoped>
.detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  .mid {
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
</style>
