<template>
    <div class="infor">
        <div class="top">
            <Input suffix="ios-search" placeholder="这里输入姓名" style="width: auto" />
            <Input suffix="ios-search" placeholder="这里输入驾驶员姓名" style="width: auto" />
            <Button type="primary" icon="ios-search">查询</Button>
            <Button type="success" icon="md-add" @click.native='showTitle(1)'>新增</Button>
        </div>
        <div class="mid">
            <Table border :columns="columns1" :data="data1"></Table>
        </div>
        <div class="bot">
            <Page :total="100" />
        </div>
        <Modal :mask-closable='false'	
            v-model="show"
            :title="title"
            >
            <Row>
                <Col class="flex" span="24">
                    <label>人员类型</label>：
                    <Select v-model="eidt.d" placeholder="请选择人员类型">
                        <Option  value="员工">员工</Option >
                        <Option  value="驾驶员">驾驶员</Option >
                    </Select>
                </Col>
                <Col class="flex" span="24">
                    <label>姓名</label>：
                    <Input v-model="eidt.a" placeholder="请输入姓名"  />
                </Col>
                <Col class="flex" span="24">
                    <label>联系方式</label>：
                   <Input v-model="eidt.b" placeholder="请输入联系方式"  />
                </Col>
                <Col class="flex" span="24">
                    <label>所属公司</label>：
                   <Input v-model="eidt.c" placeholder="请输入所属公司"  />
                </Col>
            </Row>
        </Modal>
    </div>
</template>

<script>
export default {
    data () {
        return {
            model1:'',
            show:false,
            title:'',
            eidt:{

            },
            columns1: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号'
                },
                {
                    title: '姓名',
                    key: 'a',
                    width:300,
                    align:'center'
                },
                {
                    title: '联系电话',
                    key: 'b',
                    width:300,
                    align:'center'
                },
                {
                    title: '所属公司',
                    key: 'c',
                    align:'center',
                    width:280
                },
                {
                    title: '人员类型',
                    key: 'd',
                    align:'center'
                },
                {
                    title: '操作',
                    key: 'cz',
                    align:'center',
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.showTitle(2,params);
                                    }
                                }
                            }, '修改'),
                            h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                        }
                                    }
                            }, '删除')
                        ]);
                    }
                },
            ],
            data1: [
                {
                    a: '王清',
                    b: '1384124231',
                    c: '中石油管道有限公司西气东输分公司',
                    d: '员工',
                },
                {
                    a: '王清',
                    b: '1384124231',
                    c: '中石油管道有限公司西气东输分公司',
                    d: '员工',
                },
                {
                    a: '王清',
                    b: '1384124231',
                    c: '中石油管道有限公司西气东输分公司',
                    d: '员工',
                },
                {
                    a: '王清',
                    b: '1384124231',
                    c: '中石油管道有限公司西气东输分公司',
                    d: '员工',
                },
                {
                    a: '王清',
                    b: '1384124231',
                    c: '中石油管道有限公司西气东输分公司',
                    d: '员工',
                },
            ]
        }
    },
    methods:{
        showTitle(num,params){
           if(num == 1){
               this.title = '新增';
               this.eidt = {};
           }else{
               this.title = '修改';
               Object.keys(params.row).forEach((key,index) => {
                   this.eidt[key] = params.row[key]
               });
           }
            this.show = true;
        }
    }
}
</script>

<style lang='scss' scoped>
    .flex{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        label{
            flex: .19;
            text-align: justify;
            text-align-last:justify;
            &::after{
                display: flex;
                content: "";
                overflow: hidden;
                width: 100%;
                height: 0;
            }
        }
        .ivu-input-wrapper,.ivu-select{
            flex: 1;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .infor{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        .mid{
            margin-top: 10px;
            flex: 1;
        }
        .bot{
            display: flex;
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
</style>
