<template>
    <div class="infor">
        <div class="top">
            <Input suffix="ios-search" placeholder="这里输入姓名" style="width: auto" />
            <Button type="primary" icon="ios-search">查询</Button>
            <Button type="error" icon="ios-delete" >清空日志</Button>
        </div>
        <div class="mid">
            <Table border :columns="columns1" :data="data1"></Table>
        </div>
        <div class="bot">
            <Page :total="100" />
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            model1:'',
            show:false,
            show1:false,
            title:'',
            eidt:{

            },
            data4: [
                    {
                        title: '系统管理',
                        expand: true,
                        selected: true,
                        children: [
                            {
                                title: '用户管理',
                                expand: true,
                            },
                            {
                                title: '角色管理',
                                expand: true,
                            }
                        ]
                    }
                ],
            columns1: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号'
                },
                {
                    title: '日志名称',
                    key: 'a',
                    align:'center'
                },
                {
                    title: '用户名称',
                    key: 'b',
                    align:'center'
                },
                {
                    title: '操作时间',
                    key: 'c',
                    align:'center',
                },
                {
                    title: '具体消息',
                    key: 'd',
                    align:'center',
                },
                {
                    title: 'ip',
                    key: 'e',
                    align:'center',
                },
            ],
            data1: [
                {
                    a: '登录日志',
                    b: 'stylefeng',
                    c: '2019-05-16 10:45:24',
                    d:'',
                    e:'0:0:0:0:0:0:0:1',
                },
                {
                    a: '登录日志',
                    b: 'stylefeng',
                    c: '2019-05-16 10:45:24',
                    d:'',
                    e:'0:0:0:0:0:0:0:1',
                },
                {
                    a: '登录日志',
                    b: 'stylefeng',
                    c: '2019-05-16 10:45:24',
                    d:'',
                    e:'0:0:0:0:0:0:0:1',
                },
                {
                    a: '登录日志',
                    b: 'stylefeng',
                    c: '2019-05-16 10:45:24',
                    d:'',
                    e:'0:0:0:0:0:0:0:1',
                },
                {
                    a: '登录日志',
                    b: 'stylefeng',
                    c: '2019-05-16 10:45:24',
                    d:'',
                    e:'0:0:0:0:0:0:0:1',
                },
                {
                    a: '登录日志',
                    b: 'stylefeng',
                    c: '2019-05-16 10:45:24',
                    d:'',
                    e:'0:0:0:0:0:0:0:1',
                },
            ]
        }
    },
    methods:{
        showTitle(num,params){
           if(num == 1){
               this.title = '新增';
               this.eidt = {};
           }else{
               this.title = '修改';
               Object.keys(params.row).forEach((key,index) => {
                   this.eidt[key] = params.row[key]
               });
           }
            this.show = true;
        }
    }
}
</script>

<style lang='scss' scoped>
    .flex{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        label{
            flex: .19;
            text-align: justify;
            text-align-last:justify;
            &::after{
                display: flex;
                content: "";
                overflow: hidden;
                width: 100%;
                height: 0;
            }
        }
        .ivu-input-wrapper,.ivu-select{
            flex: 1;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .infor{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        .mid{
            margin-top: 10px;
            flex: 1;
        }
        .bot{
            display: flex;
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
</style>
