<template>
    <div class="infor">
        <div class="top">
            <Input suffix="ios-search" placeholder="请输入证件编号" style="width: 180px" />
            <Input suffix="ios-search" placeholder="请输入姓名" style="width: 180px" />
            <Input suffix="ios-search" placeholder="请输入联系电话" style="width: 180px" />
            <Select v-model="model1" style="width:180px" placeholder="请选择设备类别">
            </Select>
            <Button type="primary" icon="ios-search">查询</Button>
            <Button type="success" icon="md-add" @click.native='showTitle(1)'>新增</Button>
        </div>
        <div class="mid">
            <Table width="100%" border :columns="columns1" :data="data1"></Table>
        </div>
        <div class="bot">
            <Page :total="100" />
        </div>
        <Modal :mask-closable='false'	
            v-model="show"
            :title="title"
            >
            <Row>
                <Col class="flex" span="24">
                    <label>人员类型</label>：
                    <Select v-model="eidt.c" placeholder="请选择人员类型">
                        <Option>作业人员</Option>
                        <Option>安全管理员</Option>
                    </Select>
                </Col>
                <Col class="flex" span="24">
                    <label>姓名</label>：
                    <Input v-model="eidt.a" placeholder="请输入姓名"  />
                </Col>
                <Col class="flex" span="24">
                    <label>联系电话</label>：
                   <Input v-model="eidt.b" placeholder="请输入联系电话"  />
                </Col>
                <Col class="flex" span="24">
                    <label>操作证类别</label>：
                    <Select v-model="eidt.c" placeholder="请选择操作证类别">
                    </Select>
                </Col>
                <Col class="flex" span="24">
                    <label>操作证有效期</label>：
                    <DatePicker type="date" placeholder="请选择操作证有效期"></DatePicker>
                </Col>
            </Row>
        </Modal>
    </div>
</template>

<script>
export default {
    data () {
        return {
            model1:'',
            show:false,
            title:'',
            eidt:{

            },
            columns1: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                },
                {
                    title: '姓名',
                    key: 'a',
                    align:'center',
                },
                {
                    title: '设备类别',
                    key: 'b',
                    align:'center',
                },
                {
                    title: '单位名称',
                    key: 'c',
                    align:'center',
                },
                {
                    title: '检查项目',
                    key: 'd',
                    align:'center',
                    width:220,
                },
                {
                    title: '检查类别',
                    key: 'e',
                    align:'center',
                    width:120,
                },
                {
                    title: '日期',
                    key: 'f',
                    align:'center',
                    width:140,
                },
                {
                    title: '操作',
                    key: 'cz',
                    align:'center',
                    width:150,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.showTitle(2,params);
                                    }
                                }
                            }, '编辑'),
                            h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                        }
                                    }
                            }, '删除')
                        ]);
                    }
                },
            ],
            data1: [
                {
                    a: '高法银',
                    b: '锅炉',
                    c: '江苏圣源环保电力有限公司',
                    d: '叉车',
                    e:'机构及制度',
                    f:'2018-05-12',
                    g:'2017-05-16',
                },
                {
                    a: '高法银',
                    b: '锅炉',
                    c: '江苏圣源环保电力有限公司',
                    d: '叉车',
                    e:'机构及制度',
                    f:'2018-05-12',
                    g:'2017-05-16',
                },
                {
                    a: '高法银',
                    b: '锅炉',
                    c: '江苏圣源环保电力有限公司',
                    d: '叉车',
                    e:'机构及制度',
                    f:'2018-05-12',
                    g:'2017-05-16',
                },
                {
                    a: '高法银',
                    b: '锅炉',
                    c: '江苏圣源环保电力有限公司',
                    d: '叉车',
                    e:'机构及制度',
                    f:'2018-05-12',
                    g:'2017-05-16',
                },
                {
                    a: '高法银',
                    b: '锅炉',
                    c: '江苏圣源环保电力有限公司',
                    d: '叉车',
                    e:'机构及制度',
                    f:'2018-05-12',
                    g:'2017-05-16',
                },
                {
                    a: '高法银',
                    b: '锅炉',
                    c: '江苏圣源环保电力有限公司',
                    d: '叉车',
                    e:'机构及制度',
                    f:'2018-05-12',
                    g:'2017-05-16',
                },
            ]
        }
    },
    methods:{
        showTitle(num,params){
           if(num == 1){
               this.title = '新增';
               this.eidt = {};
           }else{
               this.title = '编辑';
               Object.keys(params.row).forEach((key,index) => {
                   this.eidt[key] = params.row[key]
               });
           }
            this.show = true;
        }
    }
}
</script>

<style lang='scss' scoped>
    .flex{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        label{
            flex: .25;
            text-align: justify;
            text-align-last:justify;
            &::after{
                display: flex;
                content: "";
                overflow: hidden;
                width: 100%;
                height: 0;
            }
        }
        .ivu-input-wrapper,.ivu-select,.ivu-date-picker{
            flex: 1;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .infor{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        .mid{
            margin-top: 10px;
            flex: 1;
        }
        .bot{
            display: flex;
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
    .ivu-upload{
        display: flex;
    }
</style>
