<style scoped>
  .expand-row{
    border: 1px solid #ccc;
  }
  .en{
    border-right: 1px solid #ccc;
    text-align: center;
  }
</style>
<template>
  <div>
    <Row class="expand-row">
      <Col span="8" class="en" style="border-bottom: 1px solid #ccc;">
      <span class="expand-key">序号: </span>
      <span class="expand-value">1</span>
      </Col>
      <Col span="8" class="en"  style="border-bottom: 1px solid #ccc;">
      <span class="expand-key">字段名: </span>
      <span class="expand-value">所在地区</span>
      </Col>
      <Col span="8"  style="border-bottom: 1px solid #ccc;text-align: center;">
      <span class="expand-key">字段代码: </span>
      <span class="expand-value">AREACODE </span>
      </Col><Col span="8" class="en">
      <span class="expand-key">修改前值: </span>
      <span class="expand-value">江苏省 淮安市 金湖区 </span>
      </Col><Col span="8" class="en">
      <span class="expand-key">修改后值: </span>
      <span class="expand-value">江苏省 淮安市 金湖区 </span>
      </Col>
    </Row>
  </div>
</template>
<script>
  export default {
    props: {
      row: Object
    }
  };
</script>
