<template>
    <div class="infor">
        <div class="top">
            <Input suffix="ios-search" placeholder="这里输入姓名" style="width: auto" />
            <Input suffix="ios-search" placeholder="这里输入账号" style="width: auto" />
            <Input suffix="ios-search" placeholder="这里输入手机号" style="width: auto" />
             <DatePicker type="date" placeholder="请选择注册时间"></DatePicker>
            <Button type="primary" icon="ios-search">查询</Button>
            <Button type="error" icon="md-add" @click.native='showTitle(1)'>新增</Button>
        </div>
        <div class="mid">
            <Table border :columns="columns1" :data="data1"></Table>
        </div>
        <div class="bot">
            <Page :total="100" />
        </div>
        <Modal :mask-closable='false'	
            v-model="show"
            :title="title"
            >
            <Row>
                <Col class="flex" span="24">
                    <label>账号</label>：
                    <Input v-model="edit.a" placeholder="请输入账号"  />
                </Col>
                <Col class="flex" span="24">
                    <label>姓名</label>：
                   <Input v-model="edit.b" placeholder="请输入姓名"  />
                </Col>
                <Col class="flex" span="24">
                    <label>出生年月</label>：
                   <DatePicker type="date" placeholder="请选择出生年月"></DatePicker>
                </Col>
                <Col class="flex" span="24">
                    <label>邮箱</label>：
                   <Input  v-model="edit.f" placeholder="请选择邮箱" />
                </Col>
                <Col class="flex" span="24">
                    <label>性别</label>：
                   <RadioGroup v-model="edit.c">
                        <Radio label="男"></Radio>
                        <Radio label="女"></Radio>
                    </RadioGroup>
                </Col>
                <Col class="flex" span="24">
                    <label>部门</label>：
                   <Input v-model="edit.e" placeholder="请选择部门" />
                </Col>
                <Col class="flex" span="24">
                    <label>电话</label>：
                   <Input v-model="edit.g" placeholder="请选择电话" />
                </Col>
            </Row>
        </Modal>
        <Modal :mask-closable='false'	
            v-model="show1"
            title="权限分配"
            >
            <Row>
                <Col class="flex" span="24">
                   <Tree :data="data4" show-checkbox multiple></Tree>
                </Col>
            </Row>
        </Modal>
    </div>
</template>

<script>
export default {
    data () {
        return {
            model1:'',
            show:false,
            show1:false,
            title:'',
            edit:{

            },
            data4: [
                    {
                        title: '超级管理员',
                        expand: true,
                        selected: true,
                        children: [
                            {
                                title: '员工',
                                expand: true,
                            },
                        ]
                    }
                ],
            columns1: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号'
                },
                {
                    title: '账号',
                    key: 'a',
                    align:'center'
                },
                {
                    title: '姓名',
                    key: 'b',
                    align:'center'
                },
                {
                    title: '性别',
                    key: 'c',
                    align:'center',
                },
                 {
                    title: '角色',
                    key: 'd',
                    align:'center',
                },
                 {
                    title: '部门',
                    key: 'e',
                    align:'center',
                },
                 {
                    title: '邮箱',
                    key: 'f',
                    align:'center',
                },
                 {
                    title: '电话',
                    key: 'g',
                    align:'center',
                },
                 {
                    title: '创建时间',
                    key: 'h',
                    align:'center',
                    width:220
                },
                {
                    title: '操作',
                    key: 'cz',
                    width:300,
                    align:'center',
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.showTitle(2,params);
                                    }
                                }
                            }, '修改'),
                            h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    style: {    
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                        }
                                    }
                            }, '删除'),
                            h('Button', {
                                    props: {
                                        type: 'warning',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.show1 = true;
                                        }
                                    }
                            }, '分配角色')
                        ]);
                    }
                },
            ],
            data1: [
                {
                    a: 'admin',
                    b: 'stylefeng',
                    c: '男',
                    d:'超级管理员',
                    e:'战略部',
                    f:'sn93@qq.com',
                    g:'18200000000',
                    h:'2016-01-29 08:49:53',
                },
                {
                    a: 'admin',
                    b: 'stylefeng',
                    c: '男',
                    d:'超级管理员',
                    e:'战略部',
                    f:'sn93@qq.com',
                    g:'18200000000',
                    h:'2016-01-29 08:49:53',
                },
                {
                    a: 'admin',
                    b: 'stylefeng',
                    c: '男',
                    d:'超级管理员',
                    e:'战略部',
                    f:'sn93@qq.com',
                    g:'18200000000',
                    h:'2016-01-29 08:49:53',
                },
                {
                    a: 'admin',
                    b: 'stylefeng',
                    c: '男',
                    d:'超级管理员',
                    e:'战略部',
                    f:'sn93@qq.com',
                    g:'18200000000',
                    h:'2016-01-29 08:49:53',
                },
                {
                    a: 'admin',
                    b: 'stylefeng',
                    c: '男',
                    d:'超级管理员',
                    e:'战略部',
                    f:'sn93@qq.com',
                    g:'18200000000',
                    h:'2016-01-29 08:49:53',
                },
                {
                    a: 'admin',
                    b: 'stylefeng',
                    c: '男',
                    d:'超级管理员',
                    e:'战略部',
                    f:'sn93@qq.com',
                    g:'18200000000',
                    h:'2016-01-29 08:49:53',
                },
            ]
        }
    },
    methods:{
        showTitle(num,params){
           if(num == 1){
               this.title = '新增';
               this.edit = {};
           }else{
               this.title = '修改';
               Object.keys(params.row).forEach((key,index) => {
                   this.edit[key] = params.row[key]
               });
           }
            this.show = true;
        }
    }
}
</script>

<style lang='scss' scoped>
    .flex{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        label{
            flex: .19;
            text-align: justify;
            text-align-last:justify;
            &::after{
                display: flex;
                content: "";
                overflow: hidden;
                width: 100%;
                height: 0;
            }
        }
        .ivu-input-wrapper,.ivu-select,.ivu-date-picker{
            flex: 1;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .infor{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        .mid{
            margin-top: 10px;
            flex: 1;
        }
        .bot{
            display: flex;
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
</style>
