<template>
  <div class="infor">
    <div class="right">
      <div >
        <div class="top" style="display:flex;align-items:center;">
          <Input suffix="ios-search" placeholder="请输入名称" style="width: 180px;margin-right:10px;" />
          <Button type="primary" icon="ios-search">查询</Button>
          <!--<Button type="error" icon="md-add" style="margin-left:10px;" @click.native='showTitle(1)'>新增</Button>-->
        </div>
        <Table width="100%"  border :columns="columns4" :data="data3"></Table>
      </div>
    </div>
    <Modal :mask-closable='false'	
      v-model="showList"
      :title="title"
      width="800"
    >
      <Table width="100%"  border :columns="columns5" :data="data3"></Table>
    </Modal>
    <Modal :mask-closable='false'	
      v-model="show2"
      title="查看大图"
    >
      <img :src="src" style="width: 100%">
      <div slot="footer">
        <Button @click="show2 = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        model1:'',
        show:false,
        title:'',
        show2:false,
        src:'',
        showList:false,
        numList:0,
        edit:{

        },
        columns3:[
          {
            type: 'index',
            width: 80,
            align: 'center',
            title:'序号',
            fixed:'left',
          },
          {
            title: '设备名称',
            key: 'a',
            align:'center',
            fixed:'left',
          },
        ],
        columns4:[
          {
            type: 'index',
            align: 'center',
            title:'序号',
          },
          {
            title: '设备类别',
            key: 'a',
            align:'center',
          },
          {
            title: '在用',
            key: 'b',
            align:'center',
          },
          {
            title: '报停',
            key: 'c',
            align:'center',
          },{
            title: '报废',
            key: 'd',
            align:'center',
          },{
            title: '预警',
            key: 'e',
            align:'center',
          },{
            title: '超期',
            key: 'f',
            align:'center',
          },{
            title: '总计',
            key: 'g',
            align:'center',
          },
          {
            title: '操作',
            key: 'cz',
            align:'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2,params,1);
                    }
                  }
                }, '查看'),

                // h('Button', {
                //   props: {
                //     type: 'error',
                //     size: 'small'
                //   },
                //   style: {
                //     marginRight: '5px'
                //   },
                //   on: {
                //     click: () => {
                //       // this.showList = true;
                //       // this.numList = 0;
                //       this.showTitle(2,params,1);
                //     }
                //   }
                // }, '删除'),
              ]);
            }
          },
        ],
        columns5:[
          {
            type: 'index',
            align: 'center',
            title:'序号',
          },
          {
            title: '设备类别',
            key: 'a',
            align:'center',
          },
          {
            title: '在用',
            key: 'b',
            align:'center',
          },
          {
            title: '报停',
            key: 'c',
            align:'center',
          },{
            title: '报废',
            key: 'd',
            align:'center',
          },{
            title: '预警',
            key: 'e',
            align:'center',
          },{
            title: '超期',
            key: 'f',
            align:'center',
          },{
            title: '总计',
            key: 'g',
            align:'center',
          },
        ],
        data3:[
          {
            a: '锅炉	',
            d: '0',
            c: '12',
            b: '36',
            e:'6',
            f:'1',
            g:'40',
          },{
            a: '压力容器	',
            d: '0',
            c: '5',
            b: '42',
            e:'10',
            f:'4',
            g:'57',
          },{
            a: '电梯	',
            d: '0',
            c: '12',
            b: '36',
            e:'6',
            f:'1',
            g:'40',
          },{
            a: '起重机械	',
            d: '0',
            c: '12',
            b: '36',
            e:'6',
            f:'1',
            g:'40',
          },{
            a: '厂内机动车辆	',
            d: '0',
            c: '12',
            b: '36',
            e:'6',
            f:'1',
            g:'40',
          },{
            a: '大型游乐设施	',
            d: '0',
            c: '12',
            b: '36',
            e:'6',
            f:'1',
            g:'40',
          },{
            a: '压力管道	',
            d: '0',
            c: '12',
            b: '36',
            e:'6',
            f:'1',
            g:'40',
          },
        ],

      }
    },
    methods:{
      showTitle(num,params,y){
        this.showList = true;
      }
    }
  }
</script>

<style lang='scss' scoped>
  .editFlex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #87888b;
    &:first-child{
      margin-top: 20px;
    }
    label{
      flex: .3;
      text-align: justify;
      text-align-last:justify;
      &::after{
        display: flex;
        content: "";
        overflow: hidden;
        width: 100%;
        height: 0;
      }
    }
    .ivu-input-wrapper,.ivu-select,.ivu-date-picker,.ivu-upload{
      flex: 1;
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }

  .spe{
    background: #fff !important;
  }
  .logoImg{
    display: flex;
    align-items: center;
    img{
      cursor: pointer;
      max-width: 40px;
      margin-right: 10px;
      vertical-align: bottom;
    }
    &>div{
      flex: .5;
      display: flex;
      align-items: center;

    }
  }
  .publicItem{
    padding: 6px 0;
  }
  .publicItem:nth-child(even){
    background: #f1f3f8;

  }
  .ivu-tabs-content{
    height: 100%;
  }
  .wrappper-title {
    width: 100%;
    height: 47px;
    line-height: 40px;
    position: relative;
    background-color: #fff;
    border-bottom:1px solid #e8edf7;
    font-size: 14px;
    .el-button--primary.is-plain {
      color: #409EFF;
      background: #ecf5ff;
      border-color: #b3d8ff;
    }
    .el-button {
      box-shadow: 0 3px 6px #d0d0d0;
      padding: 7px 15px;
      border-radius: 3px;
      transition: .1s;
      font-weight: 500;
      box-sizing: border-box;
      outline: 0;
      -webkit-appearance: none;
      text-align: center;
      border: 1px solid #dcdfe6;
      line-height: 1;
      white-space:nowrap;
      display: inline-block;
      cursor: pointer;
    }
    .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
      background: #409EFF;
      border-color: #409EFF;
      color: #fff;
    }
    i{
      color: #62a0de!important;
      background-color: #62a0de!important;
    }
    .circle+span{
      vertical-align: middle;
      color: #62a0de!important;
      cursor: pointer;
    }
  }
  .flex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #87888b;
    label{
      text-align: right;
      flex: .2;
      font-size: 14px;
      color: #87888b;
      margin-right: 30px;
    }

    span,img,.ivu-input-wrapper,.ivu-date-picker,.ivu-select{
      flex: .5;
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }
  .infor{
    display: flex;
    height: 100%;
    padding: 10px;
    .left{
      border-right:1px solid #ccc;
      margin-right: 10px;
      height: 100%+1;
      flex: .16;
    }
    .right{
      display: flex;
      height: 100%;
      flex: 1;
      overflow: hidden;
      flex-direction: column;
      padding-left: 1px;
      .mid{
        margin-top: 10px;
        flex: 1;
      }
      .top{
        margin-bottom: 10px;
      }
      .bot{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
      }
    }

  }
  .ivu-upload{
    display: flex;
  }
</style>
