<template>
  <transition name="fade">
    <div class="box" v-show="status ===true">
      <Menu
        ref="menu"
        :accordion="true"
        :open-names="openmenusid"
        :active-name="activeid"
        @on-open-change='change'
        @on-select='select'
      >
        <div v-for="(item,i) in menulist" :key="i">
          <Submenu  style="font-size: 16px;"
            :name="(i+1).toString()"
            v-if="item.sublist && item.sublist.filter(r=>r.inMenu).length >0"
          >
            <template slot="title" style="font-size: 16px;">
              <!-- <Icon :type="item.icon"/> -->
              <i class="icon" :class="item.icon"></i>
              {{item.label}}
            </template>
            <MenuItem 
              :name="(i+1)+'-'+(j+1)"
              :to="item.path+'/'+sub.path"
              v-for="(sub,j) in item.sublist"
              style="font-size: 16px;"
              :key="j"
            >{{sub.label}}</MenuItem>
          </Submenu>
          <MenuItem :name="(i+1)+'-1'" :to="item.path" v-else>
            <!-- <Icon :type="item.icon"/> -->
            <i class="icon" :class="item.icon"></i>
            {{item.label}}
          </MenuItem>
        </div>
      </Menu>
    </div>
  </transition>
</template>
<script>
import { menuList } from "@/config";
import { mapState } from "vuex";
export default {
  data() {
    return {
      status: true,
      menulist: menuList
    };
  },
  methods: {
    receive: function() {
      this.$root.Bus.$on("on-change", data => {
        this.status = data;
      });
    },
    change(val){
      // if(val.length>0){
      //   sessionStorage.setItem('openmenusid',JSON.stringify(val))
      // }
    },
    select(val){
      // console.log(val);
      sessionStorage.setItem('setActiveId',val);
      // this.$store.commit("user/setActiveId", {activeid:val});
    }
  },
  mounted() {
    this.receive();
  },

  //mapState用于将vuex中的state映射成组件的计算属性
  computed: mapState("user", ["activeid", "openmenusid"]),
  watch: {
    openmenusid(val) {
      console.log(val);
      //setTimeout(fn,0)
      //当前事件循环结束后执行
      this.$nextTick(() => {
        //手动让menu按当前设置的值展开
        this.$refs.menu.updateOpened();
      });
    }
  }
};
</script>
<style scoped>
.ivu-menu-item{
  font-size: 16px;
}
.ivu-menu-vertical{
  height: 100%;
}
.box {
  width: 240px;
  height: 100% ;
  overflow: hidden;
  background-color: #fff;
}
.fade-enter-active,
.fade-leave-active {
  transition: width 0.5s;
}

/* 定义进入动画的初始状态*/
.fade-enter {
  width: 0;
  height: 100%;
}

/* 定义进入动画的结束状态*/
.fade-enter-to {
  width: 240px;
  height: 100%;
}

/* 定义离开动画的初始状态*/
.fade-leave {
  width: 240px;
  height: 100%;
}

/* 定义离开动画的结束状态*/
.fade-leave-to {
  width: 0;
  height: 100%;
}
.icon-home{
  background: url('../../static/首页.png') no-repeat;
  background-size: 100%;
}
.icon-home1{
  background: url('../../static/企业信息.png') no-repeat;
  background-size: 100%;
}
.icon-home2{
  background: url('../../static/设备.png') no-repeat;
  background-size: 100%;
}
.icon-home3{
  background: url('../../static/企业管理1.png') no-repeat;
  background-size: 100%;
}
.icon-home4{
  background: url('../../static/代理资质.png') no-repeat;
  background-size: 100%;
}
.icon-home5{
  background: url('../../static/安全管理.png') no-repeat;
  background-size: 100%;
}
.icon-home6{
  background: url('../../static/预警.png') no-repeat;
  background-size: 100%;
}
.icon-home7{
  background: url('../../static/企业管理2.png') no-repeat;
  background-size: 100%;
}
.icon-home8{
  background: url('../../static/系统管理.png') no-repeat;
  background-size: 100%;
}
.icon-home9{
  background: url('../../static/系统管理.png') no-repeat;
  background-size: 100%;
}
.icon{
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    width: 18px;
    height: 18px;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
}
</style>
