<template>
  <div class="infor">
    <div data-v-2b91739e="" class="wrappper-title"><button @click="show = true"  data-v-2b91739e="" type="button" class="el-button el-button--primary el-button--mini is-plain" ><span>新增</span></button></div>
    <Table v-show="!showList" width="100%" height="700" style="overflow:hidden;" border :columns="columns1" :data="data1"></Table>
    <Modal :mask-closable='false'	
      v-model="show"
      title="新增"
      width="800"
    >
      <div class="item">
        <h5>管理方面</h5>
        <div class="itemList">
          <div style="display: flex;align-items: center;justify-content: space-between;">
            <div style="font-size: 16px;">1、asdasd</div>
            <div>
              <RadioGroup class="spaceDe" v-model="edit.id" style="font-size: 14px;">
                <Radio label="金斑蝶"></Radio>
                <Radio label="爪哇犀牛"></Radio>
                <Radio label="印度黑羚"></Radio>
              </RadioGroup>
            </div>
          </div>
          <Input style="margin-top: 10px;" type="textarea" placeholder="存在问题"  />
          <Input style="margin-top: 10px;" type="textarea" placeholder="整改意见"  />
        </div>
      </div>
    </Modal>
    <Modal :mask-closable='false'	
      v-model="show2"
      title="查看大图"
    >
      <img :src="src" style="width: 100%">
      <div slot="footer">
        <Button @click="show2 = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        model1:'',
        modal8:false,
        modal9:false,
        show:false,
        show1:false,
        show2:false,
        src:'',
        title:'',
        tableData:[],
        dialogVisible:false,
        edit:{

        },
        columnsData:[
          {
            type: 'expand',
            label:"详情",
            width: 50,
            render: (h, params) => {
              return h(expandRow, {
                props: {
                  row: params.row
                }
              },'详情')
            }
          },
          {
            key: 'e',
            width: 80,
            align: 'center',
            title:'序号'
          },
          {
            key: 'a',
            align: 'center',
            title:'修改人姓名'
          },
          {
            key: 'b',
            align: 'center',
            title:'所在部门'
          },{
            key: 'c',
            align: 'center',
            title:'修改日期'
          },{
            key: 'd',
            align: 'center',
            title:'帐号'
          },

        ],
        dataItem:[
          {
            e:1,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:2,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:3,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:4,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:5,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },
        ],
        columns1: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title:'序号'
          },

          {
            title: '设备种类',
            key: 'a',
            width:300,
            align:'center'
          },
          {
            title: '设备类别',
            key: 'b',
            width:300,
            align:'center'
          },
          {
            title: '设备品种 ',
            key: 'c',
            align:'center'
          },
          {
            title: '产品名称 ',
            key: 'd',
            align:'center'
          },{
            title: '设备代码 ',
            key: 'ff',
            align:'center'
          },{
            title: '型号(规格)',
            key: 'ef',
            align:'center'
          },
          {
            title: '状态',
            key: 'cz',
            align:'center',
            render: (h, params) => {
              if(params.row.e == 1){
                return h('div', [
                  h('div', {
                    style: {
                      marginRight: '5px',
                      color:"green"
                    },
                  }, '申请中'),
                ]);
              }else{
                return h('div', [
                  h('div', {
                    style: {
                      marginRight: '5px',
                      color:"green"
                    },
                  }, '已申请'),
                ]);
              }

            }
          },
        ],
        data1: [
          {
            a: '锅炉',
            b: '特种设备',
            c: '大型机械',
            d:'锅炉',
            de:"1385123213",
            ef:'AT3240',
            ff:'320831',
            e:'1'
          },
          {
            a: '锅炉',
            b: '特种设备',
            c: '大型机械',
            d:'锅炉',
            de:"1385123213",
            ef:'AT3240',
            ff:'320831',
            e:'2'
          },
        ]
      }
    },
    methods:{
      clickDetail(){
        this.modal8 = true;
        $(".ivu-table-cell-expand").html('');
        $(".ivu-table-cell-expand").html('详情');
        $(".ivu-table-cell-expand-expanded").css({
          'transition':'rotate(0deg)',
        });
        $(".ivu-table-cell-expand").css({
          'color':'#409EFF',
        });
      },
      showTitle(num,params){
        if(num == 1){
          this.title = '新增';
          this.edit = {};
        }else{
          this.title = '修改';
          Object.keys(params.row).forEach((key,index) => {
            this.edit[key] = params.row[key]
          });
        }
        this.show1 = true;
      },
      initMap(){
        let _this = this;
        this.modal9 = true;
        var map = new BMap.Map("map");
        map.centerAndZoom("南京",12);
        //单击获取点击的经纬度
        map.addEventListener("click",function(e){
          // _this.edit.zb = e.point.lng + "," + e.point.lat
          _this.$set(_this.edit,'zb',e.point.lng + "," + e.point.lat)
        });

      }
    }
  }
</script>

<style lang='scss' scoped>
  .spaceDe{
    .ivu-radio-wrapper{
      font-size: 16px;
    }
  }
  .item{
    h5{
      font-size: 17px;
      padding-bottom: 6px;
      border-bottom: 1px solid #ddd;
    }
  }
  .publicItem{
    padding: 6px 0;
  }
  .logoImg{
    img{
      cursor: pointer;
      max-width: 160px;
      margin-right: 10px;
    }
    div{
      flex: .5;
      display: flex;
      align-items: center;

    }
  }
  .publicItem:nth-child(even){
    background: #f1f3f8;

  }
  .wrappper-title {
    width: 100%;
    height: 47px;
    line-height: 40px;
    position: relative;
    background-color: #fff;
    border-bottom:1px solid #e8edf7;
    font-size: 14px;
    .el-button--primary.is-plain {
      color: #409EFF;
      background: #ecf5ff;
      border-color: #b3d8ff;
    }
    .el-button {
      box-shadow: 0 3px 6px #d0d0d0;
      padding: 7px 15px;
      border-radius: 3px;
      transition: .1s;
      font-weight: 500;
      box-sizing: border-box;
      outline: 0;
      -webkit-appearance: none;
      text-align: center;
      border: 1px solid #dcdfe6;
      line-height: 1;
      white-space:nowrap;
      display: inline-block;
      cursor: pointer;
    }
    .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
      background: #409EFF;
      border-color: #409EFF;
      color: #fff;
    }
    i{
      color: #62a0de!important;
      background-color: #62a0de!important;
    }
    .circle {
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      border: 1px solid #ddd;
      border-radius: 50%;
      margin: 0 15px;
    }
    .circle+span{
      vertical-align: middle;
      color: #62a0de!important;
    }
  }
  .editFlex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #87888b;
    &:first-child{
      /*margin-top: 20px;*/
    }
    label{
      flex: .3;
      text-align: justify;
      text-align-last:justify;
      &::after{
        display: flex;
        content: "";
        overflow: hidden;
        width: 100%;
        height: 0;
      }
    }
    .ivu-input-wrapper,.ivu-select{
      flex: 1;
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }
  .flex{
    display: flex;
    font-size: 14px;
    color: #87888b;
    align-items: center;
    /*&:nth-of-type(odd){*/
    label{
      text-align: right;
      flex: .5;
      font-size: 16px;
      color: #87888b;
    }
    span,img{
      flex: .5;
    }
    /*}*/
    /*&:nth-of-type(even){*/
    /*padding-left: 10%;*/
    /*}*/


    &:last-child{
      margin-bottom: 0px;
    }
  }
  .infor{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    .mid{
      margin-top: 10px;
      flex: 1;
    }
    .bot{
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }

</style>
<style lang="scss">
  .infor{
    .ivu-tabs-content{
      height: 100%;
      & .ivu-tabs-tabpane:nth-child(1){
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 20px;
      }
    }
  }
</style>
