<template>
  <div class="infor">
    <div data-v-2b91739e="" class="wrappper-title"><button @click="show = true"  data-v-2b91739e="" type="button" class="el-button el-button--primary el-button--mini is-plain" ><span>新增</span></button></div>
    <Table  width="100%" height="700" style="overflow:hidden;" border :columns="columns1" :data="data1"></Table>
    <Modal :mask-closable='false'	
      v-model="show"
      title="新增"
      width="800"
      @on-ok="ok"
    >
      <Row id="export_content">
        <Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>设备名称 ：</label>
        <!--<span></span>-->
        <Input style="flex:.5" placeholder="请输入设备名称" />
        </Col>
        <Col class="flex" span="12">
        <label>设备制造单位全称：</label>
        <Input style="flex:.5" placeholder="请输入设备制造单位全称" />
        </Col>
        </Col>
        <Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>许可证编号：</label>
        <Input style="flex:.5" placeholder="请输入许可证编号" />
        </Col>
        <Col class="flex" span="12" >
        <label>设备安装地点：</label>
        <Input style="flex:.5" placeholder="请输入设备安装地点" />
        </Col>
        </Col>
        <Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>安装日期 ：</label>
        <DatePicker style="flex:.5" type="date" placeholder="请选择安装日期"></DatePicker>
        </Col>
        <Col class="flex" span="12">
        <label>施工单位全称：</label>
        <Input style="flex:.5" placeholder="请输入施工单位全称" />
        </Col>
        </Col>
        <Col class="publicItem" span="24">
        <Col class="flex" span="12" style="align-items: center;margin-top: 5px;">
        <label>施工类别：</label>
        <Select style="flex: .5;">
        </Select>
        </Col>
        <Col class="flex" span="12">
        <label>许可证编号：</label>
        <Input style="flex:.5" placeholder="请输入许可证编号" />
        </Col>
        </Col>
        <Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>许可证有效期：</label>
        <DatePicker style="flex:.5" type="date" placeholder="请选择许可证有效期"></DatePicker>
        </Col>
        <Col class="flex" span="12">
        <label>联系人：</label>
        <Input style="flex:.5" placeholder="请输入联系人" />
        </Col>
        </Col><Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>固定电话：</label>
        <Input style="flex:.5" placeholder="请输入固定电话" />
        </Col>
        <Col class="flex" span="12">
        <label>联系人手机：</label>
        <Input style="flex:.5" placeholder="请输入联系人手机" />
        </Col>
        </Col><Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>传真：</label>
        <Input style="flex:.5" placeholder="请输入传真" />
        </Col>
        <Col class="flex" span="12">
        <label>邮政编码：</label>
        <Input style="flex:.5" placeholder="请输入邮政编码" />
        </Col>
        </Col><Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>地址：</label>
        <Input style="flex:.5" placeholder="请输入地址" />
        </Col>

        </Col><Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>使用单位全称：</label>
        <Input style="flex:.5" placeholder="请输入使用单位全称" />
        </Col>
        <Col class="flex" span="12">
        <label>联系人：</label>
        <Input style="flex:.5" placeholder="请输入联系人" />
        </Col>
        </Col><Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>固定电话：</label>
        <Input style="flex:.5" placeholder="请输入固定电话" />
        </Col>
        <Col class="flex" span="12">
        <label>联系人电话：</label>
        <Input style="flex:.5" placeholder="请输入联系人电话" />
        </Col>
        </Col><Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>传  真：</label>
        <Input style="flex:.5" placeholder="请输入传  真" />
        </Col>
        <Col class="flex" span="12">
        <label>地  址：</label>
        <Input style="flex:.5" placeholder="请输入地  址" />
        </Col>
        </Col><Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>邮政编码：</label>
        <Input style="flex:.5" placeholder="请输入邮政编码" />
        </Col>
        </Col>
      </Row>
      <!--<div>施工单位：<input class="InputSelect"/><span>(加盖工单)</span></div>-->
        <!--<Form style="margin-top: 10px;" :model="formItem" class="formItem" :label-width="80">-->
          <!--<FormItem label="Input">-->
            <!--<Input v-model="formItem.input" placeholder="Enter something..." />-->
          <!--</FormItem>-->
        <!--</Form>-->
    </Modal>
    <Modal :mask-closable='false'	
      v-model="show2"
      title="查看大图"
    >
      <img :src="src" style="width: 100%">
      <div slot="footer">
        <Button @click="show2 = false;">取消</Button>
      </div>
    </Modal>
    <Modal :mask-closable='false'	
      v-model="modal8"
      title="历史记录"
      width="1000"
    >
      <Table border :columns="columnsData" :data="dataItem"></Table>
    </Modal>
    <Modal :mask-closable='false'	
      v-model="modal9"
      title="历史记录"
      width="1000"
    >
      <div>坐标：<Input v-model="edit.zb" style="width: 200px;margin-bottom: 10px;" /></div>
      <div id="map" style="height: 500px;">

      </div>
    </Modal>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        model1:'',
        modal8:false,
        modal9:false,
        show:false,
        show1:false,
        show2:false,
        formItem:{},
        src:'',
        title:'',
        tableData:[],
        dialogVisible:false,
        edit:{

        },
        columnsData:[
          {
            type: 'expand',
            label:"详情",
            width: 50,
            render: (h, params) => {
              return h(expandRow, {
                props: {
                  row: params.row
                }
              },'详情')
            }
          },
          {
            key: 'e',
            width: 80,
            align: 'center',
            title:'序号'
          },
          {
            key: 'a',
            align: 'center',
            title:'修改人姓名'
          },
          {
            key: 'b',
            align: 'center',
            title:'所在部门'
          },{
            key: 'c',
            align: 'center',
            title:'修改日期'
          },{
            key: 'd',
            align: 'center',
            title:'帐号'
          },

        ],
        dataItem:[
          {
            e:1,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:2,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:3,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:4,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:5,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },
        ],
        columns1: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title:'序号'
          },

          {
            title: '设备名称',
            key: 'a',
            width:300,
            align:'center'
          },
          {
            title: '设备制造单位全称',
            key: 'b',
            width:300,
            align:'center'
          },
          {
            title: '许可证编号 ',
            key: 'c',
            align:'center'
          },
          {
            title: '设备安装地点',
            key: 'd',
            align:'center'
          },{
            title: '安装日期',
            key: 'ff',
            align:'center'
          },{
            title: '许可证有效期',
            key: 'ef',
            align:'center'
          },
          {
            title: '状态',
            key: 'cz',
            align:'center',
            render: (h, params) => {
              if(params.row.e == 1){
                return h('div', [
                  h('div', {
                    style: {
                      marginRight: '5px',
                      color:"green"
                    },
                  }, '申请中'),
                ]);
              }else{
                return h('div', [
                  h('div', {
                    style: {
                      marginRight: '5px',
                      color:"green"
                    },
                  }, '已申请'),
                ]);
              }

            }
          },
        ],
        data1: [
          {
            a: '锅炉',
            b: '淮安蓝星塑料器械开发有限公司',
            c: 'AT3240',
            d:'金湖区金湖县',
            de:"1385123213",
            ef:'2022-02-24',
            ff:'2019-08-21',
            e:'1'
          },
          {
            a: '压力容器',
            b: '淮安蓝星塑料器械开发有限公司',
            c: 'AT3240',
            d:'金湖区金湖县',
            de:"1385123213",
            ef:'2022-02-24',
            ff:'2019-08-21',
            e:'1'
          },
        ]
      }
    },
    methods:{
      clickDetail(){
        this.modal8 = true;
        $(".ivu-table-cell-expand").html('');
        $(".ivu-table-cell-expand").html('详情');
        $(".ivu-table-cell-expand-expanded").css({
          'transition':'rotate(0deg)',
        });
        $(".ivu-table-cell-expand").css({
          'color':'#409EFF',
        });
      },
      showTitle(num,params){
        if(num == 1){
          this.title = '新增';
          this.edit = {};
        }else{
          this.title = '修改';
          Object.keys(params.row).forEach((key,index) => {
            this.edit[key] = params.row[key]
          });
        }
        this.show1 = true;
      },
      initMap(){
        let _this = this;
        this.modal9 = true;
        var map = new BMap.Map("map");
        map.centerAndZoom("南京",12);
        //单击获取点击的经纬度
        map.addEventListener("click",function(e){
          // _this.edit.zb = e.point.lng + "," + e.point.lat
          _this.$set(_this.edit,'zb',e.point.lng + "," + e.point.lat)
        });

      },
      ok(){
        html2canvas(
          document.getElementById("export_content"),
          {
            dpi: 172,//导出pdf清晰度
            onrendered: function (canvas) {
              var contentWidth = canvas.width;
              var contentHeight = canvas.height;

              //一页pdf显示html页面生成的canvas高度;
              var pageHeight = contentWidth / 592.28 * 841.89;
              //未生成pdf的html页面高度
              var leftHeight = contentHeight;
              //pdf页面偏移
              var position = 0;
              //html页面生成的canvas在pdf中图片的宽高（a4纸的尺寸[595.28,841.89]）
              var imgWidth = 595.28;
              var imgHeight = 592.28 / contentWidth * contentHeight;

              var pageData = canvas.toDataURL('image/jpeg', 1.0);
              var pdf = new jsPDF('', 'pt', 'a4');

              //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
              //当内容未超过pdf一页显示的范围，无需分页
              if (leftHeight < pageHeight) {
                pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight);
              } else {
                while (leftHeight > 0) {
                  pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                  leftHeight -= pageHeight;
                  position -= 841.89;
                  //避免添加空白页
                  if (leftHeight > 0) {
                    pdf.addPage();
                  }
                }
              }
              pdf.save('content.pdf');
            },
            //背景设为白色（默认为黑色）
            background: "#fff"
          })
      },
    }
  }
</script>

<style lang='scss' scoped>
  .InputSelect{
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .publicItem{
    padding: 6px 0;
  }
  .logoImg{
    img{
      cursor: pointer;
      max-width: 160px;
      margin-right: 10px;
    }
    div{
      flex: .5;
      display: flex;
      align-items: center;

    }
  }
  .publicItem:nth-child(even){
    background: #f1f3f8;

  }
  .wrappper-title {
    width: 100%;
    height: 47px;
    line-height: 40px;
    position: relative;
    background-color: #fff;
    border-bottom:1px solid #e8edf7;
    font-size: 14px;
    .el-button--primary.is-plain {
      color: #409EFF;
      background: #ecf5ff;
      border-color: #b3d8ff;
    }
    .el-button {
      box-shadow: 0 3px 6px #d0d0d0;
      padding: 7px 15px;
      border-radius: 3px;
      transition: .1s;
      font-weight: 500;
      box-sizing: border-box;
      outline: 0;
      -webkit-appearance: none;
      text-align: center;
      border: 1px solid #dcdfe6;
      line-height: 1;
      white-space:nowrap;
      display: inline-block;
      cursor: pointer;
    }
    .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
      background: #409EFF;
      border-color: #409EFF;
      color: #fff;
    }
    i{
      color: #62a0de!important;
      background-color: #62a0de!important;
    }
    .circle {
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      border: 1px solid #ddd;
      border-radius: 50%;
      margin: 0 15px;
    }
    .circle+span{
      vertical-align: middle;
      color: #62a0de!important;
    }
  }
  .editFlex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #87888b;
    &:first-child{
      /*margin-top: 20px;*/
    }
    label{
      flex: .3;
      text-align: justify;
      text-align-last:justify;
      &::after{
        display: flex;
        content: "";
        overflow: hidden;
        width: 100%;
        height: 0;
      }
    }
    .ivu-input-wrapper,.ivu-select{
      flex: 1;
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }
  .flex{
    display: flex;
    font-size: 14px;
    color: #87888b;
    align-items: center;
    /*&:nth-of-type(odd){*/
    label{
      text-align: right;
      flex: .5;
      font-size: 16px;
      color: #87888b;
    }
    span,img{
      flex: .5;
    }
    /*}*/
    /*&:nth-of-type(even){*/
    /*padding-left: 10%;*/
    /*}*/


    &:last-child{
      margin-bottom: 0px;
    }
  }
  .infor{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    .mid{
      margin-top: 10px;
      flex: 1;
    }
    .bot{
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }

</style>
<style lang="scss">
  .infor{
    .ivu-tabs-content{
      height: 100%;
      & .ivu-tabs-tabpane:nth-child(1){
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 20px;
      }
    }
  }

  .formItem{
    .ivu-form-item-label{
      border: 1px solid #ddd;
    }
    .ivu-input{
      border: none;
      height: 30px;
      outline: none;
    }
    .ivu-form-item-content{
      border: 1px solid #ddd;
      border-left: none;
    }
    .ivu-form-item-label{
      /*height: 32px;*/
      /*display: flex;*/
      /*align-items: center;*/
      /*justify-content: center;*/
    }
  }
</style>
