<template>
  <div class="infor">
    <div data-v-2b91739e="" class="wrappper-title"><button @click="show = true"  data-v-2b91739e="" type="button" class="el-button el-button--primary el-button--mini is-plain" ><span>新增</span></button></div>
    <Table v-show="!showList" width="100%" height="700" style="overflow:hidden;" border :columns="columns1" :data="data1"></Table>
    <Modal :mask-closable='false'	
      v-model="show"
      title="新增"
      width="800"
    >
      <Row>
        <Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>使用单位名称：</label>
        <!--<span></span>-->
        <Input style="flex:.5" placeholder="请输入使用单位名称" />
        </Col>
        <Col class="flex" span="12">
        <label>使用单位地址：</label>
        <Input style="flex:.5" placeholder="请输入使用单位地址" />
        </Col>
        </Col>
        <Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>使用单位联系人：</label>
        <Input style="flex:.5" placeholder="请输入使用单位联系人" />
        </Col>
        <Col class="flex" span="12" >
        <label>电话：</label>
        <Input style="flex:.5" placeholder="请输入电话" />
        <!--<span>法人</span>-->
        <!--<DatePicker style="flex:.5" type="date" placeholder="请选择电话"></DatePicker>-->
        </Col>
        </Col>
        <Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>施工、维保单位名称 ：</label>
        <Input style="flex:.5" placeholder="请输入施工、维保单位名称" />
        </Col>
        <Col class="flex" span="12">
        <label>施工、维保单位地址：</label>
        <Input style="flex:.5" placeholder="请输入施工、维保单位地址" />
        </Col>
        </Col>

        <Col class="publicItem" span="24">
        <Col class="flex" span="12">
        <label>施工、维保单位联系人 ：</label>
        <Input style="flex:.5" placeholder="请输入施工、维保单位联系人" />
        </Col>
        <Col class="flex" span="12">
        <label>施工、维保单位电话：</label>
        <Input style="flex:.5" placeholder="请输入施工、维保单位电话" />
        </Col>
        </Col>

        <Col class="publicItem" span="24">
        <Col class="flex" span="24">
        <label style="flex: .378;">检验交通方式 ：</label>
          <CheckboxGroup v-model="edit.a">
            <Checkbox label="申报单位出车"></Checkbox>
            <Checkbox label="检验单位出车"></Checkbox>
          </CheckboxGroup>
        </Col>
        </Col>

        <Col class="publicItem" span="24">
        <Col class="flex" span="24">
        <label style="flex: .334;">检验类别 ：</label>
        <CheckboxGroup v-model="edit.a" style="flex: 1;">
          <Checkbox label="锅炉"></Checkbox>
          <Checkbox label="压力容器"></Checkbox>
          <Checkbox label="压力管道"></Checkbox>
          <Checkbox label="车用气瓶"></Checkbox>
          <Checkbox label="定期检验"></Checkbox>
          <Checkbox label="监督检验"></Checkbox>
          <Checkbox label="安全阀"></Checkbox>
          <Checkbox label="校验"></Checkbox>
          <Checkbox label="复检"></Checkbox>
          <Checkbox label="电梯"></Checkbox>
          <Checkbox label="起重机械"></Checkbox>
          <Checkbox label="场（厂）内专用机动车辆"></Checkbox>
          <Checkbox label="复检"></Checkbox>
          <Checkbox label="复检"></Checkbox>
          <Checkbox label="复检"></Checkbox>
          <Checkbox label="复检"></Checkbox>
        </CheckboxGroup>
        </Col>
        </Col>
        <Col class="publicItem" span="24">
        <Col class="flex" span="4" style="margin-right: 20px;">
        <label style="flex: 1;text-align: center;">序号</label>
        </Col><Col class="flex" span="4" style="margin-right: 20px;">
        <label style="flex: 1;text-align: center;">设备名称</label>
        </Col><Col class="flex" span="4" style="margin-right: 20px;">
        <label style="flex: 1;text-align: center;">产品编号</label>
        </Col><Col class="flex" span="4" style="margin-right: 20px;">
        <label style="flex: 1;text-align: center;">使用登记证编号</label>
        </Col><Col class="flex" span="4" >
        <label style="flex: 1;text-align: center;">备   注</label>
        </Col>
        </Col>
        <Col class="publicItem" span="24" v-for="(list,index) in item" :key="index">
        <Col class="flex" span="4" style="justify-content: center;margin-right: 20px;">
        {{index}}
        </Col><Col class="flex" span="4" style="margin-right: 20px;">
        <Input style="flex:1" placeholder="请输入设备名称" />
        </Col><Col class="flex" span="4" style="margin-right: 20px;">
        <Input style="flex:1" placeholder="请输入产品编号" />
        </Col>
        <Col class="flex" span="4" style="margin-right: 20px;">
        <Input style="flex:1" placeholder="请输入使用登记证编号" />
        </Col>
        <Col class="flex" span="4" >
        <Input style="flex:1" placeholder="请输入备注" />
        </Col>
        </Col>
        <Col :span="24" style="text-align: center;">
        <Button @click="add" type="success" icon="ios-add">新增</Button>
        </Col>
        <Modal :mask-closable='false'	
          v-model="modal8"
          title="历史记录"
          width="1000"
        >
          <Table border :columns="columnsData" :data="dataItem"></Table>
        </Modal>
        <Modal :mask-closable='false'	
          v-model="modal9"
          title="历史记录"
          width="1000"
        >
          <div>坐标：<Input v-model="edit.zb" style="width: 200px;margin-bottom: 10px;" /></div>
          <div id="map" style="height: 500px;">

          </div>
        </Modal>
      </Row>
    </Modal>
    <Modal :mask-closable='false'	
      v-model="show2"
      title="查看大图"
    >
      <img :src="src" style="width: 100%">
      <div slot="footer">
        <Button @click="show2 = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        model1:'',
        modal8:false,
        modal9:false,
        show:false,
        item:[],
        show1:false,
        show2:false,
        src:'',
        title:'',
        tableData:[],
        dialogVisible:false,
        edit:{

        },
        columnsData:[
          {
            type: 'expand',
            label:"详情",
            width: 50,
            render: (h, params) => {
              return h(expandRow, {
                props: {
                  row: params.row
                }
              },'详情')
            }
          },
          {
            key: 'e',
            width: 80,
            align: 'center',
            title:'序号'
          },
          {
            key: 'a',
            align: 'center',
            title:'修改人姓名'
          },
          {
            key: 'b',
            align: 'center',
            title:'所在部门'
          },{
            key: 'c',
            align: 'center',
            title:'修改日期'
          },{
            key: 'd',
            align: 'center',
            title:'帐号'
          },

        ],
        dataItem:[
          {
            e:1,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:2,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:3,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:4,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },{
            e:5,
            a:'科员',
            b:'金湖县市监局',
            c:"2015-10-22 15:50:29",
            d:'ha_hy_jcky',
          },
        ],
        columns1: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title:'序号'
          },

          {
            title: '使用单位名称',
            key: 'a',
            width:300,
            align:'center'
          },
          {
            title: '使用单位地址',
            key: 'b',
            width:300,
            align:'center'
          },
          {
            title: '使用单位联系人 ',
            key: 'c',
            align:'center'
          },
          {
            title: '电话 ',
            key: 'd',
            align:'center'
          },{
            title: '检验交通方式 ',
            key: 'ff',
            align:'center'
          },{
            title: '检验类别',
            key: 'ef',
            align:'center'
          },
          {
            title: '状态',
            key: 'cz',
            align:'center',
            render: (h, params) => {
              if(params.row.e == 1){
                return h('div', [
                  h('div', {
                    style: {
                      marginRight: '5px',
                      color:"green"
                    },
                  }, '申请中'),
                ]);
              }else{
                return h('div', [
                  h('div', {
                    style: {
                      marginRight: '5px',
                      color:"green"
                    },
                  }, '已申请'),
                ]);
              }

            }
          },
        ],
        data1: [
          {
            a: '淮安蓝星塑料器械开发有限公司',
            b: '金湖县金湖区',
            c: '王伟',
            d:'1385164847',
            de:"1385123213",
            ef:'锅炉',
            ff:'申报单位出车',
            e:'1'
          },
          {
            a: '淮安蓝星塑料器械开发有限公司',
            b: '金湖县金湖区',
            c: '王伟',
            d:'1385164847',
            de:"1385123213",
            ef:'压力容器',
            ff:'检验单位出车',
            e:'1'
          },
        ]
      }
    },
    methods:{
      add(){
        this.item.push({});
      },
      clickDetail(){
        this.modal8 = true;
        $(".ivu-table-cell-expand").html('');
        $(".ivu-table-cell-expand").html('详情');
        $(".ivu-table-cell-expand-expanded").css({
          'transition':'rotate(0deg)',
        });
        $(".ivu-table-cell-expand").css({
          'color':'#409EFF',
        });
      },
      showTitle(num,params){
        if(num == 1){
          this.title = '新增';
          this.edit = {};
        }else{
          this.title = '修改';
          Object.keys(params.row).forEach((key,index) => {
            this.edit[key] = params.row[key]
          });
        }
        this.show1 = true;
      },
      initMap(){
        let _this = this;
        this.modal9 = true;
        var map = new BMap.Map("map");
        map.centerAndZoom("南京",12);
        //单击获取点击的经纬度
        map.addEventListener("click",function(e){
          // _this.edit.zb = e.point.lng + "," + e.point.lat
          _this.$set(_this.edit,'zb',e.point.lng + "," + e.point.lat)
        });

      }
    }
  }
</script>

<style lang='scss' scoped>
  .publicItem{
    padding: 6px 0;
  }
  .logoImg{
    img{
      cursor: pointer;
      max-width: 160px;
      margin-right: 10px;
    }
    div{
      flex: .5;
      display: flex;
      align-items: center;

    }
  }
  .publicItem:nth-child(even){
    background: #f1f3f8;

  }
  .wrappper-title {
    width: 100%;
    height: 47px;
    line-height: 40px;
    position: relative;
    background-color: #fff;
    border-bottom:1px solid #e8edf7;
    font-size: 14px;
    .el-button--primary.is-plain {
      color: #409EFF;
      background: #ecf5ff;
      border-color: #b3d8ff;
    }
    .el-button {
      box-shadow: 0 3px 6px #d0d0d0;
      padding: 7px 15px;
      border-radius: 3px;
      transition: .1s;
      font-weight: 500;
      box-sizing: border-box;
      outline: 0;
      -webkit-appearance: none;
      text-align: center;
      border: 1px solid #dcdfe6;
      line-height: 1;
      white-space:nowrap;
      display: inline-block;
      cursor: pointer;
    }
    .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
      background: #409EFF;
      border-color: #409EFF;
      color: #fff;
    }
    i{
      color: #62a0de!important;
      background-color: #62a0de!important;
    }
    .circle {
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      border: 1px solid #ddd;
      border-radius: 50%;
      margin: 0 15px;
    }
    .circle+span{
      vertical-align: middle;
      color: #62a0de!important;
    }
  }
  .editFlex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #87888b;
    &:first-child{
      /*margin-top: 20px;*/
    }
    label{
      flex: .3;
      text-align: justify;
      text-align-last:justify;
      &::after{
        display: flex;
        content: "";
        overflow: hidden;
        width: 100%;
        height: 0;
      }
    }
    .ivu-input-wrapper,.ivu-select{
      flex: 1;
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }
  .flex{
    display: flex;
    font-size: 14px;
    color: #87888b;
    align-items: center;
    /*&:nth-of-type(odd){*/
    label{
      text-align: right;
      flex: .5;
      font-size: 16px;
      color: #87888b;
    }
    span,img{
      flex: .5;
    }
    /*}*/
    /*&:nth-of-type(even){*/
    /*padding-left: 10%;*/
    /*}*/


    &:last-child{
      margin-bottom: 0px;
    }
  }
  .infor{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    .mid{
      margin-top: 10px;
      flex: 1;
    }
    .bot{
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }

</style>
<style lang="scss">
  .infor{
    .ivu-tabs-content{
      height: 100%;
      & .ivu-tabs-tabpane:nth-child(1){
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 20px;
      }
    }
  }
</style>
