<template>
  <div>
    <div id="all">
      <div id="allmap"></div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import $ from 'jquery'
export default {
  name: "LeoMap",
  data() {
    return {
      address_detail: null, //详细地址
      userlocation: { lng: "", lat: "" },
    }
  },
  computed:mapGetters("user", ["getToken"]),
 async mounted() {
    // // 百度地图API功能
    let res = await this.$fetch.get('/gunsApi/gis/listAllDeviceInfo');
    var map = new BMap.Map("allmap");
    // var point = new BMap.Point(res.data.data[0].longitude,res.data.data[0].latitude);
    var point = new BMap.Point(119.981789,31.816141);
        // for(var i=0;i<data_info.length;i++){
        //     var marker = new BMap.Marker(new BMap.Point(data_info[i][0],data_info[i][1]));  // 创建标注
        //     var content = data_info[i][2];
        //     map.addOverlay(marker);               // 将标注添加到地图中
        //     addClickHandler(content,marker);
        //   }
    map.enableScrollWheelZoom(true);
    map.centerAndZoom(point, 15);
    for(let i of res.data.data){
      var marker = new BMap.Marker(new BMap.Point(i.longitude,i.latitude));  // 创建标注
      map.addOverlay(marker);               // 将标注添加到地图中
      this.addClickHandler(marker,i,map);
    }
    var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
          if(this.getStatus() == BMAP_STATUS_SUCCESS){
            map.panTo(r.point);
          }
    },{enableHighAccuracy: true})
    map.addEventListener("tilesloaded",function(){//地图加载完毕
        $(".BMap_bubble_content").css({
          'fontSize':'18px'
        })
      });
  },
  methods:{
    async addClickHandler(marker,item,map){
      let _this = this;
      marker.addEventListener("click",function(e){
        _this.getInfoMsg(e,item,map);
      });
    },
    async getInfoMsg(marker,id,map){
      let res = await this.$fetch.get('/gunsApi/gis/getDeviceInfoById/'+id.id);
      this.openInfo(marker,res.data.data,map);
    },
    async openInfo(e,item,map){
      var p = e.target;
      var opts = {
        width : 200,     // 信息窗口宽度
        height: 260,     // 信息窗口高度
        fontSize:'18px',
        enableMessage:true//设置允许信息窗发送短息
      };
      var content = "";
      content += '<span stlye="font-size:18px;margin-left: 40px">设备名称：'+item.deviceName+'</span><br/>'
                + '<span stlye="font-size:18px;margin-left: 40px">设备地址：'+item.deviceAddress+'</span><br/>'
                + '<span stlye="font-size:18px;margin-left: 40px">额定电流：'+item.deviceElectricity+'</span><br/>'
                + '<span stlye="font-size:18px;margin-left: 40px">参考频率：'+item.deviceFrequency+'</span><br/>'
                + '<span stlye="font-size:18px;margin-left: 40px">设&nbsp;备&nbsp;i&nbsp; p：'+item.deviceIp+'</span><br/>'
                + '<span stlye="font-size:18px;margin-left: 40px">设备编号：'+item.deviceNumber+'</span><br/>'
                + '<span stlye="font-size:18px;margin-left: 40px">设备序号：'+item.deviceSerialNumber+'</span><br/>'
                + '<span stlye="font-size:18px;margin-left: 40px">设备型号：'+item.deviceType+'</span><br/>'
                + '<span stlye="font-size:18px;margin-left: 40px">额定电压：'+item.deviceVoltage+'</span>'
      var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
      var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
      map.openInfoWindow(infoWindow,point); //开启信息窗口
      map.addEventListener("tilesloaded",function(){//地图加载完毕
        $(".BMap_bubble_content").css({
          'fontSize':'18px'
        })
      });
    }
  }
};
</script>
<style scoped>
body,
html,
#allmap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  /* font-family: "微软雅黑"; */
}
#allmap {
  width: 100%;
  height: 850px;
  /* font-family: "微软雅黑"; */
  margin-top: 5px;
}


</style>