<template>
  <div id="app" v-cloak>
    <router-view></router-view>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.el-select .el-input .el-select__caret {
  color: #333;
}
.ivu-modal-header p,
.ivu-modal-header-inner {
  font-size: 18px;
}
.el-input.is-disabled .el-input__inner,.ivu-select-disabled .ivu-select-selection{
  background: inherit;
  color: #333;
}
.el-select:hover .el-input__inner,
.el-select .el-input__inner {
  border: 1px solid #333;
}
// .ivu-select-selection,
// .ivu-input {
//   border: 1px solid #333;
// }
input::-webkit-input-placeholder {
  color: #333 !important;
  font-size: 14px;
}
input::-moz-input-placeholder {
  color: #333 !important;
  font-size: 14px;
}
input::-ms-input-placeholder {
  color: #333 !important;
  font-size: 14px;
}
input {
  font-size: 14px !important;
}
.ivu-form .ivu-form-item-label {
  padding: 10px 12px 10px 0;
}
.ivu-btn > span,
.ivu-btn > .ivu-icon {
  font-size: 14px !important;
}
.ivu-select-item,
.ivu-select-selected-value,
.ivu-form .ivu-form-item-label,
.ivu-select-placeholder,
.ivu-input {
  font-size: 14px !important;
  color: #333 !important;
}

label {
  color: #000;
}
.el-table__row,
.has-gutter tr th {
  div {
    font-size: 14px;
    color: #333;
  }
}
.ivu-select-item {
  font-size: 18px !important;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 14px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 14px;
}
.ivu-select-placeholder {
  font-size: 14px !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 14px;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.anchorBL {
  display: none;
}
.aaa-enter-active {
  transition: transform 0.2s;
}
.aaa-leave-active {
  display: none;
  transition: transform 0s;
}
.aaa-enter {
  transform: translateX(-2000px);
}
.ivu-tree ul {
  font-size: 16px !important;
}
.form {
  .el-date-editor {
    input {
      border-radius: 0px;
      border-bottom: 0px;
    }
  }
  .ivu-input:hover,
  .ivu-input:focus {
    border-color: #dcdee2;
    box-shadow: none;
  }
  .ivu-input[disabled],
  fieldset[disabled] .ivu-input {
    color: #333;
    background: #fff;
  }

  .ivu-input {
    border: none;
  }
  .ivu-row:last-child{
    .ivu-col:nth-child(3),.ivu-col:nth-child(5){
      .tbNone::after{
        display: none;
      }
    }
    .ivu-col:nth-child(5){
      .tbNone{
        .ivu-form-item-label::after{
          display: none;
        }
      }
      
    }
  }
  .ivu-row{
    .ivu-col:nth-child(5){
      .tbNone{
        .ivu-form-item-label::after{
          display: none;
        }
      }
      
    }
  }
  .ivu-form-item {
    position: relative;
    margin-bottom: 0px;
    // &.tbNone:last-child::after {
    //   display: none !important;
    // }
    &:after {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 1px;
      border-top: 1px solid #ddd;
      visibility: inherit;
    }
  }
  .ivu-row {
    & .ivu-col:nth-child(2) .ivu-form-item-label:after {
      border-left: none !important;
    }
    & .ivu-form-item:after {
      /*border-bottom: 0px;*/
    }
    &:last-child .ivu-form-item {
      border-bottom: 1px solid #ddd;
    }
  }
  .ivu-form-item-label {
    position: relative;
    &:after {
      border-left: 1px solid #ddd;
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: 0px;
      top: 0px;
    }
  }
  .ivu-row {
    .ivu-select-selection {
      border: none;
      border-right: 1px solid #ddd;
      border-radius: 0;
      outline: none;
    }
  }
  .ivu-select-visible .ivu-select-selection {
    box-shadow: none;
  }
  .textareaList {
    .ivu-form-item-label {
      height: 49px;
      line-height: 2.5;
    }
  }
  .ivu-form-item-content {
    position: relative;
    &:after {
      border-left: 1px solid #ddd;
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: 0px;
      top: 0px;
    }
    & .ivu-input-wrapper {
      position: relative;
      &:after {
        border-right: 1px solid #ddd;
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        right: 0px;
        top: 0px;
      }
    }
  }
  .lastBorder {
    /*.ivu-form-item{*/
    /*&:after{*/
    border-bottom: 1px solid #ddd;
    /*}*/
    /*}*/
  }
}
</style>
